interactions:
- request:
    body: '{"werk": {"title": "Configuration File Format Change", "date": "2024-05-15T00:00:00Z",
      "level": "1", "versions": ["2.0.0"], "werk_class": "breaking", "component":
      "configuration", "compatible": false, "werk_text": "Changed configuration file
      format from INI to YAML for better structure. Users need to migrate their configuration
      files. Old format will not work after upgrade."}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"6a9d3156-ea47-41bf-9808-68f4dae4aebc","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":3,"user_impact_clarity_score":2,"paragraph_division_score":1,"non_compatible_werk_score":2,"english_style_score":2},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"No
        improvements necessary.","user_impact_clarity_suggestions_to_improve_text":"Explain
        that after upgrading, users must manually convert their existing configuration
        files from INI to YAML format to ensure the system continues to work correctly.
        Specify that failure to migrate will cause the configuration to be ignored
        or cause errors, potentially disrupting monitoring. Provide guidance or references
        on how to perform the migration, and mention if any tools or scripts are available
        to assist.","paragraph_division_suggestions_to_improve_text":"Break the text
        into two paragraphs: first, explain the change from INI to YAML format; second,
        state that users need to migrate their configuration files because the old
        format will not work after upgrade.","non_compatible_werk_suggestions_to_improve_text":"If
        you have existing configuration files in the old INI format, you must migrate
        them to the new YAML format after upgrading. Run the migration tool ''cmk-migrate-config''
        or manually convert your INI files to YAML format before restarting the service.
        This helps users immediately identify if they are affected and know exactly
        what to do.","english_style_suggestions_to_improve_text":"Start with the component
        name, e.g., ''Configuration files''. Use active voice and strong verbs, e.g.,
        ''Configuration files now use YAML format instead of INI.'' Split into two
        sentences to separate the change and the user action: ''Users must migrate
        their configuration files because the old INI format will not work after the
        upgrade.'' Remove vague phrases like ''for better structure'' or replace with
        a more specific benefit if known."}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"werk": {"title": "Configuration File Format Change", "date": "2024-05-15T00:00:00Z",
      "level": "1", "versions": ["2.0.0"], "werk_class": "breaking", "component":
      "configuration", "compatible": false, "werk_text": "Changed configuration file
      format from INI to YAML for better structure. Users need to migrate their configuration
      files. Old format will not work after upgrade."}, "evaluation": {"aggregated_scores":
      {"grammar_score": 3, "user_impac[...]
