interactions:
- request:
    body: '{"werk": {"title": "Simple Feature Implementation", "date": "2024-01-15T10:30:00Z",
      "level": "2", "versions": ["1.0.0"], "werk_class": "feature", "component": "core",
      "compatible": true, "werk_text": "Added new feature for better user experience.
      The feature improves workflow efficiency."}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"7248434a-5a1c-429f-bf35-3f9bc3084136","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":3,"user_impact_clarity_score":1,"paragraph_division_score":1,"non_compatible_werk_score":null,"english_style_score":1},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"No
        grammar improvements necessary.","user_impact_clarity_suggestions_to_improve_text":"Specify
        the new feature and explain how it changes user interaction by improving specific
        workflows, making tasks easier or faster, and indicate if users need to enable
        or configure anything to benefit from it.","paragraph_division_suggestions_to_improve_text":"Divide
        the text into two paragraphs: first, state the addition of the new feature;
        second, explain how this feature improves workflow efficiency.","non_compatible_werk_suggestions_to_improve_text":null,"english_style_suggestions_to_improve_text":"Specify
        the component or feature name at the start. Use strong verbs to describe what
        was added or changed. Remove vague phrases like ''better user experience''
        and instead describe the concrete improvement. Combine the two sentences into
        one concise statement focusing on the change and its effect, for example:
        ''[Component] improves workflow efficiency by [specific action].''"}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
version: 1
