/* Generel styles */
td {
    vertical-align: top;
}


body {
    background-attachment:fixed;
}

body.main, body.bottom {
  background-color: #97a8ab;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-position: -420px 0px;
  margin: 0px;
  padding: 0px;
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
}

/* side frame */
body.side {
  background-image: url("images/background-side.jpg");
  background-repeat: repeat;
  background-position: -200px;
  overflow:hidden;
  border-right: 1px solid #ddd;
  padding: 0px;
  margin: 0px;
}

body.top {
    /* border-bottom: 1px solid white; */
    background-image: url("images/background-top.jpg");
    background-repeat: repeat;
    background-position: top right;
    margin: 0px;
    padding: 0px;
    text-align: right;
    vertical-align: bottom;
    font-family: arial, helvetica, sans-serif;
    font-size: 8pt;
}

body.top div.loggedin {
    color: white;
    margin-right: 280px;
    margin-top: 34px;
}


body.bottom {
    border-top: 2px solid #ddd;
    padding-left: 40px;
}

a.bottomnavi {
    border: 1px solid #fff;
    border-top-style: none;
    -moz-border-radius: 2px;
    display: block;
    width: 100px;
    height: 19px;
    margin-right: 4px;
    margin-top: 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align middle;
    font-size: 8pt;
}

a.bottomnavi:hover {
    color: white;
    border-color: white
    background-color: #abc;
    font-weight: bold;
}

body.main {
    padding-left: 18px;
}


input, td, select {
    font-size: 9pt;
}

table.footer { 
  width: 100%;
  border-top: 1px dotted #468;
  margin-top: 1em;
  color: #246;
}

.footer td.left   { text-align: left; }
.footer td.middle { text-align: center; }
.footer td.right  { text-align: right; }
.footer a { color: #246; }

h1 {
    color: white;
    font-size: 17pt;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
}

table.heading {
    width: 100%;
    margin-bottom: 6px;
    border-bottom: 1px solid black;
    margin-top: 0px;
    padding-top: 3px;
}

table.heading td {
    vertical-align: bottom;
    padding: 0px;
}

table.heading td.right img {
    margin-left: 15px;
    margin-right: 8px;
}
table.heading b.headtime { 
  color: black;
  font-size: 120%;
}
table.heading td.right {
    text-align: right;
    white-space: nowrap;
}

/* site header --------------------------------------------------------------- */
table.siteheader {
    margin-bottom: 0px;
    margin-top: 5px;
}

table.siteheader td img {
    vertical-align: middle;
}

table.siteheader td a {
    height: 18px;
    display: block;
    padding: 2px 1ex;
    border-style: solid;
    text-decoration: none;
    vertical-align: middle;
}

table.siteheader td.online a {
    border-width: 1px;
    background-color: #cfa;
    border-color: #222 #ccc #fff #555;
    color: #080;
}

table.siteheader td.offline a {
    border-width: 1px;
    background-color: #fca;
    border-color: #222 #ccc #fff #555;
    color: #800;
}

table.siteheader td.disabled a {
    border-width: 1px;
    background-color: #ccc;
    border-color: #ccc #777 #444 #aaa;
    color: #444;
}

/* navigation ---------------------------------------------------------------- */
table.navi {
    /* border: 1px solid white; */
    /* padding: 10px; */
}
a.navi {
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    -moz-border-radius: 3px;
    background-color: #69a;
    padding: 3px 2px 0px 2px;
    text-decoration: none;
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
    /* line-height: 1.5em; */
    font-size: 8pt;
    font-weight: bold;
    width: 140px;
    height: 18px;
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

div.naviend {
    width: 0px;
    height: 0px;
    display: block;
    float: none;
    background-color: green;
    overflow: hidden;
}

a.navi:hover {
    background-color: #bcd;
}

a.navi.filter {
    background-color: #da0;
}
a.navi.filter:hover {
    background-color: #fc0;
}

a.navi.context {
    background-color: #5f8b98;
}
a.navi.context:hover {
    background-color: #8bc;
    border-color: #fff;
}



/* tabs ---------------------------------------------------------------------- */

table.tabs td { 
  vertical-align: bottom;
  padding: 0px;
  border: 0px;
  height: 3em;
}

table.tabs { 
  border-bottom: 1px solid black;
  width: 100%;
}

input.tab, input.tabactive {
  -moz-border-radius: 12px 12px 0px 0px;
  margin-bottom: 0px;
  color: #000;
  padding: 0.4ex 1em;
  border-style: none;
  vertical-align: top;
  margin-right: 0.3ex;
}

input.tab:hover { 
  padding-bottom: 10px;
}

input.tabactive { 
  padding-bottom: 6px;
  border-bottom-style: none;
}

table.tabs td.pad { 
  text-align: right;
  padding-bottom: 2px;
}

table.tabs td.pad img { 
  margin: 0px;
  padding: 0px;
}

table.tabs td.pad b { 
  font-size: 120%;
  font-weight: bold;
  color: #246;
  margin-bottom: 60px;
}



table#tabs { 
  margin-bottom: 1ex;
}

/* table of services -------------------------------------------------------------- */

table.services th {
    font-weight: normal;
    border-left: 1px dotted #366;
    border-right: 1px dotted #366;
    background-color: #abb;
    padding: 0px 4px;
    text-align: center;
    font-size: 9pt;
    color: white;

}
table.services th.tablegap {
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-position: center;
}

table.services { 
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
    margin-top: 8px;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

table.services tr.odd0  { background-color: #eee; } 
table.services tr.even0 { background-color: #ddd; }

table.services tr.odd1  { background-color: #ffc; } 
table.services tr.even1 { background-color: #ffa; }

table.services tr.odd2  { background-color: #fcc; } 
table.services tr.even2 { background-color: #faa; }

table.services tr.odd3  { background-color: #fdc; } 
table.services tr.even3 { background-color: #fea; }


table.services td { 
  border: 1px solid #bbb;
  padding: 0.2ex 1ex;
}

table.services td.host { 
  border-style: none;
  font-weight: bold;
  padding-top: 1ex;
  padding-left: 0px;
  font-size: 120%;
}

table.services td.singleicon img {
    margin: 0px;
    padding: 0px;
    border-style: none;
}
table.services td.singleicon {
    width: 16px;
    text-align: center;
}
tr.groupheader td {
    border-style: none; 
    padding: 0px;
    padding-top: 4px;
    margin: 0px;
}

tr.groupheader td table {
    border-style: none; 
    padding: 0px;
    margin: 0px;
}

tr.groupheader table td {
   border-style: none;
   padding: 0px;
   margin: 0px;
   padding-top: 2px;
   font-weight: bold;
}
tr.groupheader a {
   color: black;
   text-decoration: none;
}

tr.groupheader a:hover {
    text-decoration: underline;
}

.services div.hostdown { 
    background-color: #f22;
    -moz-border-radius: 4px;
    border: 2px solid #000;
    padding-left: 3px;
    padding-right: 3px;
}


/*
  ____       _       _                
 |  _ \ __ _(_)_ __ | |_ ___ _ __ ___ 
 | |_) / _` | | '_ \| __/ _ \ '__/ __|
 |  __/ (_| | | | | | ||  __/ |  \__ \
 |_|   \__,_|_|_| |_|\__\___|_|  |___/

*/                                    
table.services img {
    border-style: none;
}
table.services td.age { 
  text-align: right;
  color: #666;
  white-space: nowrap;
}

table.services td.agerecent { 
  text-align: right;
  font-weight: bold;
}

td.badflag {
    font-weight: bold;
    background-color: #f64;
}
td.goodflag {
    color: #080;
}

/* state in group header */
.groupheader td.state {
  width: 50px;
  padding: 2px 5px;
  border: 1px solid white;
} 

td.state {  
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

td.count {
  text-align: right;
  font-weight: bold;
  font-family: sans-serif;
}

td.statex {  /* zero count */
  color: #ccc;
}

/* Colors of the five possible host and service states */
/* HIRN: .hstate0 a muss raus. Dass muss ich spezifischer
   machen */
.state0, .hstate0, .state0 a, .hstate0 a { 
  background-color: #0a2;
  color: #fff;
}

.state1, .state1 a { 
  background-color: #ff0;
  color: #000;
}

.state2, .hstate1, .state2 a, .hstate2 a { 
  background-color: #f00;
  color: #fff;
}

.state3, .hstate2, .state3 a, .hstate2 a { 
  background-color: #f80;
  color: #fff;
}


/* *some* problem */
.states, .hstates, .states a, .hstates a { 
  background-color: #f08;
  color: #fff;
}

.statep, .hstatep, .statep a, .hstatep a { 
  background-color: #888;
  color: #fff;
}

td.icons {
    white-space: nowrap;
}
td.icons img {
 height: 20px;
 margin-right: 3px;
}

img.icon {
   border-style: none;
}

/* Styles used by specific painters. These should be modularized later ... */
div.objectlist div {
  float: left;
  padding: 1px 3px;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
}


table.services td.pnpgraph {
   padding: 0px;
   border-bottom: 1px solid #666;
   border-right: 1px solid #666;
}

/*
 _                            _       
| |    __ _ _   _  ___  _   _| |_ ___ 
| |   / _` | | | |/ _ \| | | | __/ __|
| |__| (_| | |_| | (_) | |_| | |_\__ \
|_____\__,_|\__, |\___/ \__,_|\__|___/
            |___/                     
*/

td.groupheader {
    margin: 0px;
    padding: 0px;
}
td.groupheader table {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

/* boxed layout */
table.boxlayout {
}
table.boxlayout td.boxcolumn {
    vertical-align: top;
    padding-right: 20px;
}


.inputerror input { 
  background-color: #f84;
}

/* table layout */
table.services td.tablegap {
  border: none;
  background-color: #97a8ab;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-position: center;
}

/* tiled layout */
table.tiled td {
    border-style: none;
}
table.tiled tr.groupheader td {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 4px;
}
.tile {
   width: 160px;
   border: 1px solid black;
   float: left;
   -moz-border-radius: 4px;
   margin-right: 3px;
   margin-bottom: 3px;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
}

.tile table {
height: 70px;
}
.tile td {
    border-style: none;
   font-size: 7pt;
}
.tile.sstate0, .tile.hhstate0 {
    background-color: #afa;
}
.tile.sstate1 {
    background-color: #ff0;
}
.tile.sstate2, .tile.hhstate1 {
    background-color: #f42;
}
.tile.sstate3, .tile.hhstate2 {
    background-color: #f80;
}

.tile table {
width: 100%;
}
.tile td.tl, .tile td.bl {
    text-align: left;
}
.tile td.tr, .tile td.br {
    text-align: right;
}
.tile td.center {
    vertical-align: middle;
}
.tile td.center, .tile td.cont {
    text-align: center;
}
.tile td.bl, .tile td.br {
    vertical-align: bottom;
}

.tile td.bl, .tile td.br, .tile td.tl, .tile td.tr {
height: 20px;
}

/* forms in general */

h2.formcaption { 
  font-size: 100%;
  margin-bottom: 0px;
}

table.form {
  padding: 1ex;
  border-collapse: collapse;
  empty-cells: show;
  /* width: 100%; */
}

table.form input { 
    font-size: 9pt;
}
table.form td { 
  vertical-align: top;
  padding: 0.8ex 1ex;
    font-size: 9pt;
}

table.form td.legend { 
  /* width: 20%; */
  border: 1px solid black;
  vertical-align: top;
  color: white;
}

table.form td.content { 
  padding-right: 2ex;
  /* width: 75%; */
  border: 1px solid black;
}

/* colors of specific forms */

table#table_filter {
    margin-top: 8px;
}
table#table_filter td.content { 
  background-image: url("images/background-gold.jpg");
  background-repeat: repeat;
  background-position: center;
}
table#table_filter td.legend, 
input.tab#table_filter, 
input.tabactive#table_filter    { background-color: #ca0; }

table#displayoptions td.content { 
  background-image: url("images/background-brown.jpg");
  background-repeat: repeat;
  background-position: center;
}
table#displayoptions td.legend, 
input.tab#displayoptions, 
input.tabactive#displayoptions    { background-color: #f84; }

table#table_actions {
    margin-top: 8px;
}
table#table_actions td.content { 
  background-image: url("images/background-blue.jpg");
  background-repeat: repeat;
  background-position: center;
}

input.tab#results, input.tabactive#results { background-color: #fe6; }

table#table_actions td.legend, 
input.tabactive#table_actions,
input.tab#table_actions          { background-color: #589; }

/* input elements in forms */

table.form input.text { 
  width: 100%;
}

table.form input.number { 
    text-align: right;
}

div.textinputlegend { 
  font-size: 80%;
}

input.date, input.time { 
  padding: 0ex 0.5ex;
  font-family: monospace;
}

/* actions */
div.really, div.success, div.error, div.message, div.warning { 
  margin: 2em 2em 2em 2em;
  -moz-border-radius: 1ex;
  padding: 1em 2em;
  border-width: 2px;
  border-style: solid;
}

div.really { 
  background-color: #f88;
  border-color: #800;
}

div.really input { 
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5ex 2em;
}

div.success { 
  background-color: #8f8;
  border-color: #080;
}
div.message {
  background-color: #8cf;
  border-color: #048;
}

div.error { 
  background-color: #f84;
  border-color: #e40;
}

div.warning { 
  background-color: #ff4;
  border-color: #fc0;
}
/* -------------------------------------------------------------- */

img.siteicon {
width: 24px;
height: 24px;
border: 1px solid #666;
}

/* ---- site overview ------------------------------------------- */
table.siteoverview {
}

table.siteoverview td {
    vertical-align: bottom;
    padding-bottom: 13px;
}

table.siteoverview td.icon img {
    margin-right: 10px;
    border: 1px solid #666;
    margin-left: 20px;
}

table.siteoverview table {
    margin-top: 3px;
    border-collapse: collapse;
    empty-cells: show;
    border: 3px solid white;
    height: 64px;
}

table.siteoverview table td {
    border: 1px solid #666;
    text-align: center;
    width: 3em;
    padding-bottom: 0px;
}

table.siteoverview table th {
    background-color: #ddd;
    text-align: left;
    border-right: 1px solid #666;
    padding-left: 0.5ex;
}
table.siteoverview table td.legend {
    background-color: #ddd;
    text-align: left;
}
table.siteoverview table td.zero {
    background-color: #cbc;
}

/* ---- logwatch ------------------------------------------------ */
div#logwatch {
    margin-top: 1ex;
}

div#logwatch div.chunk {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5ex;
  border-color: #bbb #555 #222 #bbb;
  background-color: white;
}

div#logwatch a {
  font-family: sans-serif;
  font-weight: bold;
  width: 4em;
  color: #008;
}

div#logwatch a b {
  color: #08f;
}

div#logwatch a.ack {
  background-color: #33c;
  color: #fff;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc #888 #333 #777;
  padding: 0.3ex 1ex;
  -moz-border-radius: 6px;
}

div#logwatch pre {
  background-color: #ddd;
  padding: 0.2ex 0.8ex;
  border: none;
  margin: 0px;
}

div#logwatch pre.WARN {
  background-color: #ff8;
}

div#logwatch pre.CRIT {
  background-color: #f88;
}

div#logwatch td.WARN, td.CRIT {
  width: 5em;
  text-align: center;
  padding: 0em 0.5ex;
  margin: 0px;
  border: 1px solid black;
  font-weight: bold;
}

div#logwatch td.WARN {
  background-color: #ff0;
}

div#logwatch td.CRIT {
  background-color: #f00;
  color: white;
}

div#logwatch table.section {
  margin: 0ex 0ex 0.8ex 0ex;
  width: 100%
}

div#logwatch .date {
  font-weight: normal;
  padding-left: 1ex;
  color: #666;
}

div#logwatch td.button {
  text-align: right;
}

div#logwatch td.button a {
  background-color: #cca;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #888 #333 #ddd;
  padding: 0.1ex 1ex;
  -moz-border-radius: 4px;
}

div#logwatch td.button a:active {
  background-color: #aa8;
}

/* --- navigation tabs in logwatch ------------------ */

div#logwatch a.tab, div#logwatch a.tabactive {
  -moz-border-radius: 12px 12px 0px 0px;
	display: block;
  margin-bottom: 0px;
  color: #000;
  padding: 0.4ex 1em;
  border-style: none;
  vertical-align: top;
  margin-right: 0.3ex;
	background-color: #fc0;
	border-bottom: 1px solid black;
	text-decoration: none;
	font-size: 100%;
	width: 140px;
}

div#logwatch a.tab:hover {
  padding-bottom: 10px;
}

div#logwatch a.tabactive {
  padding-bottom: 6px;
  border-bottom-style: none;
}

/* edit permissions */
table.permissions {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0px;
}

table.permissions td, table.permissions th {
    border: 1px solid white;
    padding: 3px 0.5ex;
    vertical-align: top;
}
table.permissions th {
    text-align: left;
    background-color: #98a;
    color: white;
}

table.permissions td i {
    font-size: 9pt;
}

table.permissions td.legend {
    background-color: #769;
    color: white;
}
table.permissions td.legend.sub {
    border-top-style: none;
    border-bottom-style: none;
    background-color: #87a;
    padding-left: 1em;
    font-size: 9pt;
    padding-top: 2px;
    padding-bottom: 0px;
}
table.permissions td.content {
    text-align: center;
    width: 6ex;
    vertical-align: middle;
}

table.permissions td.content.user {
    background-color: #b84;
}
table.permissions td.content.admin {
    background-color: #c85;
}
table.permissions td.content.guest {
    background-color: #d86;
}

/* view editor */
table.view {
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #ffc;
}
table.view td.legend, table.view td.content {
   border: 1px solid #884;
   padding: 2px 0.5ex;
    vertical-align: top;
}
table.view td.legend {
    padding-top: 3px;
    color: #884;
    vertical-align: top;
    white-space: nowrap;
    width: 150px;
}
div.viewdescription {
    color: #084;
    font-size: 7pt;
}
table.view td.content i {
    font-size: 8pt;
color: #995;
}
table.view table.filters {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 6px;
    margin-left: 3px;
width: 100%;
}
table.view div.filtercomment {
    margin-left: 0px;
    font-size: 8pt;
    width: 300px;
    font-style: italic;
    color: #c80;
    padding-bottom: 6px;
}


table.view table.filters td
{
   border-style: none;
   border-bottom: 1px dotted #cc8;
}


table.view table.filters th
{
    text-align: left;
    padding-bottom: 3px;
   border-bottom: 1px solid #cc8;
}

table.view table.filters td.usageshow
{
 background-color: #ff0;
}
table.view table.filters td.usagehide
{
 background-color: #f0f;
}
table.view table.filters td.usagehard
{
    background-color: #89f;
}
table.view table.filters td.usageoff
{
    background-color: #ffc;
}

table.view table.filters td.usageshow select
{
   background-color: #cc0;
}
table.view table.filters td.usagehide select
{
   background-color: #f6f;
}
table.view table.filters td.usagehard select
{
    background-color: #67c;
}

table.view table.filters td.widgetshow
{
    background-image: url("images/background-gold.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
    color: #000;
}
table.view table.filters td.widgetoff
{
    background-image: none;
    background-color: #ffc;
    color: #aa6;
}
table.view table.filters td.widgethard
{
    background-image: none;
    background-color: #abf;
    color: #000;
}
table.view table.filters td.widgethide
{
    background-image: none;
    background-color: #e8e;
    color: #000;
}

table.view table.filters td.title {
    /* border-style: none; */
    padding-right: 1em;
}

table.views {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1ex;
}

table.views td, table.views th{
    border: 1px solid #444;
    padding: 2px 1ex;
}

table.views th {
    background-color: #5b8;
    color: white;
}

table.views td.legend {
    background-color: #7ca;
}

table.views td.content {
    background-color: #8ec;
}

table.views td.edit {
    background-color: #6ab;
    text-align: center;
}

table.views td.buttons {
    padding: 3px;
    background-color: #888;
    vertical-align: middle;
}

a.button {
    background-color: #cca;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #888 #333 #ddd;
    padding: 0.1ex 1ex;
    height: 24px;
    -moz-border-radius: 4px;
    margin: 2px;
    font-size: 9pt;
}

/* Box with context links */
div.contextlinks a {
    font-size: 7pt;
    color: white;
}
div.contextlinks h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 7pt;
    font-weight: bold;
}
div.contextlinks {
    border: 1px solid white;
    background-color: #048;
    color: #ccf;
    padding: 2px 6px;
width: 200px;
}


/* --- plugins for sidebar ----------------------------------- */
div#check_mk_sidebar {
    margin-top: 1ex;
    margin-bottom: 1ex;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
}
div#check_mk_sidebar td {font-size:8pt;color:#fff;}

div#check_mk_sidebar div#side_header,
div#check_mk_sidebar div#side_footer {height:30px;width:100%;}
div#check_mk_sidebar div#side_content {height:500px;margin:auto;overflow:hidden;color:#000000;}

div#check_mk_sidebar div#side_header div.title {width:100%;}
div#check_mk_sidebar div#side_header div.title a {font-weight:bold;color:#fff;font-size:12pt;}
div#check_mk_sidebar div#side_header div.logo {float:right;}

div#check_mk_sidebar div#side_header div.nav,
div#check_mk_sidebar div#side_footer div.nav {width:100%;margin:auto;text-align:center;}
div#check_mk_sidebar div#side_header div.nav img
div#check_mk_sidebar div#side_footer div.nav img {margin:auto;width: 20px;}

div#check_mk_sidebar div#side_header div#slit_top {background-image:url(side_slit_top.png);background-color:transparent;}
div#check_mk_sidebar div#side_header div#slit_bottom {background-image:url(side_slit_bottom.png);background-color:transparent;}

div#check_mk_sidebar div.section {
    background-image: url("images/background-gray.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
    border-width: 1px;
    margin-bottom: 3px;
    border-style: solid;
    border-color: #222 #ccc #fff #444;
    background-color: #444;
    -moz-border-radius: 4px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 2px;
}

div#check_mk_sidebar div.content {
    margin-top: 2px;
    margin-bottom: 3px;
}
div#check_mk_sidebar b.heading {
    position: relative;
    left: 0px;
    top: 1px;
    color: #036;
    font-size: 9pt;
}
div#check_mk_sidebar h3 {
    margin: 0px;
    color: #fff;
    font-size: 8pt;
}

div#check_mk_sidebar a {
    text-decoration: none;
    font-weight: normal;
    color: #eee;
}
div#check_mk_sidebar div.footnotelink {
    text-align: right;
    padding-right: 3px;
}
div#check_mk_sidebar div.footnotelink a {
    font-size: 6pt;
    color: #fff;
    border: 1px solid #333;
    -moz-border-radius: 3px;
    background-color: #666;
    padding: 0px 4px;
    margin-left: 3px;
}
div#check_mk_sidebar a:hover {
    text-decoration: underline;
    color: #fff;
}
li.sidebar {
    margin-left: 0px;
    padding-left: 1ex;
}
div#check_mk_sidebar ul.link {
    margin: 0px;
    font-size: 8pt;
    padding-left: 32px;
}
div#check_mk_sidebar ul.link li {
    margin: 0px;
    padding: 0px;
}

div#check_mk_sidebar div.footnote {
    width: 100%;
    text-align: right;
}
div#check_mk_sidebar div.footnote a {
    font-size: 7pt;
}

div#check_mk_sidebar div.snapinexception {
    background-color: #f88;
    -moz-border-radius: 4px;
    padding: 3px;
    border: 1px solid #f00;
}
div#check_mk_sidebar div.snapinexception h2 {
    font-size: 9pt;
    color: #f00;
    margin-top: 0px;
}
div#check_mk_sidebar div.snapinexception p {
    color: #800;
}

table.sidebarconfig {
  margin-top: 1em;
  border-collapse: collapse;
  empty-cells: show;
}

table.sidebarconfig th {
    background-color: #830;
    text-align: left;
    color: white;
    border: 1px solid #c60;
    padding: 2px 5px;
}

table.sidebarconfig td {
    background-color: #d72;
    border: 1px solid #f84;
    padding: 0px 5px;
}


div#mk_side_search {
	text-align: center;
}

div#mk_side_search input{
	margin: auto;
	width: 90%;
	
	font-size: 8pt;
}

div#mk_side_search #mk_search_results {
position: relative;
border: 1px solid white;
top: 1px;
background-color: #DFDFDF;
color: #000;
font-size: 80%;
width:140px;
}

div#mk_side_search #mk_search_results a {
display: block;
color: #000;
text-decoration: none;
text-align:left;
padding-left:5px;
width:135px;
}

div#mk_side_search #mk_search_results a:hover, div#mk_side_search #mk_search_results a.active {
background-color: #BFBFBF;
}

/* layout dataset */
table.dataset {
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #fec;
    margin-bottom: 15px;
    border: 1px solid #840;
    margin-top: 11px;
}

table.dataset td {
    border-bottom: 1px dotted #840;
    padding-bottom: 4px;
    padding: 1px 10px 5px 10px;
}
table.dataset td.left {
    padding-right: 10px;
    color: #fec;
    background-color: #840;
    border-color: #fec;
}

/* page for adding snapins */

table.add_snapin {
    margin: 0px;
    padding: 0px;
    border-spacing: 5px;
    empty-cells: hide;
}

table.add_snapin td {
    padding: 8px;
    background-color: #abc;
    width: 33%;
    -moz-border-radius: 8px;
    border-bottom: 1px solid #9ab;
    border-right: 1px solid #89a;
    min-height: 100px;
    color: #369;
}
table.add_snapin b {
    color: black;
}
table.add_snapin i {
    color: white;
}

