/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                ____        __             _ _                            |
|               |  _ \  ___ / _| __ _ _   _| | |_ ___                      |
|               | | | |/ _ \ |_ / _` | | | | | __/ __|                     |
|               | |_| |  __/  _| (_| | |_| | | |_\__ \                     |
|               |____/ \___|_|  \__,_|\__,_|_|\__|___/                     |
|                                                                          |
+--------------------------------------------------------------------------+
| Default values for general styles used in all parts of Multisite. These  |
| styles are used in the Status-GUI, WATO and other modules based on the   |
| basic Multisite layout. They are not used by the Mobile GUI.             |
'-------------------------------------------------------------------------*/

/* Change some general defaults of HTML that we do not like */
td, th {
    vertical-align: top;
}

div {
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
}

th {
    white-space: nowrap;
}

/* Default font size for the complete Multisite GUI */
button, input, td, th, select {
    font-size: 9pt;
}

/* Styling for input elements */
input, select, textarea {
    padding: 3px;
    border: 1px #73767A solid;
    outline-style: none;
    outline-width: medium;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}

form {
    margin: 0px;
}

input:hover, select:hover, textarea:hover {
    background-color: #EDECEB;
}


/* Select element with icons */
select.icon option {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 18px;
    padding-left:22px;
    height: 18px;
}


input.buttonlink {
    padding: 1px;
    font-size: 8pt;
}

a.button {
    background-color: #cca;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #888 #333 #ddd;
    padding: 0.1ex 1ex;
    height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 2px;
}

/* Image submit button styling */
label.image_button {
    display: block;
    margin: 0 auto;
    background: transparent url('images/image_button_l.png') no-repeat;
    background-position: 0 -30px;
    padding: 0 0 0 14px;
    height: 30px;
}
label.image_button:hover {
    background-position: 0 -60px;
}
label.image_button:active {
    background-position: 0 -90px;
}
label.image_button input {
    height: 30px;
    color: #fff;
    border: none;
    padding-right: 16px;
    background: transparent url('images/image_button_r.png') no-repeat;
    background-position: right -30px;
}
label.image_button input:hover {
    background-position: right -60px;
}
label.image_button input:active {
    background-position: right -90px;
}
label.image_button input[type="submit"]::-moz-focus-inner {
    border: 0px;
} 
/*for IE8 */
input[type="submit"]:focus {
    outline: none; 
}

input:hover, select:hover, textarea:hover {
    background-color: #EDECEB;
}

/* Images have a native size of 48x48 and are scaled down by the
   browser. That way if you select a zoom level in the browser,
   the quality of the images are better */

img.icon {
   width: 20px;
   height: 20px;
}

h1 {
    color: #fff;
    font-size: 17pt;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

div.livestatus.message {
    position: fixed;
    bottom: -10px;
    left: 10px;
    font-size: 8pt;
    z-index: 20;
}

/*-------------------------------------------------------------------------.
|                _____     _     _       _     _                           |
|               |  ___|__ | | __| | __ _| |__ | | ___                      |
|               | |_ / _ \| |/ _` |/ _` | '_ \| |/ _ \                     |
|               |  _| (_) | | (_| | (_| | |_) | |  __/                     |
|               |_|  \___/|_|\__,_|\__,_|_.__/|_|\___|                     |
|                                                                          |
+--------------------------------------------------------------------------+
| These styles are used by the {begin,end}_foldable_container() functions. |
'-------------------------------------------------------------------------*/

img.treeangle {
    width: 9px;
    height: 9px;
    margin-right: 3px;
    margin-top: 2px;
}
b.treeangle.title {
   font-weight: bold;
   color: #ffffff;
}
ul.treeangle {
    /* border: 1px solid #4060ff; */
    padding-left: 20px;
}
ul.treeangle li {
    margin: 0px;
    margin-left: 16px;
    padding-left: 20px;
    list-style: disc;
}



/*-------------------------------------------------------------------------.
|         ____       _                                                     |
|        |  _ \  ___| |__  _   _  __ _  __   ____ _ _ __ ___               |
|        | | | |/ _ \ '_ \| | | |/ _` | \ \ / / _` | '__/ __|              |
|        | |_| |  __/ |_) | |_| | (_| |  \ V / (_| | |  \__ \              |
|        |____/ \___|_.__/ \__,_|\__, |   \_/ \__,_|_|  |___/              |
|                                |___/                                     |
+--------------------------------------------------------------------------+
| html.debug_vars() outputs the variables in the current URL.              |
'-------------------------------------------------------------------------*/

table.debug_vars {
    border-collapse: collapse;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
table.debug_vars th {
    border: 1px solid #080;
    background-color: #8c8;
    font-weight: bold;
}
table.debug_vars td.left {
    background-color: #395;
    color: white;
    font-weight: bold;
}
table.debug_vars td.right {
    background-color: #8fc;
    color: black;
    font-weight: bold;
}
table.debug_vars td {
    padding: 2px 6px;
    border: 1px solid #050;
    font-family: courier, monospace;
}

/*-------------------------------------------------------------------------.
|             __  __                                                       |
|            |  \/  | ___  ___ ___  __ _  __ _  ___  ___                   |
|            | |\/| |/ _ \/ __/ __|/ _` |/ _` |/ _ \/ __|                  |
|            | |  | |  __/\__ \__ \ (_| | (_| |  __/\__ \                  |
|            |_|  |_|\___||___/___/\__,_|\__, |\___||___/                  |
|                                        |___/                             |
+--------------------------------------------------------------------------+
| Styles for messages-boxes in various situations (called by htmllib.py)   |
'-------------------------------------------------------------------------*/

div.really {
    background-color: #f88;
    border-color: #800;
}

div.success {
    background-color: #8f8;
    border-color: #080;
}

div.message {
    background-color: #8cf;
    border-color: #048;
}

div.error {
    background-color: #f84;
    border-color: #e40;
}

div.warning {
    background-color: #ff4;
    border-color: #fc0;
}

/*-ValueSpec---------------------------------------------------------------.
|          __     __    _            ____                                  |
|          \ \   / /_ _| |_   _  ___/ ___| _ __   ___  ___                 |
|           \ \ / / _` | | | | |/ _ \___ \| '_ \ / _ \/ __|                |
|            \ V / (_| | | |_| |  __/___) | |_) |  __/ (__                 |
|             \_/ \__,_|_|\__,_|\___|____/| .__/ \___|\___|                |
|                                         |_|                              |
+--------------------------------------------------------------------------+
| Styles needed for HTML code produced by valuespec.py.                    |
'-------------------------------------------------------------------------*/

td.content ul.help {
    color: white;
    font-style: italic;
    font-size: 8pt;
    padding: 0;
    margin: 0 0 5px 0;
    /* width: 300px; */
}

table.dictionary {
}

table.dictionary td.dictright {
    white-space: nowrap;
    padding: 0px;
    border-style: none;
}

div.dictelement * {
    font-size: 8pt;
}
div.dictelement {
    font-size: 8pt;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 3px;
    float: none;
}

table.valuespec_tuple td.tuple_left {
    padding-right: 10px;
}

table.valuespec_tuple td.tuple_right,
table.valuespec_tuple td.tuple_left {
    vertical-align: top;
    padding-bottom: 10px;
}

table.valuespec_tuple span.title {
    font-size: 8pt;
}

table.vs_date {
    border-spacing: 0px;
}

table.vs_date td {
    padding-top: 0px;
    padding-right: 3px;
}
table.vs_date th {
    text-align: center;
    font-weight: normal;
    font-size: 7pt;
    padding: 0px;
}

table.valuespec_listof td.vlof_buttons {
    margin-right: 5px;
}
table.valuespec_listof td.vlof_content {
    border: 1px solid white;
    box-shadow: 1px 1px 2px #808080;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
}
