body.page {
  background-color: #97a8ab;
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-position: center;
  margin: 0px 0px 0px 8px;
  padding: 0px;
  font-family: arial, helvetica, sans-serif;
  font-size: 85%;
}

table.footer { 
  width: 100%;
  border-top: 1px dotted #468;
  margin-top: 1em;
  color: #246;
}

.footer td.left   { text-align: left; }
.footer td.middle { text-align: center; }
.footer td.right  { text-align: right; }
.footer a { color: #246; }

h1 {
    font-size: 13pt;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    /* background-color: #ccc; */
    /* border-bottom: 2px solid #666; */
    /* border-right: 2px solid #888; */
    /* padding: 2px 0px 2px 10px; */
    -moz-border-radius: 12px;
}

table.heading {
    width: 100%;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
    margin-top: 0px;
    padding-top: 3px;
}

table.heading td {
    vertical-align: bottom;
    padding: 0px;
}

table.heading td.right img {
    margin-left: 15px;
    margin-right: 8px;
}
table.heading b.headtime { 
  color: black;
  font-size: 120%;
}
table.heading td.right {
    text-align: right;
    white-space: nowrap;
}

/* site header --------------------------------------------------------------- */
table.siteheader {
    margin-bottom: 0px;
    margin-top: 5px;
}

table.siteheader td img {
    vertical-align: middle;
}

table.siteheader td a {
    height: 18px;
    display: block;
    padding: 2px 1ex;
    border-style: solid;
    text-decoration: none;
    vertical-align: middle;
}

table.siteheader td.online a {
    border-width: 1px;
    background-color: #cfa;
    border-color: #222 #ccc #fff #555;
    color: #080;
}

table.siteheader td.offline a {
    border-width: 1px;
    background-color: #fca;
    border-color: #222 #ccc #fff #555;
    color: #800;
}

table.siteheader td.disabled a {
    border-width: 1px;
    background-color: #ccc;
    border-color: #ccc #777 #444 #aaa;
    color: #444;
}

/* tabs ---------------------------------------------------------------------- */

table.tabs td { 
  vertical-align: bottom;
  padding: 0px;
  border: 0px;
  height: 3em;
}

table.tabs { 
  border-bottom: 1px solid black;
  width: 100%;
}

input.tab, input.tabactive {
  -moz-border-radius: 12px 12px 0px 0px;
  margin-bottom: 0px;
  color: #000;
  padding: 0.4ex 1em;
  border-style: none;
  vertical-align: top;
  margin-right: 0.3ex;
}

input.tab:hover { 
  padding-bottom: 10px;
}

input.tabactive { 
  padding-bottom: 6px;
  border-bottom-style: none;
}

table.tabs td.pad { 
  text-align: right;
  padding-bottom: 2px;
}

table.tabs td.pad img { 
  margin: 0px;
  padding: 0px;
}

table.tabs td.pad b { 
  font-size: 120%;
  font-weight: bold;
  color: #246;
  margin-bottom: 60px;
}



table#tabs { 
  margin-bottom: 1ex;
}

/* table of services -------------------------------------------------------------- */

table.services { 
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

table.services tr.odd0  { background-color: #eee; } 
table.services tr.even0 { background-color: #ddd; }

table.services tr.odd1  { background-color: #ffc; } 
table.services tr.even1 { background-color: #ffa; }

table.services tr.odd2  { background-color: #fcc; } 
table.services tr.even2 { background-color: #faa; }

table.services tr.odd3  { background-color: #fdc; } 
table.services tr.even3 { background-color: #fea; }


table.services td { 
  border: 1px solid #bbb;
  padding: 0.2ex 1ex;
}

table.services td.host { 
  border-style: none;
  font-weight: bold;
  padding-top: 1ex;
  padding-left: 0px;
  font-size: 120%;
}

tr.groupheader table {
    border-style: none;
    padding: 0px 1ex 0px 0px;
}

tr.groupheader td {
   border-style: none;
   padding: 0px;
}

td.host b.down { 
  background-color: red;
  -moz-border-radius: 0.5ex;
  border: 2px solid #800;
  padding: 0px 1ex;
}

td.host a { 
  color: black;
  text-decoration: none;
}

td.host a:hover { 
  color: #444;
  text-decoration: underline;
}

table.services td.age { 
  text-align: right;
  color: #666;
  white-space: nowrap;
}

table.services td.agerecent { 
  text-align: right;
  font-weight: bold;
}

td.state0, td.state1, td.state2, td.state3, td.state4, td.statep, td.hstate0, td.hstate1, td.hstate2, td.hstatep { 
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

td.state0, td.hstate0 { 
  background-color: #4a2;
  color: #6f4;
}

td.state1 { 
  background-color: #ff0;
  color: #000;
}

td.state2, td.hstate1 { 
  background-color: #f00;
  color: #fff;
}

td.state3, td.hstate2 { 
  background-color: #f80;
  color: #fff;
}

td.statep, td.hstatep { 
  background-color: #888;
  color: #fff;
}

/* boxed layout */
table.boxlayout {
}
table.boxlayout td.boxcolumn {
    vertical-align: top;
    padding-right: 20px;
}


.inputerror input { 
  background-color: #f84;
}


/* forms in general */

h2.formcaption { 
  font-size: 100%;
  margin-bottom: 0px;
}

table.form {
  padding: 1ex;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

table.form td { 
  vertical-align: top;
  padding: 0.8ex 1ex;
}

table.form td.legend { 
  font-weight: bold;
  width: 20%;
  border: 1px solid black;
}

table.form td.content { 
  padding-right: 2ex;
  width: 75%;
  border: 1px solid black;
}

/* colors of specific forms */


table#filter td.content { 
  background-image: url("background-gold.jpg");
  background-repeat: repeat;
  background-position: center;
}
table#filter td.legend, 
input.tab#filter, 
input.tabactive#filter    { background-color: #fc0; }

table#displayoptions td.content { 
  background-image: url("background-brown.jpg");
  background-repeat: repeat;
  background-position: center;
}
table#displayoptions td.legend, 
input.tab#displayoptions, 
input.tabactive#displayoptions    { background-color: #f84; }


table#actions td.content { 
  background-image: url("background-blue.jpg");
  background-repeat: repeat;
  background-position: center;
}

input.tab#results, input.tabactive#results { background-color: #fe6; }

table#actions td.legend, 
input.tabactive#actions,
input.tab#actions          { background-color: #589; }

/* input elements in forms */

table.form input.text { 
  width: 100%;
}

div.textinputlegend { 
  font-size: 80%;
}

input.date, input.time { 
  padding: 0ex 0.5ex;
  font-family: monospace;
}

/* actions */
div.really, div.success, div.error, div.message { 
  margin: 2em 2em 2em 2em;
  -moz-border-radius: 1ex;
  padding: 1em 2em;
  border-width: 2px;
  border-style: solid;
}

div.really { 
  background-color: #f88;
  border-color: #800;
}

div.really input { 
  color: #fff;
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5ex 2em;
}

div.success { 
  background-color: #8f8;
  border-color: #080;
}
div.message {
  background-color: #8cf;
  border-color: #048;
}

div.error { 
  background-color: #f84;
  border-color: #e40;
}

/* -------------------------------------------------------------- */

img.siteicon {
width: 24px;
height: 24px;
border: 1px solid #666;
}

/* ---- site overview ------------------------------------------- */
table.siteoverview {
}

table.siteoverview td {
    vertical-align: bottom;
    padding-bottom: 13px;
}

table.siteoverview td.icon img {
    margin-right: 10px;
    border: 1px solid #666;
    margin-left: 20px;
}

table.siteoverview table {
    margin-top: 3px;
    border-collapse: collapse;
    empty-cells: show;
    border: 3px solid white;
    height: 64px;
}

table.siteoverview table td {
    border: 1px solid #666;
    text-align: center;
    width: 3em;
    padding-bottom: 0px;
}

table.siteoverview table th {
    background-color: #ddd;
    text-align: left;
    border-right: 1px solid #666;
    padding-left: 0.5ex;
}
table.siteoverview table td.legend {
    background-color: #ddd;
    text-align: left;
}
table.siteoverview table td.zero {
    background-color: #cbc;
}

/* ---- logwatch ------------------------------------------------ */

div#logwatch div.chunk {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5ex;
  border-color: #bbb #555 #222 #bbb;
  background-color: white;
}

div#logwatch a {
  font-family: sans-serif;
  font-weight: bold;
  width: 4em;
  color: #008;
}

div#logwatch a b {
  color: #08f;
}

div#logwatch a.ack {
  background-color: #33c;
  color: #fff;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc #888 #333 #777;
  padding: 0.3ex 1ex;
  -moz-border-radius: 6px;
}

div#logwatch pre {
  background-color: #ddd;
  padding: 0.2ex 0.8ex;
  border: none;
  margin: 0px;
}

div#logwatch pre.context {
	display:none;
}

div#logwatch pre.WARN {
  background-color: #ff8;
}

div#logwatch pre.CRIT {
  background-color: #f88;
}

div#logwatch td.WARN, td.CRIT {
  width: 5em;
  text-align: center;
  padding: 0em 0.5ex;
  margin: 0px;
  border: 1px solid black;
  font-weight: bold;
}

div#logwatch td.WARN {
  background-color: #ff0;
}

div#logwatch td.CRIT {
  background-color: #f00;
  color: white;
}

div#logwatch table.section {
  margin: 0ex 0ex 0.8ex 0ex;
  width: 100%
}

div#logwatch .date {
  font-weight: normal;
  padding-left: 1ex;
  color: #666;
}

div#logwatch td.button {
  text-align: right;
}

div#logwatch td.button a {
  background-color: #cca;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #888 #333 #ddd;
  padding: 0.1ex 1ex;
  -moz-border-radius: 4px;
}

div#logwatch td.button a:active {
  background-color: #aa8;
}

/* --- navigation tabs in logwatch ------------------ */

div#logwatch a.tab, div#logwatch a.tabactive {
  -moz-border-radius: 12px 12px 0px 0px;
	display: block;
  margin-bottom: 0px;
  color: #000;
  padding: 0.4ex 1em;
  border-style: none;
  vertical-align: top;
  margin-right: 0.3ex;
	background-color: #fc0;
	border-bottom: 1px solid black;
	text-decoration: none;
	font-size: 100%;
	width: 140px;
}

div#logwatch a.tab:hover {
  padding-bottom: 10px;
}

div#logwatch a.tabactive {
  padding-bottom: 6px;
  border-bottom-style: none;
}

/* view editor */
table.view {
    /* width: 100%; */
    border-collapse: collapse;
    empty-cells: show;
    background-color: #ffc;
}
table.view td {
   border: 1px solid #884;
   padding: 2px 0.5ex;
    vertical-align: top;
}
table.view td.legend {
    padding-top: 3px;
    color: #884;
}
table.view td.content i {
    font-size: 8pt;
color: #995;
}
table.view table.filters {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 6px;
    margin-left: 3px;
width: 100%;
}
table.view div.filtercomment {
    margin-left: 0px;
    font-size: 8pt;
    width: 300px;
    font-style: italic;
    color: #c80;
    padding-bottom: 6px;
}


table.view table.filters td
{
   border-style: none;
   border-bottom: 1px dotted #cc8;
}


table.view table.filters th
{
    text-align: left;
    padding-bottom: 3px;
   border-bottom: 1px solid #cc8;
}

table.view table.filters td.usageshow
{
 background-color: #ff0;
}
table.view table.filters td.usagehide
{
 background-color: #f0f;
}
table.view table.filters td.usagehard
{
    background-color: #89f;
}
table.view table.filters td.usageoff
{
    background-color: #ffc;
}

table.view table.filters td.usageshow select
{
   background-color: #cc0;
}
table.view table.filters td.usagehide select
{
   background-color: #f6f;
}
table.view table.filters td.usagehard select
{
    background-color: #67c;
}

table.view table.filters td.widgetshow
{
    background-image: url("background-gold.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
    color: #aa6;
}
table.view table.filters td.widgetoff
{
    background-image: none;
    background-color: #ffc;
    color: #aa6;
}
table.view table.filters td.widgethard
{
    background-image: none;
    background-color: #abf;
    color: #000;
}
table.view table.filters td.widgethide
{
    background-image: none;
    background-color: #e8e;
    color: #000;
}

table.view table.filters td.title {
    /* border-style: none; */
    padding-right: 1em;
}

table.views {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1ex;
}

table.views td, table.views th{
    border: 1px solid #444;
    padding: 2px 1ex;
}

table.views th {
    background-color: #5b8;
    color: white;
}

table.views td.legend {
    background-color: #7ca;
}

table.views td.content {
    background-color: #8ec;
}

table.views td.edit {
    background-color: #6ab;
    text-align: center;
}

table.views td.buttons {
    padding: 3px;
    background-color: #888;
    vertical-align: middle;
}

a.button {
    background-color: #cca;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #888 #333 #ddd;
    padding: 0.1ex 1ex;
    height: 24px;
    -moz-border-radius: 4px;
    margin: 2px;
    font-size: 9pt;
}

/* Box with context links */
div.contextlinks a {
    font-size: 7pt;
    color: white;
}
div.contextlinks h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 7pt;
    font-weight: bold;
}
div.contextlinks {
    border: 1px solid white;
    background-color: #048;
    color: #ccf;
    padding: 2px 6px;
width: 200px;
}


/* --- plugins for sidebar ----------------------------------- */
div#check_mk_sidebar {
    margin-top: 1ex;
    margin-bottom: 1ex;
    font-size: 8pt;
    color: #fff;
}
div#check_mk_sidebar td {
    font-size: 8pt;
}

div#check_mk_sidebar div.header table
{
    width: 100%;
}

div#check_mk_sidebar div.header table td.title
{
    font-weight: bold;
    color: #fc0;
}
div#check_mk_sidebar div.header table td.logo
{
    text-align: right;
}
div#check_mk_sidebar div.section {
    background-image: url("background-gray.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
    border-width: 1px;
    margin-bottom: 3px;
    border-style: solid;
    border-color: #222 #ccc #fff #444;
    background-color: #444;
    -moz-border-radius: 4px;
    padding: 0px;
    padding-top: 0px;
    padding-left: 4px;
}

div#check_mk_sidebar div.content {
    margin-top: 3px;
    margin-bottom: 5px;
}
div#check_mk_sidebar h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fc4;
    font-size: 8pt;
}
div#check_mk_sidebar a {
    text-decoration: none;
    font-weight: normal;
    color: #eee;
}
div#check_mk_sidebar a:hover {
    text-decoration: underline;
    color: #fff;
}
li.sidebar {
    margin-left: 0px;
    padding-left: 1ex;
}

div#check_mk_sidebar hr {
   width: 103px;
}

div#check_mk_sidebar div.footnote {
    width: 100%;
    text-align: right;
}
div#check_mk_sidebar div.footnote a {
    font-size: 6pt;
}

table.sidebarconfig {
  margin-top: 1em;
  border-collapse: collapse;
  empty-cells: show;
}

table.sidebarconfig th {
    background-color: #830;
    text-align: left;
    color: white;
    border: 1px solid #c60;
    padding: 2px 5px;
}

table.sidebarconfig td {
    background-color: #d72;
    border: 1px solid #f84;
    padding: 0px 5px;
}

div#check_mk_sidebar table.sitestate {
    width: 155px;
}

div#check_mk_sidebar table.sitestate td a {
    border: 1px solid #000;
    padding: 1px 3px;
}

div#check_mk_sidebar table.sitestate td {
    text-align: center;
    width: 20px;
    font-size: 6pt;
    padding: 0px 0px;
}

div#check_mk_sidebar table.sitestate td.left {
    text-align: left;
    font-size: 7pt;
width: 150px;
}

div#check_mk_sidebar table.sitestate td.offline a {
    background-color: #c00;
    display: block;
    color: #fff;
}
div#check_mk_sidebar table.sitestate td.online a {
    background-color: #4f6;
    display: block;
color: #000;
}
div#check_mk_sidebar table.sitestate td.disabled a {
    background-color: #666;
    display: block;
}

