/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* Styles used by the dashboard only */

div#dashboard {
    padding: 0px;
    margin: 0px;
}


div.dashlet {
    position: absolute;
    padding: 0px;
    margin: 0px;
    display: none;
}

/* content area of dashlet, if no iframes are used */
div.dashlet div.dashlet_inner {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 21px;
    left: 11px;
}

/* Dashlets with "background" set to True */
div.dashlet div.dashlet_inner.background {
    /* background-image: url("images/form_background.png"); */
    /* background-repeat: repeat; */
    background-color: #cbd6da;
}

div.dashlet iframe {
    border-style: none;
}

div.dashlet div.title {
    position: absolute;
    left: 9px;
    width: 150px; /* will be changed by javascript later */
    color: #fff;
    padding: 0px;
    margin: 0px;
    padding-top: 4px;
    font-weight: normal;
    overflow: hidden;
    height: 17px;
    white-space: nowrap;
}
div.dashlet div.title a {
    text-decoration: none;
    color: white;
}
div.dashlet div.title a:hover {
    text-decoration: underline;
}

div.dashlet img.shadow {
    position: absolute;
}
div.dashlet img.shadow.n {
    top: -2px;
    left: 11px;
    width: 1px;
    height: 23px;
}
div.dashlet img.shadow.s {
    bottom: -2px;
    left: 11px;
    width: 1px;
    height: 12px;
}
div.dashlet img.shadow.w {
    left: -2px;
    top: 21px;
    width: 13px;
    height: 1px;
}
div.dashlet img.shadow.e {
    right: -2px;
    top: 21px;
    width: 13px;
    height: 1px;
}
div.dashlet img.shadow.nw {
    top: -2px;
    left: -2px;
    width: 13px;
    height: 23px;
}
div.dashlet img.shadow.sw {
    bottom: -2px;
    left: -2px;
    width: 13px;
    height: 12px;
}
div.dashlet img.shadow.ne {
    top: -2px;
    right: 3px;
    width: 13px;
    height: 23px;
}
div.dashlet img.shadow.se {
    bottom: -2px;
    right: -2px;
    width: 13px;
    height: 12px;
}

table.dashlet_overview h2 {
    margin: 8px 0px 8px 0px;
    font-size: 10pt;
}

/* Styles for various builtin dashlets */
canvas.pie {
    position: absolute;
    top:5px;
    left:10px;
    z-index: 10;
}

img.globe {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 20;
}

div.dashlet table.hoststats {
    margin-top: 10px;
    width: 135px;
    height: 142px;
    border-collapse: collapse;
    border-spacing: 0px;
    position:absolute;
    right:5px;
}
div.dashlet table.hoststats.narrow {
    margin-top: 6px;
}

div.dashlet table.hoststats a {
    color: black;
    text-decoration: none;
}
div.dashlet table.hoststats a:hover {
    text-decoration: underline;
}


div.dashlet table.hoststats td {
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    background-color: #95bbcd;
}

div.dashlet table.hoststats th {
    text-align: left;
    background-color: transparent;
    padding-left: 4px;
}
div.dashlet table.hoststats td.color {
    padding: 0px;
    width: 4px;
}
div.dashlet table.hoststats th, table.hoststats td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #498aa6;
    border-style: solid none;
    border-width: 1px;
    vertical-align: middle;
}
div.dashlet table.hoststats.narrow th, table.hoststats.narrow td {
    font-size: 8pt;
    font-weight: normal;
}

div.dashlet_inner div.stats {
    background-color: #6da1b8;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div.dashlet div.nograph {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

div.dashlet div.nograph div.msg {
    padding: 10px;
}

