/* Styles used by the dashboard only */

div#dashboard {
    padding: 0px;
    margin: 0px;
}


div.dashlet {
    position: absolute;
    padding: 0px;
    margin: 0px;
    display: none;
}

/* content area of dashlet, if no iframes are used */
div.dashlet div.dashlet_inner {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

/* Dashlets with "background" set to True */
div.dashlet div.dashlet_inner.background {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
}

div.dashlet iframe {
    border-style: none;
}

/* special background for embedded views */
body.main.dashlet {
     background-image: none;
    /* background-color: #709aa5; */
    padding: 0px;
}

div.dashlet div.title {
    position: absolute;
    left: 0px;
    width: 150px; /* will be changed by javascript later */
    color: #fff;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    font-size: 10pt;
    font-weight: bold;
}
div.dashlet div.title a {
    text-decoration: none;
    border-bottom: 1px dotted white;
    color: white;
}
div.dashlet div.title a:hover { 
    color: #00f;
}

div.dashlet img.shadow {
    position: absolute;
}
div.dashlet img.shadow.n {
    top: 0px;
    left: 16px;
    width: 40px;
    height: 8px;
}
div.dashlet img.shadow.s {
    bottom: 0px;
    left: 16px;
    width: 40px;
    height: 8px;
}
div.dashlet img.shadow.w {
    left: 0px;
    top: 16px;
    width: 8px;
    height: 40px;
}
div.dashlet img.shadow.e {
    right: 0px;
    top: 16px;
    width: 8px;
    height: 40px;
}
div.dashlet img.shadow.nw {
    width: 16px;
    height: 16px;
    top: 0px;
    left: 0px;
}
div.dashlet img.shadow.sw {
    width: 16px;
    height: 16px;
    bottom: 0px;
    left: 0px;
}
div.dashlet img.shadow.ne {
    width: 16px;
    height: 16px;
    top: 0px;
    right: 0px;
}
div.dashlet img.shadow.se {
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
}

table.dashlet_overview h2 {
    margin: 8px 0px 8px 0px;
    font-size: 10pt;
}

/* Styles for various builtin dashlets */
canvas.pie {
    margin-top: 10px;
    margin-left: 10px;
}

div.dashlet table.hoststats { 
    margin-top: 10px;
    margin-left: 5px;
    width: 143px;
    height: 136px;
    border-collapse: collapse;
    border-spacing: 0px;
}
div.dashlet table.hoststats.narrow { 
    margin-top: 4px;
}

div.dashlet table.hoststats a { 
    color: black;
    text-decoration: none;
}
div.dashlet table.hoststats a:hover { 
    text-decoration: underline;
}


div.dashlet table.hoststats td { 
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
}

div.dashlet table.hoststats th { 
    text-align: left;
    background-color: transparent;
    padding-left: 4px;
}
div.dashlet table.hoststats td.color {
    padding: 2px;
}
div.dashlet table.hoststats th, table.hoststats td { 
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #fff;
    border-style: solid none;
    border-width: 1px;
    vertical-align: middle;
}
div.dashlet table.hoststats.narrow th, table.hoststats.narrow td { 
    font-size: 8pt;
}

div.dashlet div.nograph {
    background-color: white;
    width: 100%;
    height: 100%;
}

div.dashlet div.nograph div.msg {
    padding: 10px;
}


