/*-------------------------------------------------------------------------.
|                      _                _                                  |
|                     | |    ___   __ _(_)_ __                             |
|                     | |   / _ \ / _` | | '_ \                            |
|                     | |__| (_) | (_| | | | | |                           |
|                     |_____\___/ \__, |_|_| |_|                           |
|                                 |___/                                    |
+--------------------------------------------------------------------------+
| Styling of the login page (when not HTTP Basic Auth is used)             |
'-------------------------------------------------------------------------*/

#login {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align:center;
}
/*#login #logo {
    width: 320px;
    margin: 7em auto;
    height: 55px;
    background-repeat: no-repeat;
    background-image: url("images/sidebar_top.png");
}*/
#login h1 {
    width: 300px;
    margin: 3em auto 2em auto;
}
#login a {
    color: #ffffff;
}
#login a:hover {
    text-decoration: none;
}
#login #table {
    width: 320px; margin: 0 auto;
}
#login #foot {
    font-size: 0.8em;
    font-style: italic;
    color: #ffffff;
}

