/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* Styles for Check_MK mobile interface */
/*
body.mobile {
    padding: 0px;
    margin: 0px;
}

div.ui-content {
    padding: 0px;
    background-color: #green;
}
*/

body.mobile div.really,
body.mobile div.success,
body.mobile div.error,
body.mobile div.message,
body.mobile div.warning {
    width: 80%;
    margin: 1em 0px 3em 0px;
    padding: 0.5ex 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5ex;
    text-align: center;
}

body.mobile div.error {
    background-color: #fcc;
}



body.mobile table.data {
    /* width: 10px;*/ /* 100%; */
    border-collapse: collapse;
    empty-cells: show;
}

body.mobile table.data tr {
}

body.mobile table.data td {
    padding: 1px;
    border: 1px solid #ddd;
    padding: 2px 3px;
    overflow: hidden;
}


body.mobile table.dataset {
    width: 100%;
}

body.mobile table.dataset tr.header {
}
body.mobile table.dataset tr.header th {
}

body.mobile table.dataset tr.data td {
    /* border-radius: 10px; */
    /* -webkit-border-radius: 10px; */
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 4px 6px;
    font-size: 10pt;
}

td.nonstatus {
    background-color: #fff;
}

/* Forms for filters and commands */
body.mobile table.form {
    width: 100%;
}
body.mobile table.form > tbody > tr > * {
    width: 100%;
}
body.mobile table.form th {
    border-style: none;
}

body.mobile table.filtertime td {
    vertical-align: middle;
}
body.mobile table.filtertime div {
}
body.mobile table.filtertime div.ui-select {
    width: auto;
}
body.mobile table.alertstatefilter td {
    vertical-align: top;
}
body.mobile table.alertstatefilter .ui-checkbox {
    margin: 0;
}
/* Perfometers */


body.mobile td.perfometer {
    height: 14px;
    width: 70px;
}

body.mobile td.perfometer * {
    color: #333;
    font-weight: normal;
    font-size: 7pt;
    padding: 0px;
}

body.mobile td.perfometer div.content {
   width: 69px;
   background-color: yellow;
}

body.mobile td.perfometer div.title {
   top: 2px;
   width: 70px;
}

body.mobile td.perfometer img.glass {
   width: 69px;
   height: 14px;
}

body.mobile td.perfometer table {
    width: 70px;
    height: 14px;
}

body.mobile table.data td.perfometer td.inner {
    height: 14px;
}

.ui-header .ui-title, .ui-footer .ui-title {
        margin: .6em 46px .8em;
}

/*-------------------------------------------------------------------------.
|                    ____  _        _                                      |
|                   / ___|| |_ __ _| |_ _   _ ___                          |
|                   \___ \| __/ _` | __| | | / __|                         |
|                    ___) | || (_| | |_| |_| \__ \                         |
|                   |____/ \__\__,_|\__|\__,_|___/                         |
|                                                                          |
+--------------------------------------------------------------------------+
| Styles for hiliting data cells in status displays                        |
'-------------------------------------------------------------------------*/
.ui-li-aside.state {
    width: 4.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 2px #444444;
}

td.pnpgraph img {
     max-width: 97%;
}

body.mobile table.dataset tr.data td.state {
    font-size: 25px;
}
/*-------------------------------------------------------------------------.
|                      _                _                                  |
|                     | |    ___   __ _(_)_ __                             |
|                     | |   / _ \ / _` | | '_ \                            |
|                     | |__| (_) | (_| | | | | |                           |
|                     |_____\___/ \__, |_|_| |_|                           |
|                                 |___/                                    |
+--------------------------------------------------------------------------+
| Styles for the mobile version of the login dialog.                       |
'-------------------------------------------------------------------------*/

#loginhead, #loginfoot {
    text-align: center;
    font-color: #444;
}
#loginhead {
    margin: 1em;
}
#loginfoot {
    margin-top: 1em;
}
#loginfoot.copyright {
    margin-top: 1em;
}
img.logomk {
    width: 20%;
}


td.icons img {
    height: 40px;
    width: 40px;
}

td.icons a {
    padding-left: 8px;
}


