/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* Styles for Check_MK mobile interface */
/*
body.mobile {
    padding: 0px;
    margin: 0px;
}

.ui-content {
    padding: 0px;
    background-color: #green;
}*/

body.mobile table.data {
    /* width: 10px;*/ /* 100%; */
    border-collapse: collapse;
    empty-cells: show;
}

body.mobile table.data tr {
}

body.mobile table.data td {
    padding: 1px;
    border: 1px solid #ddd;
    padding: 2px 3px;
    overflow: hidden;
}


body.mobile table.dataset tr.header {
}
body.mobile table.dataset tr.header th {
}

body.mobile table.dataset tr.data td {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; 
    border-radius: 3px;
    border: 1px solid #888;
    padding: 2px 3px;
    font-size: 10pt;
}

/* Forms for filters and commands */
body.mobile table.form {
    width: 100%;
}
body.mobile table.form > tbody > tr > * {
    width: 100%;
}
body.mobile table.form th {
    border-style: none;
}

/* Perfometers */


body.mobile td.perfometer {
    height: 14px;
    width: 70px;
}

body.mobile td.perfometer * {
    color: #333;
    font-weight: normal;
    font-size: 7pt;
    padding: 0px;
}

body.mobile td.perfometer div.content {
   width: 69px;
   background-color: yellow;
}

body.mobile td.perfometer div.title {
   top: 2px; 
   width: 70px;
}

body.mobile td.perfometer img.glass {
   width: 69px;
   height: 14px;
}

body.mobile td.perfometer table {
    width: 70px;
    height: 14px;
}

body.mobile table.data td.perfometer td.inner {
    height: 14px;
}

