/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

table.prediction canvas {
    margin: 0px;
}

table.prediction {
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 2px #888;
    border-spacing: 0px;
    background-color: #eeeeee;
}
table.prediction td {
    padding: 0px;
}

table.prediction td.legend {
    padding-left: 43px;
    color: #000000;
    padding-bottom: 12px;
    padding-top: 2px;
}

table.prediction td.legend div {
    display: inline-block;
    float: none;
}

table.prediction td.legend div.color {
    border: 1px solid black;
    height: 12px;
    width: 12px;
    vertical-align: bottom;
    display: inline-block;
    box-shadow: 0.5px 0.5px 1px #888;
}
table.prediction td.legend div.entry {
    margin-right: 20px;
    margin-left: 5px;
}
