/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                 ____  _     _      _                                     |
|                / ___|(_) __| | ___| |__   __ _ _ __                      |
|                \___ \| |/ _` |/ _ \ '_ \ / _` | '__|                     |
|                 ___) | | (_| |  __/ |_) | (_| | |                        |
|                |____/|_|\__,_|\___|_.__/ \__,_|_|                        |
|                                                                          |
+--------------------------------------------------------------------------+
| Styling for the sidebar and its snapins.                                 |
'-------------------------------------------------------------------------*/

body.side {
    background-image: url("images/sidebar_background.jpg");
    padding: 0;
    width: 280px;
    height: 100%;
    overflow:hidden;
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    margin: 0px;
}

/* Top logo part */
#side_header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url("images/sidebar_top.png");
}

#side_header a {
    display: block;
    width: 100%;
    height: 55px;
    text-decoration: none;
}

#side_version {
    position: absolute;
    top: 24px;
    left: 64px;
    z-index: 54;
    color: #fff;
    text-align: right;
    width: 200px;
    font-size: 8pt;
}

/* Scrolling part with snapins */
#side_content {
    z-index: 5;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: #000000;
    padding-top: 55px;
}

/* The footer of the sidebar */
#side_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 44px;
    width: 100%;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url("images/sidebar_bottom.png");
}

#side_footer img.iconbutton {
    position: relative;
    top: 10px;
    left: 9px;
    margin-right: 3px;
}

#side_footer div.copyright {
    color: #fff;
    position: relative;
    left: 141px;
    top: -5px;
    width: 122px;
    text-align: right;
}

#side_footer a {
    color: #eee;
}

#side_footer a:hover {
    color: #fff;
}

/* General layout of snapins */
div.snapin {
    width: 255px;
    margin: 0 0 0 5px;
    padding: 0;
    overflow: hidden;
}

/* Header of the snapin */
div.snapin div.head {
    width: 260px;
    text-align: center;
    color: #fff;
    height: 26px;
    line-height: 29px;
}

div.snapin div.head b {
    font-weight: normal;
}


div.snapin div.head.open {
    background-image: url("images/snapin_header.png");
}

div.snapin div.head.closed {
    background-image: url("images/snapin_closed.png");
}

/* close button on header */
div.snapin div.closesnapin {
    float: right;
    margin-right: 12px;
    margin-top:   11px;
    line-height: 0px;
    height: 8px;
    width:8px;
    padding:0;
}

div.snapin div.closesnapin img {
    width: 8px;
    height: 8px;
}

div.snapin div.minisnapin {
    float: left;
    margin-left: 13px;
    margin-top:  11px;
    line-height: 0px;
    height: 8px;
}

div.snapin div.minisnapin img {
    width: 8px;
    height: 8px;
}


div.snapin div.content {
    background-image: url("images/snapin_background.png");
    background-repeat: repeat-y;
    background-position: left;

    /* It's important for the left/right padding to be substracted
     * from the width defined below. The regular width would be 260px. */
    padding: 10px 15px 5px;
    width: 230px;
}

div.snapin div.foot {
    background-image: url("images/snapin_footer.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 5px;
    line-height: 5px;
}

/*
 * General styles for snapin contents
 */

div.snapin .content_center {
    margin-left:  auto;
    margin-right: auto;
}

div.snapin td {
    color: #fff;
}

div.snapin h3 {
    margin: 2px 0px;
    color: #fff;
    font-size: 100%;
}

div.snapin li {
    padding-left: 1px;
    color: #274750;
    color: #478;
}

/* Normal link in snapins */
div.snapin a {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}

div.snapin a:hover {
    text-decoration: underline;
    color: #fff;
}

div.snapin ul {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    /* width: 220px; Bei mehrstufigen Einrueckungen stimmt der rechte Rand nicht */
}

div.snapin li.sidebar {
    margin-left: 0;
    margin-left: 0;
}

div.snapin img.iconlink {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

div.snapin div.footnote {
    width: 100%;
    text-align: right;
}

/* Style for exceptions displayed in snapins */
div.snapin div.snapinexception {
    background-color: #f88;
    border-radius: 4px;
    padding: 3px;
    border: 1px solid #f00;
    width: 220px;
}

div.snapin div.snapinexception h2 {
    font-size: 9pt;
    color: #f00;
    margin-top: 0px;
}

div.snapin div.snapinexception p {
    color: #800;
}

/* The right-aligned link at the bottom of some snapins like the "views" snapin. */
div.snapin div.footnotelink {
    margin-top: 5px;
    text-align: right;
}

div.snapin div.footnotelink a {
    background-color: #497e95;
    border-width: 1px;
    border-style: solid;
    border-color: #86a9b8 #22404d #22414d #86a9b8;
    box-shadow: 0 0 1.5px #000;
    font-size: 7pt;
    border-radius: 5px;
    padding: 2px 6px;
    margin-left: 5px;
}

div.snapin div.footnotelink a:hover {
    background-color: #6da1b8;
    text-decoration: none;
}
div.snapin div.footnotelink a:active {
    border-color:  #22414d #86a9b8 #86a9b8 #22404d;
    background-color: #3b6678;
    box-shadow: inset 0 0 0.5px #444444;
}

/* Small iconbutton (e.g. at bookmarks) */
div.snapin img.iconbutton {
    margin: 0px 2px 0px 0px;
    border: none;
    width: 10px;
    height: 10px;
}

div.snapin img.iconbutton.bookmark {
    width:  16px;
    height: 16px;
    margin: 0px -1px;
}

/* state bullets at problem host or all hosts snapin */
div.statebullet {
    margin-left: 0;
    margin-right: 6px;
    width: 10px;
    height: 10px;
    border: 1px solid #123a4a;
    float: left;
    box-shadow: 0px 0px 1px #123a4a;
}

div#snapinDragIndicator {
  height:            2px;
  line-height:       1px;
  font-size:         1px;
  width:             249px;
  background-color:  #fff;
  margin:            0px 0px 0px 10px;
  border-radius:     3px;
  box-shadow:        0px 0px 5px #ffffff;
}


/*-------------------------------------------------------------------------.
|          _       _     _                         _                       |
|         / \   __| | __| |  ___ _ __   __ _ _ __ (_)_ __  ___             |
|        / _ \ / _` |/ _` | / __| '_ \ / _` | '_ \| | '_ \/ __|            |
|       / ___ \ (_| | (_| | \__ \ | | | (_| | |_) | | | | \__ \            |
|      /_/   \_\__,_|\__,_| |___/_| |_|\__,_| .__/|_|_| |_|___/            |
|                                           |_|                            |
+--------------------------------------------------------------------------+
| Style for the page where you can add new snapins to the sidebar.         |
'-------------------------------------------------------------------------*/


div.add_snapin div.snapinadder {
    padding: 8px 2px 14px 2px;
    background-color: #478;
    border-radius: 5px;
    border-bottom: 1px solid #9ab;
    border-right: 1px solid #89a;
    height: 220px;
    width: 270px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    box-shadow: 1px 1px 5px #000;
    border-style: solid;
    border-width: 1px;
    border-color: #9bc #245 #245 #9bc;
}
div.add_snapin div.snapinadder:hover {
    background-color: #69a;
    box-shadow: 0px 0px 10px #fff;
    border-color: #fff; /* #9bc #9bc #fff; */
    position: relative;
}

div.add_snapin div.snapinadder div.description {
    color: #fff;
    padding: 10px;
}
div.add_snapin div.snapin_preview div.clickshield {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 270px;
    height: 120px;
}

div.add_snapin div.snapin_preview {
    width: 270px;
    height: 120px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}


