/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* special background for embedded views */
body.main.dashlet {
    background-image: none;
    background: transparent;
    padding: 0px;
}

/*-------------------------------------------------------------------------.
|  _____     _            ___      ___        _   _                        |
| |_   _|_ _| |__  ___   ( _ )    / _ \ _ __ | |_(_) ___  _ __  ___        |
|   | |/ _` | '_ \/ __|  / _ \/\ | | | | '_ \| __| |/ _ \| '_ \/ __|       |
|   | | (_| | |_) \__ \ | (_>  < | |_| | |_) | |_| | (_) | | | \__ \       |
|   |_|\__,_|_.__/|___/  \___/\/  \___/| .__/ \__|_|\___/|_| |_|___/       |
|                                      |_|                                 |
+--------------------------------------------------------------------------+
| The navi table contains the tab navigation above the content tables      |
| containing the buttons "filter", "commands", "display" and so on.        |
'-------------------------------------------------------------------------*/

table.filterform {
    border-collapse: collapse;
    padding: 0px;
    border-style: none;
}
table.filterform td {
    padding: 0px;
}

div.floatfilter {
    margin: 0px 4px 3px 0px;
    width: 310px;
    height: 53px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #acc #22404d #22414d #8ab;
    box-shadow: 0.5px 0.5px 1px #444;
    background-image: url("images/nform_background.png");
    background-repeat: repeat;
    border-radius: 5px;
    color: black;
}

div.floatfilter.double {
    height: 110px;
}

div.floatfilter input[type=text] {
    width: 294px;
}

div.floatfilter .legend {
    color: white;
    margin-bottom: 1px;
    width: 300px;
    height: 17px;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    padding: 3px 5px 0px 5px;
    border-radius: 5px 5px 0px 0px;
}

div.floatfilter .content {
    width: 311px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 4px;
    text-align: left;
}
div.floatfilter .content > select {
    width: 300px;
}
div.floatfilter .content > select#opthostgroup,
div.floatfilter .content > select#optservice_contactgroup,
div.floatfilter .content > select#opthost_contactgroup,
div.floatfilter .content > select#optservicegroup {
    width: 240px;
}

div.floatfilter .content .filtertime select {
    width: 136px;
}

div.floatfilter.double .content {
    height: 72px;
}
table.filtertime td {
    vertical-align: middle;
}


div.togglebutton.filters         { background-image: url("images/button_filters_lo.png"); }
div.togglebutton.filters:hover   { background-image: url("images/button_filters_hi.png"); }
div.togglebutton.filters.down       { background-image: url("images/button_filters_down_lo.png"); }
div.togglebutton.filters.down:hover { background-image: url("images/button_filters_down_hi.png"); }
div.togglebutton.filters.off      { background-image: url("images/button_filters_off.png"); }

div.togglebutton.filters_set         { background-image: url("images/button_filters_set_lo.png"); }
div.togglebutton.filters_set:hover   { background-image: url("images/button_filters_set_hi.png"); }
div.togglebutton.filters_set.down       { background-image: url("images/button_filters_set_down_lo.png"); }
div.togglebutton.filters_set.down:hover { background-image: url("images/button_filters_set_down_hi.png"); }
div.togglebutton.filters_set.off      { background-image: url("images/button_filters_set_off.png"); }

div.togglebutton.painteroptions         { background-image: url("images/button_painteroptions_lo.png"); }
div.togglebutton.painteroptions:hover   { background-image: url("images/button_painteroptions_hi.png"); }
div.togglebutton.painteroptions.down       { background-image: url("images/button_painteroptions_down_lo.png"); }
div.togglebutton.painteroptions.down:hover { background-image: url("images/button_painteroptions_down_hi.png"); }
div.togglebutton.painteroptions.off      { background-image: url("images/button_painteroptions_off.png"); }

div.togglebutton.commands         { background-image: url("images/button_commands_lo.png"); }
div.togglebutton.commands:hover   { background-image: url("images/button_commands_hi.png"); }
div.togglebutton.commands.down       { background-image: url("images/button_commands_down_lo.png"); }
div.togglebutton.commands.down:hover { background-image: url("images/button_commands_down_hi.png"); }
div.togglebutton.commands.off      { background-image: url("images/button_commands_off.png"); }

div.optiondial {
    cursor: pointer;
    height: 20px;
    position: relative;
    top: 2px;
    left: -1px;
    margin: 0px 0px 0px -4px;
    float: left;
    background-repeat: no-repeat;
    background-position: 1px -1px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #123;
    text-shadow: 0px 0.5px 0.5px #fff;
    color: #222;
}

div.optiondial div {
    width: 100%;
    height: 100%;
    padding-top: 3px;
    position: relative;
    top: 0px;
    text-align: center;
}


div.optiondial.num_columns {
    width: 21px;
    margin-right: 6px;
}
div.optiondial.refresh {
    width: 31px;
    margin-left: -6px;
    margin-right: 6px;
}

div.optiondial.num_columns { background-image: url("images/dial_num_columns.png"); }
/* div.optiondial.num_columns:hover { background-image: url("images/dial_num_columns_hi.png"); }  */
div.optiondial.num_columns.off { background-image: url("images/dial_num_columns_off.png"); }

div.optiondial.refresh { background-image: url("images/dial_refresh.png"); }
/* div.optiondial.refresh:hover { background-image: url("images/dial_refresh_hi.png"); }  */
div.optiondial.refresh.off { background-image: url("images/dial_refresh_off.png"); }

div.view_form {
    margin-bottom: 10px;
}

/*-------------------------------------------------------------------------.
|                _                            _                            |
|               | |    __ _ _   _  ___  _   _| |_ ___                      |
|               | |   / _` | | | |/ _ \| | | | __/ __|                     |
|               | |__| (_| | |_| | (_) | |_| | |_\__ \                     |
|               |_____\__,_|\__, |\___/ \__,_|\__|___/                     |
|                           |___/                                          |
+--------------------------------------------------------------------------+
| Styles used by layouts of the views (plugins/views/layouts.py)           |
'-------------------------------------------------------------------------*/


td.fillup {
    background-color: #eee;
}
td.groupheader {
    margin: 0;
    padding: 0;
}

td.gap, table.data .checkbox_hover.gap {
    background-image: url("images/contentframe_background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    width: 5px;
}

/* boxed layout */
table.boxlayout {
    border-spacing: 0px;
}
table.boxlayout td.boxcolumn {
    padding-right: 20px;
}


/* tiled layout */
table.tiled td {
    border-style: none;
}

.tile {
    width: 180px;
    border: 1px solid #000;
    float: left;
    border-radius: 0px;
    margin-right: 6px;
    margin-bottom: 6px;
    box-shadow: 1px 1px 3px #000;
    background-color: #ccc;
}

.tile img.icon {
    width: 16px;
    height: 16px;
}

.tile table {
    height: 70px;
}
.tile td {
    border-style: none;
    font-size: 7pt;
}
.tile.sstate0, .tile.hhstate0 {
    border-color: #0f0;
    /* background-color: #afa; */
}
.tile.sstate1 {
    border-color: #ff0;
    background-color: #ff0;
}
.tile.sstate2, .tile.hhstate1 {
    border-color: #f00;
    background-color: #f88;
}
.tile.sstate3, .tile.hhstate2 {
    border-color: #f80;
    background-color: #fc8;
}

.tile table {
    width: 100%;
}
.tile td.tl, .tile td.bl {
    text-align: left;
}
.tile td.tr, .tile td.br {
    text-align: right;
}
.tile td.center {
    vertical-align: middle;
}
.tile td.center, .tile td.cont {
    text-align: center;
}
.tile td.bl, .tile td.br {
    vertical-align: bottom;
}

.tile td.bl, .tile td.br, .tile td.tl, .tile td.tr {
    height: 20px;
}

/*
 LAYOUT: dataset
 The dataset layout is used to display detailed information
 about a single host/service on a page. e.g. the "host defails"
 page uses thislayout
*/
table.data.single {
    margin-top: 5px;
    border-spacing: 1px;
    padding: 0;
    border-collapse: collapse;
    empty-cells: show;
}

table.data.single tr.data td {
    padding-bottom: 4px;
    padding: 4px 5px 2px 5px;
    text-align: left;
    height: 16px;
    line-height: 14px;
    vertical-align: top;
}
table.data.single tr.data td.left {
    width: 10%;
    white-space: nowrap;
    vertical-align: top;
    padding-right: 20px;
}
table.data.single tr.even0 td.left {
    background-color: #bbb;
}
table.data.single tr.odd0 td.left {
    background-color: #ccc;
}
table.data.single td.gap {
    background-color: transparent;
    border-left-style: none;
    border-right-style: none;
}
table.data.single td.age,
table.data.single td.number,
table.data.single td.count {
    text-align: left;
}

table.data.single td.perfometer div.content {
    width: 100%;
}
table.data.single td.perfometer img.glass {
    width: 100%;
}
table.data.single td.perfometer div.title {
    width: 100%;
}

/*-------------------------------------------------------------------------.
|              _____    _ _ _           _                                  |
|             | ____|__| (_) |_  __   _(_) _____      __                   |
|             |  _| / _` | | __| \ \ / / |/ _ \ \ /\ / /                   |
|             | |__| (_| | | |_   \ V /| |  __/\ V  V /                    |
|             |_____\__,_|_|\__|   \_/ |_|\___| \_/\_/                     |
|                                                                          |
+--------------------------------------------------------------------------+
| Styles used while editing a view in the view editor                      |
'-------------------------------------------------------------------------*/

div.clear {
    clear: left;
}
div.filtersetting > select {
    float: left;
    margin-right: 10px;
    height: 26px;
}
div.filtersetting.show > select { border: 3px solid #ff4; }
div.filtersetting.hide > select { border: 3px solid #f8f; }
div.filtersetting.off > select { border: 3px solid #444; }
div.filtersetting.hard > select { border: 3px solid #45f; }

div.filtersetting.off > div, div.filtersetting.hide > div {
    display: none;
}


/* The column editor is part of the view editor */
div.columneditor {
    margin-bottom: 6px;
}

div.columneditor table {
    padding: 0;
    margin: 0;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    width: 100%;
}

div.columneditor td.cebuttons {
    width: 33px;
}
div.columneditor td.celeft {
    width: 60px;
}

div.columneditor td {
    padding: 0 4px;
}

div.columneditor select {
    width: 100%;
}

/*div.columneditor td, div.columneditor select {
    font-size: 0.9em;
}*/

input#try{
    float:left;
}


/*-------------------------------------------------------------------------.
|       _     _     _            __         _                              |
|      | |   (_)___| |_    ___  / _| __   _(_) _____      _____            |
|      | |   | / __| __|  / _ \| |_  \ \ / / |/ _ \ \ /\ / / __|           |
|      | |___| \__ \ |_  | (_) |  _|  \ V /| |  __/\ V  V /\__ \           |
|      |_____|_|___/\__|  \___/|_|     \_/ |_|\___| \_/\_/ |___/           |
|                                                                          |
+--------------------------------------------------------------------------+
| The table with the list of all views                                     |
'-------------------------------------------------------------------------*/

table.views {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1ex;
}

table.views td, table.views th{
    border: 1px solid #444;
    padding: 2px 1ex;
}

table.views td {
    height: 25px;
    padding-top: 3px;
    color: #fff;
}

table.views th {
    background-color: #709aa5;
    color: #fff;
}

table.views td.legend {
    background-color: #8eaeb8;
    color: #fff;
}

table.views td.content {
    background-color: #9ebec8;
    color: #fff;
}

table.views td.edit {
    background-color: #6ab;
    text-align: center;
}

table.views td.buttons {
    padding: 3px;
    vertical-align: middle;
    background-color: #8EAEB8;
}
