/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* special background for embedded views */
body.main.dashlet {
    background-image: none;
    background: transparent;
    padding: 0px;
}

/*-------------------------------------------------------------------------.
|  _____     _            ___      ___        _   _                        |
| |_   _|_ _| |__  ___   ( _ )    / _ \ _ __ | |_(_) ___  _ __  ___        |
|   | |/ _` | '_ \/ __|  / _ \/\ | | | | '_ \| __| |/ _ \| '_ \/ __|       |
|   | | (_| | |_) \__ \ | (_>  < | |_| | |_) | |_| | (_) | | | \__ \       |
|   |_|\__,_|_.__/|___/  \___/\/  \___/| .__/ \__|_|\___/|_| |_|___/       |
|                                      |_|                                 |
+--------------------------------------------------------------------------+
| The navi table contains the tab navigation above the content tables      |
| containing the buttons "filter", "commands", "display" and so on.        |
'-------------------------------------------------------------------------*/

table.navi {
    margin: 0px 0px 0px 5px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    position: relative;
    left: -5px;
}

table.naviform {
    margin-bottom: 10px;
}

table.navi td.gap, table.navi td.minigap {
    border-bottom: 1px solid #fff;
}

table.navi td.left, table.navi td.right {
    vertical-align: middle;
    text-align: center;
    width: 155px;
    height: 21px;
    background-image: url("images/metanav_button.png");
    background-repeat: no-repeat;
    background-position: left;
    color: #fff;
    padding: 0;
    margin: 0;
    border: 1px dotted transparent;
}

table.navi td.left.open {
    border-bottom: none;
}

table.navi td.left.closed, table.navi td.right, table.navi td.w30, table.navi td.w40 {
    border-bottom: 1px solid #fff;
}

table.navi td.left.w30 {
    width: 30px;
    background-image: url("images/metanav_30.png");
}
table.navi td.left.w30.selected {
    background-image: url("images/metanav_30_hi.png");
}

table.navi td.left.w40 {
    width: 40px;
    background-image: url("images/metanav_40.png");
}

table.navi td.left.w40.selected {
    background-image: url("images/metanav_40_hi.png");
}

table.navi td.minigap {
     width: 3px;
}

table.navi td.left a, table.navi td.right a {
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    display: block;
}

table.navi tr.form td.form {
    margin: 0;
    padding: 0;
}

table.navi tr.form td.whiteborder {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

table.navi tr.form div.whiteborder, 
table.navi tr.form table.whiteborder {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    /* width: 100%; */
}

table.navi tr.form div.whiteborder {
    padding: 5px;
}

div.whiteborder table.form {
    margin: 0px;
    background-image: none;
}
form.actions div.whiteborder table.form {
    background-image: url("images/form_background.png"); 
    background-repeat: repeat;
}

table.navi tr.form {
    /* background-image: url("images/form_background.png"); 
    background-repeat: repeat; */
}
table.navi div.whiteborder table.form {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
}

div.floatfilter {
    margin: 0px 3px 3px 0px;
    width: 325px;
    height: 53px;
    /* display: inline-block; */
    float: left;
    border: 1px solid #458;
    box-shadow: 0.5px 0.5px 1px #444;
    background-image: url("images/form_background.png"); 
    background-repeat: repeat;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.floatfilter.double {
    height: 111px;
}

div.floatfilter input[type=text] {
    width: 311px;
}

div.floatfilter .legend {
    color: white;
    margin-bottom: 1px;
    width: 315px;
    height: 20px;
    background-image: url("images/form_background.png"); 
    background-repeat: repeat;
    padding: 3px 5px 0px 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

div.floatfilter .content {
    width: 321px;
    height: 23px;
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 1px;
}
div.floatfilter.double .content {
    height: 72px;
}
table.filtertime td {
    vertical-align: middle;
}

/*-------------------------------------------------------------------------.
|                _                            _                            |
|               | |    __ _ _   _  ___  _   _| |_ ___                      |
|               | |   / _` | | | |/ _ \| | | | __/ __|                     |
|               | |__| (_| | |_| | (_) | |_| | |_\__ \                     |
|               |_____\__,_|\__, |\___/ \__,_|\__|___/                     |
|                           |___/                                          |
+--------------------------------------------------------------------------+
| Styles used by layouts of the views (plugins/views/layouts.py)           |
'-------------------------------------------------------------------------*/

div.tableshadow {
    background-image: url("images/tableshadow.png");
    background-repeat: repeat;
    padding: 1px 1px 1px 1px;
    border-style: none;
}

td.shadowtop, td.shadowbottom {
    background-image: url("images/tableshadow.png");
    background-repeat: repeat;
    height: 1px;
    border-style: none;
    border-width: 0px;
    padding: 0;
}
td.shadowleft, td.shadowright {
    background-image: url("images/tableshadow.png");
    background-repeat: repeat;
    width: 1px;
    border-style: none;
    border-width: 0px;
    padding: 0;
}
td.shadowright {
  width: 1px;
}

td.fillup {
    background-color: #eee;
}
td.groupheader {
    margin: 0;
    padding: 0;
}

/* boxed layout */
table.boxlayout {
    border-spacing: 0px;
}
table.boxlayout td.boxcolumn {
    padding-right: 20px;
}


/* tiled layout */
table.tiled td {
    border-style: none;
}

.tile {
    width: 160px;
    border: 1px solid #000;
    float: left;
    -moz-border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.tile table {
    height: 70px;
}
.tile td {
    border-style: none;
    font-size: 7pt;
}
.tile.sstate0, .tile.hhstate0 {
    background-color: #afa;
}
.tile.sstate1 {
    background-color: #ff0;
}
.tile.sstate2, .tile.hhstate1 {
    background-color: #f42;
}
.tile.sstate3, .tile.hhstate2 {
    background-color: #f80;
}

.tile table {
    width: 100%;
}
.tile td.tl, .tile td.bl {
    text-align: left;
}
.tile td.tr, .tile td.br {
    text-align: right;
}
.tile td.center {
    vertical-align: middle;
}
.tile td.center, .tile td.cont {
    text-align: center;
}
.tile td.bl, .tile td.br {
    vertical-align: bottom;
}

.tile td.bl, .tile td.br, .tile td.tl, .tile td.tr {
    height: 20px;
}

/*
 LAYOUT: dataset
 The dataset layout is used to display detailed information
 about a single host/service on a page. e.g. the "host defails"
 page uses thislayout
*/
table.data.single {
    margin-top: 5px;
    border-spacing: 1px;
    padding: 0;
    border-collapse: collapse;
    empty-cells: show;
    width: auto;
    box-shadow: 1px 1px 3px #000000;
}

table.data.single tr.data {
    background-color: #eee;
}

table.data.single tr.gap {
    background-color: transparent;
}

table.data.single td {
    padding-bottom: 4px;
    padding: 1px 10px 5px 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #bbb;
}
table.data.single td.left {
    padding-right: 10px;
    color: #fff;
    background-color: #888;
    width: 10%;
    white-space: nowrap;
    vertical-align: top;
}
table.data.single td.gap {
    background-color: transparent;
    border-left-style: none;
    border-right-style: none;
}
table.data.single td.age,
table.data.single td.number,
table.data.single td.count {
    text-align: left;
}

table.data.single td.perfometer div.content {
    width: 100%;
}
table.data.single td.perfometer img.glass {
    width: 100%;
}
table.data.single td.perfometer div.title {
    width: 100%;
}

/*-------------------------------------------------------------------------.
|              _____    _ _ _           _                                  |
|             | ____|__| (_) |_  __   _(_) _____      __                   |
|             |  _| / _` | | __| \ \ / / |/ _ \ \ /\ / /                   |
|             | |__| (_| | | |_   \ V /| |  __/\ V  V /                    |
|             |_____\__,_|_|\__|   \_/ |_|\___| \_/\_/                     |
|                                                                          |
+--------------------------------------------------------------------------+
| Styles used while editing a view in the view editor                      |
'-------------------------------------------------------------------------*/

table.view {
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
}
div.viewdescription {
    color: #274750;
    font-size: 7pt;
}
/* Table of filters in edit view page */
table.filters {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 6px;
    margin-left: 3px;
    width: 100%;
}
table.filters td.filtertitle {
    width: 300px;
}

table.filters td {
    border-style: none;
    border-bottom: 1px dotted #fff;
    vertical-align: middle;
    height: 36px;
    padding: 4px 8px;
}

table.filters th {
    text-align: left;
    padding-bottom: 3px;
    padding-left: 8px;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid #fff;
}

table.filters td.widgetoff *,
table.filters td.widgethide * {
    display: none;
}

table.filters td.usageshow select { border: 3px solid #ff4; }
table.filters td.usagehide select { border: 3px solid #f8f; }
table.filters td.usageoff select { border: 3px solid #888; }
table.filters td.usagehard select { border: 3px solid #45f; }

table.filters td.title {
    padding-right: 1em;
    width: 300px;
}

/* The column editor is part of the view editor */
div.columneditor {
    margin-bottom: 6px;
}

div.columneditor table {
    padding: 0;
    margin: 0;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    width: 100%;
}

div.columneditor td.cebuttons {
    width: 33px;
}
div.columneditor td.celeft {
    width: 60px;
}

div.columneditor td {
    padding: 0 4px;
}

div.columneditor select {
    width: 100%;
}

/*div.columneditor td, div.columneditor select {
    font-size: 0.9em;
}*/

input#try{
    float:left;
}


/*-------------------------------------------------------------------------.
|       _     _     _            __         _                              |
|      | |   (_)___| |_    ___  / _| __   _(_) _____      _____            |
|      | |   | / __| __|  / _ \| |_  \ \ / / |/ _ \ \ /\ / / __|           |
|      | |___| \__ \ |_  | (_) |  _|  \ V /| |  __/\ V  V /\__ \           |
|      |_____|_|___/\__|  \___/|_|     \_/ |_|\___| \_/\_/ |___/           |
|                                                                          |
+--------------------------------------------------------------------------+
| The table with the list of all views                                     |
'-------------------------------------------------------------------------*/

table.views {
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1ex;
}

table.views td, table.views th{
    border: 1px solid #444;
    padding: 2px 1ex;
}

table.views td {
    height: 25px;
    padding-top: 3px;
    color: #fff;
}

table.views th {
    background-color: #709aa5;
    color: #fff;
}

table.views td.legend {
    background-color: #8eaeb8;
    color: #fff;
}

table.views td.content {
    background-color: #9ebec8;
    color: #fff;
}

table.views td.edit {
    background-color: #6ab;
    text-align: center;
}

table.views td.buttons {
    padding: 3px;
    vertical-align: middle;
    background-color: #8EAEB8;
}


