/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                     __        ___  _____ ___                             |
|                     \ \      / / \|_   _/ _ \                            |
|                      \ \ /\ / / _ \ | || | | |                           |
|                       \ V  V / ___ \| || |_| |                           |
|                        \_/\_/_/   \_\_| \___/                            |
|                                                                          |
+--------------------------------------------------------------------------+
| Styles used in WATO.                                                     |
'-------------------------------------------------------------------------*/

/* Icon image place inline in some documentation text */
.wato img.icon.docu {
   width: 14px;
   height: 14px;
   vertical-align: middle;
}

/* Tables in WATO are not size to 100% per default */
.wato table.data {
    /* box-shadow: 0 0 3px #334488; */
    width: auto;
}

.wato table.data th {
    -moz-border-radius: 0px;
    background-color: #508aa1;
    background-color: #73a1b4;
}



.wato th.left {
    border-left-style: none;
    -moz-border-radius: 4px 0px 0px 0px;
}
.wato table.data td {
    /* border-style: dashed; */
}

.wato table.data td.select {
    text-align: center;
    width: 1px;
}

.wato th.right {
    border-right-style: none;
    -moz-border-radius: 0px 4px 0px 0px;
}
.wato td.right {
    text-align: right;
}

/* WATO configuration forms */
.wato table.form {
    width: 100%;
    /* width: 850px; */
    margin-left: 0px;
}

.wato table.form td {
    /* border-style: dashed; */
}

.wato table.form td.legend {
    width: 300px;
}

.wato table.form td.legend h3 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    font-size: 9pt;
    font-weight: normal;
}
1* Foldable sections in host properties */
.wato table.form td.title {
    /* border-style: none none solid none; */
}

.wato table.form td.title i {
    font-weight: normal;
    padding-bottom: 8px;
    border-top-style: solid;
}


.wato table.form td.legend i, .wato table.form td.title i {
    margin-top: 13px;
    /* color: #eee; */
}

.wato table.form td.content {
    /* border-left-style: solid; */
    /* width: 494px; */
}

.wato table.form tr.top td,
.wato table.form tr.top td,
.wato table.form tr.top td.checkbox {
    /* border-top-style: none; */
}

.wato table.form.nomargin td.checkbox {
    /* border-top-style: none; */
}


.wato table.form td.checkbox {
    width: 20px;
    /* height: 40px; */
    /* padding-top: 7px; */
    /* vertical-align: top; */
    text-align: center;
    /* border-width: 1px; */
    /* border-style: solid none solid none; */
    /* border-color: #2f5f73 */
}

.wato form.new_rule {
    margin: 10px 0 10px 0;
}

.wato div.sitestatus {
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px;
    font-size: 7pt;
    font-weight: bold;
}

.wato table.auditlog {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    border-collapse: collapse;
    margin-top: 3px;
    margin-bottom: 1em;
    width: 100%;
}

.wato table.pending {
    background-color: #fff;
}

.wato table.auditlog td {
    border: 1px solid #fff;
    padding: 2px 6px;
}

.wato table.auditlog td.nobreak {
    white-space: nowrap;
}

.wato .pending td {
    border: 1px solid #444;
    padding: 2px 6px;
}

.wato table.auditlog.pending td {
    border-color: #f80;
}
.wato table.auditlog.pending tr.even0 {
    background-color: #fda;
}

.wato table.auditlog.pending tr.odd0 {
    background-color: #fc8;
}

.wato td.dns {
    color: #666;
}

.wato td.dnserror {
    color: #f00;
}

.wato td.takeall {
    /* width: 100%; */
}

.wato div.inherited {
    color: #000;
    font-weight: bold;
}
.wato td.inherited {
    color: #666;
}
.wato div.inherited h3 {
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    color: #468;
}
.wato div.inherited h3 a {
    color: #468;
}
.wato h3 {
    margin-bottom: 2px;
    color: white;
    font-size: 13pt;
    font-weight: normal;
}

/* host validation error */
table.validationerror  {
    width: 100%;
}

table.validationerror td.img {
    width: 68px;
}

table.validationerror img {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 15px;
}

/* bulk actions in host table */
.wato td.bulkactions {
    text-align: right;
}

.wato table.data tr.data td.bulksearch {
    text-align right;
    padding-right: 0px;
    white-space: nowrap;
}

.wato td.bulksearch input[type=text] {
    width: 150px;
    margin-right: 5px;
}


/* Path to current folder at top of screen */
.wato div.folderpath {
    margin-bottom: 8px;
    height: 30px;
    position: relative;
    left: 3px;
}

.wato div.folderpath ul {
    list-style-type:none;
    padding-left:0;
}

.wato div.folderpath li {
    float:left;
    display:block;
    height:26px;

    position:relative;

    /* spacing for the image divs left/right */
    padding-left: 20px;
    padding-right: 20px;

    /* move left border of all items 22px left to make the items overlap */
    margin-left: -13px;

    color: #fff;
}

.wato div.folderpath li a {
    color: #fff;
    text-decoration: none;
}

.wato div.folderpath li div.content {
    height: 18px;
    background-image: url('images/breadcrumb_c_lo.png');

    padding:4px 2px;
    line-height:18px;
}

.wato div.folderpath li:hover div.content {
    background-image: url('images/breadcrumb_c_hi.png');
}

.wato div.folderpath li select {
    padding: 2px 0px 2px 4px;
    background-color: #6da1b8;
    margin: 0;
    color: #fff;
    font-weight: normal;
    font-size: 8pt;
    border-style: none;
    position: relative;
    right: -6px;
    z-index: 200;
}

.wato div.folderpath li:hover select {
    background-color: #7fb0c6;
}

.wato div.folderpath li select option {
    background-color: #6da1b8;
}

.wato div.folderpath li div.left,
.wato div.folderpath li div.right {
    position: absolute;
    width: 20px;
    height: 100%;
}

.wato div.folderpath li div.left {
    top: 0;
    left: 0;
    background-image: url('images/breadcrumb_lm_lo.png');
}

.wato div.folderpath li:hover div.left {
    background-image: url('images/breadcrumb_lm_hi.png');
}

.wato div.folderpath li div.left.end {
    background-image: url('images/breadcrumb_l_lo.png');
}

.wato div.folderpath li:hover div.left.end {
    background-image: url('images/breadcrumb_l_hi.png');
}

.wato div.folderpath li div.right {
    top: 0;
    right: 0;
    background-image: url('images/breadcrumb_rm_lo.png');
}

.wato div.folderpath li:hover div.right {
    background-image: url('images/breadcrumb_rm_hi.png');
}

.wato div.folderpath li div.right.end {
    background-image: url('images/breadcrumb_r_lo.png');
}

.wato div.folderpath li:hover div.right.end {
    background-image: url('images/breadcrumb_r_hi.png');
}

.wato div.floatfolder {
    position: relative;
    left:-14px;
    float:left;
    background-image: url('images/folder_closed.png');
    background-repeat: no-repeat;
    background-position: top left;
    width: 180px;
    height: 140px;
}

.wato div.floatfolder .autherr {
    position: absolute;
    top: 20px;
    right: 23px;
}

.wato div.floatfolder .edit {
    position: absolute;
    top:20px;
    right:54px;
}

.wato div.floatfolder .move {
    position: absolute;
    top:20px;
    right:32px;
}

.wato div.floatfolder .delete {
    position: absolute;
    top:20px;
    right:10px;
}

.wato div.floatfolder .infos {
    position: absolute;
    bottom: 29px;
    left: 20px;
    color: #bde;
}

.wato div.floatfolder .title {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    text-align: center;

    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.wato div.floatfolder .title a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    top: -2px;
}

.wato div.move_dialog {
    padding:10px;
    background-color: #45829D;

    position: relative;
    left:105px;
    top:35px;
    z-index: 200;
    height: 190px;

    width: -moz-max-content;
    width: intrinsic;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.wato div.move_dialog select[multiple] {
    height: 170px;
}

.wato div.move_dialog span {
    display: block;
    margin-bottom: 2px;
}

.wato div.hoverarea {
    width: 154px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 10px;
    z-index: 100;
}

.wato div.floatfolder:hover {
    cursor:pointer;
}

.wato div.floatfolder:hover a {
    text-decoration: underline;
}

.wato div.folder_foot {
    clear: left;
    margin-bottom:10px;
}

/* Information boxes displayed directly in the data area */
.wato div.info {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 8px;
    -moz-border-radius: 3px;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
}

/* Controls for the audit log paged mechanism */
.wato div.paged_controls {
    float: right;
}

/* Special styles for configuration and rule editor */
.wato div.rule {
    width: 500px;
    height: 140px;
    border: 1px solid white;
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    margin-top: 10px;
    -moz-border-radius: 4px;
    position: relative;
    top: 0px;
    left: 0px;
}

.wato div.rule div.nr {
    -moz-border-radius: 10px;
    border: 1px solid white;
    background-color: #fcd340;
    color: black;
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 9px;
    top: 9px;
}
.wato div.rule div.nr b {
    position: relative;
    top: 3px;
}

.wato img.trans {
    width: 20px;
    height: 13px;
}
.wato td.value img {
    width: 20px;
    height: 20px;
}
.wato table.ruleeditor img {
    width: 22px;
    height: 22px;
    position: relative;
    top: -3px;
}

.wato div.rule div.title {
    position: absolute;
    top: 12px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

.wato div.rule div.conditions.title {
    left: 40px;
}
.wato div.rule div.value.title {
    left: 390px;
}


.wato div.rule div.box {
    position: absolute;
    top: 30px;
    border: 1px solid white;
    background-color: #a7bec3;
    padding: 5px;
    -moz-border-radius: 4px;
    height: 90px;
}

.wato div.rule div.conditions.box {
    left: 40px;
    width: 330px;
}

.wato ul.conditions {
    padding: 0;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: square;
}
.wato ul.conditions li {
    padding: 0;
    margin: 0;
}


.wato div.rule div.condition {
    float: none;
}

.wato div.rule div.value.box {
    left: 390px;
    width: 90px;
}

.wato table.itemlist td {
    margin: 0;
    padding: 0;
}

/* This style destroys many other td styles since
   it is too specific or too unspecific */
/* .wato table.form td.content td {
    padding: 0;
    vertical-align: middle;
}*/

.wato table.data.ruleset td {
/*    vertical-align: top; */
}

/* Special styling for Timeperiods editor */ 
.wato table.timeperiod td.name {
    width: 210px;
}

form#form_timeperiod td.vlof_content input.text:first-child {
    margin-right: 10px;
    width: 189px;
}
form#form_timeperiod td.vlof_content {
    background-image: none;
}


/* Value editor */
.wato table.data.globalvars td {
    vertical-align: top;
}

.wato pre.ve_textarea {
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
}

.wato table.data.globalvars img.iconbutton {
    width: 60px;
    height: 16px;
}

/* main menu */
.wato div.mainmenu {
    background-color: red;
}
.wato div.mainmenu a {
    width: 317px;
    height: 76px;
    display: block;
    background-image: url("images/wato_mainmenu_button_lo.png");
    background-repeat: no-repeat;
    float: left;
    position: relative;
    margin: 0px -1px -1px 0px;
    left: -2px;
}
.wato div.mainmenu a:hover {
    background-image: url("images/wato_mainmenu_button_hi.png");
}
.wato div.mainmenu a:active {
    background-image: url("images/wato_mainmenu_button_clicked.png");
}

.wato div.mainmenu div {
    text-decoration: none; 
    color: white;
}
.wato div.mainmenu img {
    position: absolute;
    top: 13px;
    left: 13px;
}
.wato div.mainmenu div.title {
    font-weight: bold;
    position: absolute;
    left: 72px;
    top: 14px;
}
.wato div.mainmenu div.help {
    position: absolute;
    left: 72px;
    top: 32px;
    width: 237px;
    overflow: hidden;
}


/* Special styles for roles editor (permissions) */
.wato table.form table.permissions {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}
.wato table.form table.permissions td {
    border-top: 1px dotted white;
    padding-top: 2px;
    padding-bottom: 8px;
}
.wato table.form table.permissions td.left {
}
.wato table.form table.permissions td.right {
    text-align: right;
    vertical-align: top;
}
.wato table.form table.permissions td.right select {
    width: 120px;
}

/* page "Rulesets" */
.wato .rulesets {
    background-color: #eeeeee;
    padding: 3px 5px;
    width: 100%;
    /* box-shadow: 0px 0px 2.5px #888; */
}

.wato .rulesets div.ruleset {
    float: left;
    margin-right: 20px;
}

.wato .rulesets div.ruleset div.text {
    width: 276px;
    padding-right: 3px;
    overflow: hidden;
    float: left;
}
.wato .rulesets div.ruleset div {
    height: 16px;
}

.wato .rulesets div.ruleset a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    margin-right: 3px;
}

.wato .rulesets div.ruleset a:hover {
    text-decoration: underline;
}

.wato .rulesets div.ruleset .dots {
    color: #888;
    overflow: hidden;
}

.wato .rulesets div.ruleset div.rulecount {
    width: 16px;
    float: left;
    text-align: right;
}

/* Page edit_ruleset */
div.varname {
    color: white;
    font-family: monospace, sans-serif;
}




/* Table in page "Global variables" */
.wato table.data.globalvars {
    width: 100%;
}
.wato table.data.globalvars td.title {
    width: 430px;
}
.wato table.data.globalvars td.varname {
    width: 300px;
}

/* Replication */
.wato table.data td.repprogress {
    width: 160px;
}
.wato div.repprogress {
    height: 16px;
    background-image: url("images/repprogress.png");
    background-repeat: repeat;
    float: left;
    color: white;
    text-align: center;
    padding-top: 0px;
    font-size: 8pt;
}

.wato td.tag-ellipsis {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/*-------------------------------------------------------------------------.
|               ____                                                       |
|              |  _ \ _ __ ___   __ _ _ __ ___  ___ ___                    |
|              | |_) | '__/ _ \ / _` | '__/ _ \/ __/ __|                   |
|              |  __/| | | (_) | (_| | | |  __/\__ \__ \                   |
|              |_|   |_|  \___/ \__, |_|  \___||___/___/                   |
|                               |___/                                      |
+--------------------------------------------------------------------------+
| Interactive progress bar, e.g. used in bulk inventory.                   |
'-------------------------------------------------------------------------*/

.wato table.progress {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    width: 50%;
    border: 1px solid #000;
}

.wato table.progress th {
    background-color: #fff;
    padding: 3px 0px;
}

/* Log window */
.wato table.progress td.log div {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    border: 1px solid #fff;
    padding: 5px;
    height: 250px;
    overflow: auto;
    text-align: left;
}

.wato table.progress td.log {
    font-family: monospace, sans-serif;
    padding: 12px 12px 0px 12px;
}

/* progress bar */
.wato table.progress td.bar {
    padding: 0 12px 0 12px;
    height: 46px;
}

.wato table.progress td.bar table {
    position: relative;
    top: 12px;
    width: 100%;
    height: 22px;
    background-color: #fff;
    border-spacing: 1px 2px;
}

.wato table.progress td.bar #progress_title {
    position: relative;
    top: -6px;
    left: 0px;
    width: 100%;
    height: 0px;
    text-align: center;
    white-space: nowrap;
    float: left;
    z-index: 40;
    font-weight: bold;
}

.wato table.progress td.bar img.glass {
    position: relative;
    top: -10px;
    width: 100%;
    height: 22px;
    z-index: 30;
}

.wato table.progress td.bar td.left {
    background-color: #4080ff;
    width: 0%;
}
.wato table.progress td.bar td.right {
    width: 100%;
}

.wato #progress_bar.finished td.left {
    background-color: #80ff00;
    padding: 0px;
}
.wato #progress_bar.finished td.right {
    width: 0px;
}

/* Statistics table */
.wato table.progress td.stats {
    padding: 0px 12px 12px 12px;
}
.wato table.progress td.stats table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #fff;
}
.wato table.progress td.stats th {
    text-align: left;
    background-color: transparent;
    padding-right: 3em;
    padding-left: 6px;
}
.wato table.progress td.stats th, .wato table.progress td.stats td {
    border-bottom: 1px solid #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.wato table.progress td.stats td {
    background-image: url("images/form_background.png");
    background-repeat: repeat;
    text-align: right;
    width: 4em;
    padding-right: 6px;
}

/* Buttons */
.wato table.progress td.buttons {
    padding: 0px 12px 12px 12px;
    text-align: right;
    vertical-align: bottom;
}

.wato div.error pre div.err {
    background-color: yellow;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

/* Logwatch pattern editor */

.logwatch_try input.match {
    width: 99%;
}

table.logwatch tr.noreason {
    color: #898989;
}

table.logwatch span.match {
    border: 1px solid #49768B;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 2px 2px 2px;
}
