*.a
*.la
*.o
*.o.tmp
*.pu
*.so
.clangd/
.cproject
.deps
Makefile
Makefile.in
asio-asio-1-18-2/
compile_commands.json
cppcheck-result.xml
googletest-f3ef7e173f/
html/
includes/
libs/
livecheck
rrdtool-*
test_detail.xml
test_neb
unixcat
