*.a
*.la
*.o
*.o.tmp
*.pu
*.so
.clangd/
.cproject
.deps
Makefile
Makefile.in
asio-asio-1-18-0/
compile_commands.json
cppcheck-result.xml
googletest-07d4a6e93d/
html/
includes/
libs/
livecheck
rrdtool-*
test_detail.xml
test_neb
unixcat
