*.a
*.la
*.o
*.o.tmp
*.so
.clangd/
.cproject
.deps
Makefile
Makefile.in
asio-asio-1-14-0/
compile_commands.json
cppcheck-result.xml
googletest-release-1.10.0/
html/
includes/
libs/
livecheck
rrdtool-*
test_detail.xml
test_neb
unixcat
