{%- macro changes(grouped_werks) -%}
{%- for group in grouped_werks %}
### {{ group.component }}
{%- for werk in group.werks %}
* [{{werk.id}}]({{werk.url}}) {{werk.prefix}}{{werk.title}}{{"..." if werk.has_content else ""}}
{%- if not werk.compatible %}
  _NOTE: Please refer to the migration notes!_
{%- endif -%}
{%- endfor %}
{% else %}
_NO CHANGES_
{%- endfor %}
{%- endmacro -%}
[Release] Checkmk {{ release_type }} release {{ version }}
Dear friends of Checkmk,

the new {{ release_type }} release {{ version }} of Checkmk is ready for download.

This {{release_type}} release ships with {{werks.cre.len}} changes affecting all editions of Checkmk,
{{ werks.cee.len }} changes for the Enterprise editions, {{ werks.cce.len }} Cloud Edition specific and
{{ werks.cme.len }} Managed Services Edition specific changes.


## Changes in all Checkmk Editions:
{{ changes(werks.cre.werks) }}


## Changes in the Checkmk Enterprise Edition:
{{ changes(werks.cee.werks) }}


## Changes in the Checkmk Cloud Edition:
{{ changes(werks.cce.werks) }}


## Changes in the Checkmk Cloud (SaaS):
{{ changes(werks.cse.werks) }}


## Changes in the Checkmk Managed Services Edition:
{{ changes(werks.cme.werks) }}


You can download Checkmk from our download page: https://checkmk.com/download

List of all changes: https://checkmk.com/werks?product=cmk&version={{ version }}

We would like to ask all users to try out the new version and help us ensure that Checkmk 2.4.0 becomes a success.

* Anyone with a Checkmk subscription directly purchased from Checkmk: [Beta support portal](https://support.checkmk.com/servicedesk/customer/portal/9)
* Anyone with a Checkmk subscription purchased via an official Checkmk partner: please submit via your partner the tickets (they can report issues free of charge in the beta support portal)
* Anyone without a subscription (and only these please): in [this forum category](https://forum.checkmk.com/c/feedback/2-4-beta/47)


We greatly thank you for using Checkmk and wish you a successful monitoring,

Your Checkmk Team
