{%- macro changes(grouped_werks) -%}
{%- for group in grouped_werks %}
{{ group.component }}
{%- for werk in group.werks %}
* {{werk.id}} {{werk.prefix}}{{werk.title}}{{"..." if werk.has_content else ""}}
{%- if not werk.compatible %}
        NOTE: Please refer to the migration notes!
{%- endif -%}
{%- endfor %}
{% else %}
    NO CHANGES
{%- endfor %}
{%- endmacro -%}
New Checkmk {{release_type}} release {{version}}
Dear friends of Checkmk,

the new {{release_type}} release {{version}} of Checkmk is ready for download.

This {{release_type}} release ships with {{werks.cre.len}} changes affecting all editions of Checkmk,
{{ werks.cee.len }} changes for the Enterprise editions, {{ werks.cce.len }} Cloud Edition specific and
{{ werks.cme.len }} Managed Services Edition specific changes.

Support periods can be found here: https://docs.checkmk.com/latest/en/cmk_versions.html


Changes in all Checkmk Editions:
{{ changes(werks.cre.werks) }}


Changes in the Checkmk Enterprise Edition:
{{ changes(werks.cee.werks) }}


Changes in the Checkmk Cloud Edition:
{{ changes(werks.cce.werks) }}


Changes in the Checkmk Cloud (SaaS):
{{ changes(werks.cse.werks) }}


Changes in the Checkmk Managed Services Edition:
{{ changes(werks.cme.werks) }}

You can download Checkmk from our download page:
 * https://checkmk.com/download

The list of all changes can be found here:
 * https://checkmk.com/werks?product=cmk&version={{ version }}

{{ "\nPlease share bug reports and qualified feedback via the support portal (https://support.checkmk.com) or via <%s>." % feedback_mail if feedback_mail else "" }}
We greatly thank you for using Checkmk and wish you a successful monitoring,

Your Checkmk Team
