{%- macro changes(grouped_werks) -%}
{%- for group in grouped_werks %}
### {{ group.component }}
{%- for werk in group.werks %}
* [{{werk.id}}]({{werk.url}}) {{werk.prefix}}{{werk.title}}{{"..." if werk.has_content else ""}}
{%- if not werk.compatible %}
  _NOTE: Please refer to the migration notes!_
{%- endif -%}
{%- endfor %}
{% else %}
_NO CHANGES_
{%- endfor %}
{%- endmacro -%}
[Release] Checkmk {{ release_type }} release {{ version }}
Dear friends of Checkmk,

we are proud to bring you the new Checkmk 2.4.0 release \- the monitoring solution for hybrid IT infrastructures.

Highlights of the release include a complete overhaul of notifications and the dynamic configuration. Fundamental actions have gotten a speed booster. Piggyback works smoothly in distributed environments. Quick setup, a new concept for configuring complex integrations has arrived. And many more things\!

Check out our newly introduced [release notes](https://checkmk.com/learn/release-notes-240) for a summary of the key new features and a curated list of relevant werks.

Want the juicy details? Join us at the 11th [Checkmk Conference](https://conference.checkmk.com) (May 20th-22nd, 2025\) to dive into Checkmk 2.4.0 and discover what’s next for Checkmk.

Before updating, we recommend reading the [2.4.0 update guide](https://docs.checkmk.com/2.4.0/en/update_major.html).

All changes can be found [here](https://checkmk.com/werks?search=&product=cmk&cmk_version[]=2.4) (1300+ werks).

We greatly thank you for using Checkmk and wish you a successful monitoring,

Your Checkmk Team
