[MASTER]
# Setup the Python paths needed for our tests. This is a bit tricky due to the
# fact that we want to be able to run pylint with and without the --rcfile
# option. Pylint offers pylint.config.PYLINTRC to get the path to the
# automatically found config file, but this doesn't take --rcfile into account.
# So we have to fall back to a slightly hacky method discussed in the post
# https://mail.python.org/pipermail/code-quality/2016-June/000781.html,
# accessing pylint's innards. Not nice, but there is not much we can do about
# this until pylint offers the API requested in the post above. Furthermore,
# note that layout/indentation doesn't work too well in the hook below.

load-plugins=
    pylint.extensions.bad_builtin
jobs=0
# TODO: Why do we need persistence?
persistent=yes
extension-pkg-whitelist=rrdtool,_ldap,netifaces,pymssql
bad-functions=unichr,basestring,unicode,file,cmp,apply,execfile,reduce,reload

[MESSAGES CONTROL]
disable=
    # Use local suppressions or (even better) refactor the code.
    import-outside-toplevel,
    #---------------------------------------------------------------------------
    # Enabling this would be very desirable, but currently highly broken, see
    # https://github.com/PyCQA/pylint/issues/3507. The pylint people seem to
    # ignore mypy stuff as much as they can, it seems... :-/
    isinstance-second-argument-not-valid-type,
    #---------------------------------------------------------------------------
    # We should really enable this, there could be some real exceptions waiting
    # to be thrown. But some work is needed first to sprinkle abc annotations
    # through our code and fix a few obscure places.
    abstract-method,
    #---------------------------------------------------------------------------
    # Enabling this would be very desirable, it vastly improves readability and
    # it might even be necessary for tools like mypy. Fixing this involves some
    # amount of relatively easy work, especially if we want to avoid code
    # duplication (introduce new classes, combine methods, etc.)
    attribute-defined-outside-init,
    #---------------------------------------------------------------------------
    # Enabling these warnings would be nice, they are mostly a sign of sloppy
    # programming practice. In some cases, they can even hide bugs.
    broad-except,
    #---------------------------------------------------------------------------
    # Enabling this would enhance readability quite a bit and it might even
    # uncover bugs. Fixing this is not rocket science, just some work.
    inconsistent-return-statements,
    #---------------------------------------------------------------------------
    # Enabling this would be nice, but not crucial. Nevertheless, this would
    # improve readability and involve some cleanups in our class hierarchy, so
    # we should do this some day.
    protected-access,
    #---------------------------------------------------------------------------
    # Enabling this would be nice, but not crucial. At the moment, we have quite
    # a few violations, so we postpone fixing this.
    no-self-use,
    #---------------------------------------------------------------------------
    # Enabling this would be nice, but not crucial. At the moment, we have quite
    # a few violations (about 220 in roughly 40 modules), so we postpone fixing
    # this. Note that due to our arcane use of types, we need to be very careful
    # when fixing these warnings!
    len-as-condition,
    #---------------------------------------------------------------------------
    # Enabling this would be nice, but not crucial. At the moment, we have quite
    # a few violations, so we postpone fixing this. When we do it eventually, we
    # probably want to use "include-naming-hint=yes" in the BASIC section.
    invalid-name,
    #---------------------------------------------------------------------------
    # Enable these would improve readability, but currently there are quite a
    # few places to fix.
    wrong-import-position,
    #---------------------------------------------------------------------------
    # Enabling this would be nice, but not crucial. At the moment, we have quite
    # a few violations, so we postpone fixing this.
    unused-argument,
    #---------------------------------------------------------------------------
    # Alas, these maintenance/security nightmares are still part of our base
    # "technology"... :-/ Nevertheless, reducing their usage is a very worthy
    # goal.
    exec-used,
    global-statement,
    #---------------------------------------------------------------------------
    # Enabling these would be nice, but given the current state of affairs
    # (gigantic modules with deeply nested humungous functions/methods), this
    # will be a non-trivial amount of work.
    too-few-public-methods,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    #---------------------------------------------------------------------------
    # Enabling these would be nice, but at the moment pylint is a bit too dumb,
    # so it stumbles over e.g. initialization with None. It ignores control
    # flow, so even adding e.g. isinstance() guards wouldn't help, see:
    # https://github.com/PyCQA/pylint/issues/1498.
    unsubscriptable-object,
    unsupported-membership-test,
    #---------------------------------------------------------------------------
    # Our code is still full of FIXMEs/XXXs/TODOs, perhaps fixing or removing
    # them might be a good idea some day...
    fixme,
    #---------------------------------------------------------------------------
    # The warnigns below will probably fixed by YAPF.
    bad-continuation,
    bad-whitespace,
    line-too-long,
    #---------------------------------------------------------------------------
    # We are light years away from enabling this...
    missing-docstring,
    #---------------------------------------------------------------------------
    # Enabling the two spelling-related checks increases pylints runtime from
    # 11 min to 40 min, so we better keep those disabled for normal runs.
    # NOTE: If we want to enable one of these checks, we need to add pyenchant
    # to our dev dependencies.
    wrong-spelling-in-comment,
    wrong-spelling-in-docstring,
    #---------------------------------------------------------------------------
    # Pylint is full of bugs regarding this, leading to tons of false positives
    # when pathlib.path is used. Furthermore, the handling of NewTypes is totally
    # broken, see e.g. https://github.com/PyCQA/pylint/issues/2296 and
    # https://github.com/PyCQA/pylint/issues/3162.
    no-member,
    #---------------------------------------------------------------------------
    # This one got introduced with pylint 2.6.0
    # TODO: Evaluate
    raise-missing-from,
    #---------------------------------------------------------------------------
    # Many occurences of this one, to be fixed
    super-with-arguments,
    #---------------------------------------------------------------------------
    # To be evaluated
    wrong-import-order,
    #---------------------------------------------------------------------------
    # pylint 2.7.[012] has totally screwed this up... :-/
    duplicate-code,
    R0801,
    #---------------------------------------------------------------------------
    # Emergency suppressions, must be removed SOON!
    consider-using-with,
    #---------------------------------------------------------------------------
    ## pylint 2.9.0 introduced these checker. Investigate.
    consider-using-from-import,
    consider-using-dict-items,
    # pylint 2.9.0 introduced this checker which fails because of the
    # definition in cmk/base/check_api.py. The test could not be disabled in
    # the file for some reason and the code is OK. Last defense line: disable
    # it globally.
    invalid-all-format,

enable=
    #---------------------------------------------------------------------------
    # The checks below are from --py3k, and they can sometimes be annoying.
    # Nevertheless, they found quite a few bugs, so it makes sense to keep them
    # enabled.
    comprehension-escape,
    dict-items-not-iterating,
    dict-keys-not-iterating,
    dict-values-not-iterating,
    exception-escape,
    exception-message-attribute,
    filter-builtin-not-iterating,
    isinstance-second-argument-not-valid-type,
    map-builtin-not-iterating,
    range-builtin-not-iterating,
    zip-builtin-not-iterating,

[IMPORTS]
# This complies with PEP 8 and avoids code duplication in some cases.
allow-wildcard-with-all=yes

[REPORTS]

[FORMAT]
max-line-length=100

[VARIABLES]
# Be a little bit more mypy-friendly.
additional-builtins=reveal_type
