# https://docs.bazel.build/versions/main/best-practices.html#using-the-bazelrc-file
try-import %workspace%/user.bazelrc

# default/common bazel args for all commands supporting it
common --experimental_ui_max_stdouterr_bytes=10000000
common --experimental_remote_cache_async
common --remote_cache_compression
# minimum blob size required to compress/decompress with zstd (1MB)
common --experimental_remote_cache_compression_threshold=1048576
common --remote_local_fallback
common --cycles

## For specific commands
# https://gcc.gnu.org/onlinedocs/gcc/Code-Gen-Options.html#index-fPIC
# Required for dynamic linking.
build --copt="-fPIC"
clean --async
# all bazel-created temporary and build output files
# clean --expunge
# run ...
test --test_output=all

# Flags for CI builds
# Definition of "bazel x --config=ci -- ..."
## Common
common:ci --color=no
common:ci --show_progress_rate_limit=0
common:ci --show_timestamps
common:ci --memory_profile=bazel-memory.profile
common:ci --extra_toolchains="//omd/packages/toolchain:cc_toolchain_for_linux_x86_64"

## For specific commands
# build:ci ...
# clean:ci ...
# run:ci ...
# test:ci ...

# Flags for Debug builds
# Definition of "bazel x --config=debug -- ..."
## Common
common:debug --sandbox_debug
common:debug --subcommands=pretty_print
common:debug --announce_rc
# gRPC errors provide stack trace as well
common:debug --verbose_failures

## For specific commands
# build:debug ...
# clean:debug ...
# run:debug ...
# test:debug ...
