# Bazel configuration of the Checkmk repository
#
# Options are grouped by topic into bazel/rc/<topic>.rc, the definitions of the configs used via
# --config=<name> into bazel/rc/<name>.rc.  Generic options stay in this file.
#
#   dependencies.rc  registries, download mirrors, Bzlmod
#   cache.rc         disk cache, repository contents cache, remote cache
#   performance.rc   resource usage of the Bazel server
#   correctness.rc   hermeticity, lockfile and incompatible/migration flags
#   checkmk.rc       Checkmk specific build settings
#   ci.rc, debug.rc, iwyu.rc, mypy.rc, deballast.rc  the respective --config
#
# The import order matters for options set in more than one file: the last value of a single
# value option wins, repeatable options keep the order.  Today only the startup --host_jvm_args
# span files (performance.rc, then correctness.rc); keep that order when moving things around.

# Add git hash to workspace status
build --workspace_status_command=bazel/tools/workspace_status.sh

# default/common bazel args for all commands supporting it
common --experimental_ui_max_stdouterr_bytes=10000000

# Required for tools using java such as plantuml
common --java_runtime_version=remotejdk_21
common --java_language_version=21

## For specific commands
# Always require debug info.
# common --copt="-g"

# For some obscure reason, the re2 project made itself valgrind-dirty by default:
# https://github.com/google/re2/commit/ce6f2884c4b52509fd6c5d12b8f1c40587067784
# Defining the symbol below has a small performance hit, but makes our stuff
# valgrind-clean again, which is a crucial feature for debugging the NEB & CMC!
common --copt="-DRE2_ON_VALGRIND"

clean --async

# Control test verbosity
common --test_output=errors

# For better performance - passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
# For more correct typechecks - honor the setting of `skipLibCheck` in the tsconfig.json file
# common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

## For specific commands

import %workspace%/bazel/rc/dependencies.rc
import %workspace%/bazel/rc/cache.rc
import %workspace%/bazel/rc/performance.rc
import %workspace%/bazel/rc/correctness.rc
import %workspace%/bazel/rc/checkmk.rc
import %workspace%/bazel/rc/ci.rc
import %workspace%/bazel/rc/debug.rc
import %workspace%/bazel/rc/iwyu.rc
import %workspace%/bazel/rc/mypy.rc
import %workspace%/bazel/rc/deballast.rc

# The remote.bazelrc file contains the secrets for accessing the remote cache and must be added by the corresponding
# Jenkins job (or a user) in the form of:
# common --remote_cache=grpcs://${USER}:${PASSWORD}@{URL}
try-import %workspace%/remote.bazelrc

# ci.bazelrc can override all of the above (except explicit user-defined stuff)
try-import /etc/ci.bazelrc

# Import a (non-tracked) `user.bazelrc` if available - put worktree specific
# options here you don't want to accidentally submit
try-import %workspace%/user.bazelrc

# Note: unfortunately there is no way to `try-import %home%/user.bazelrc`,
# in order to set user specific options in a worktree-independent way, but
# you can create ~/.bazelrc and put your global stuff there.
