---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex: '^"stdafx.h"'
    Priority: -1
  - Regex: '^"pch.h"'
    Priority: -1
  - Regex: '^"config.h"'
    Priority: 1
  - Regex: '^<winsock2.h>'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*'
    Priority: 3
  - Regex: '.*'
    Priority: 4
IndentWidth: 4
PointerAlignment: Right
...
