# Check_MK config for direnv (Environment switcher for the shell)
export PIPENV_VENV_IN_PROJECT=true

VENV_DIR=$(pipenv --venv)
if [ -n "$VENV_DIR" ]; then
    source $VENV_DIR/bin/activate
else
    echo "Execute \"make setup\" to create the virtual environment"
fi
