# -*- mode: sh -*-
layout_cmk_uv() {
    VIRTUAL_ENV="$(pwd)/.venv"
    if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]]; then
        make .venv
    fi

    PATH_add "$VIRTUAL_ENV/bin"
    export UV_ACTIVE=1  # or VENV_ACTIVE=1
    export VIRTUAL_ENV
}

layout cmk_uv

watch_file bazel-out/bazel_env-opt/bin/bazel/tools/bazel_env/bin
PATH_add bazel-out/bazel_env-opt/bin/bazel/tools/bazel_env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/bazel/tools/bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //bazel/tools:bazel_env' to regenerate bazel-out/bazel_env-opt/bin/bazel/tools/bazel_env/bin"
fi
