[flake8]
ignore=
    ################################################################################################
    # Black is our formatting tool, so ignore any formatting-related findings.
    ################################################################################################
    # whitespace before ':'
    E203,
    # line too long
    E501,
    # line break before binary operator
    W503,
    # multiple statements on one line (colon)
    E701,
    # multiple statements on one line (def)
    E704,
    ################################################################################################
    # Ignore findings which are incompatible with our "import" techonology.
    ################################################################################################
    # 'FOO' imported but unused
    F401,
    # module level import not at top of file
    E402,
    # 'from FOO import *' used; unable to detect undefined names
    F403,
    # 'FOO' may be undefined, or defined from star imports: BAR
    F405,
    ################################################################################################
    # We should probably have a look at these findings.
    ################################################################################################
    # do not assign a lambda expression, use a def
    E731,
    # ambiguous variable name 'FOO'
    E741,
    # undefined name 'FOO'
    F821,
    # local variable 'FOO' is assigned to but never used
    F841,
