[flake8]
# In .style.yapf and .pylintrc we use 100, but in some cases this isn't enforced.
max-line-length=220
ignore=
    # Incompatible with YAPF:
    # continuation line under-indented for hanging indent
    E121,
    # Incompatible with YAPF:
    # closing bracket does not match visual indentation
    E124,
    # continuation line with same indent as next logical line
    E125,
    # Too many manual line breaks via \ currently to be usable:
    # continuation line over-indented for hanging indent
    E126,
    # Too many manual line breaks via \ currently to be usable:
    # continuation line over-indented for visual indent
    E127,
    # Incompatible with YAPF:
    # continuation line unaligned for hanging indent
    E131,
    # Incompatible with YAPF:
    # missing whitespace after ','
    E231,
    # Incompatible with the vim folding markers:
    # block comment should start with '# '
    E265,
    # Incompatible with our conditional imports:
    # module level import not at top of file
    E402,
    # Incompatible with our re-exports:
    # 'from FOO import *' used; unable to detect undefined names
    F403,
    # Incompatible with our exec/eval magic:
    # 'FOO' may be undefined, or defined from star imports
    F405,
    # Incompatible with YAPF:
    # line break before binary operator
    W503,
    # Incompatible with YAPF:
    # line break after binary operator
    W504,
    # Incompatible with YAPF:
    # unexpected spaces around keyword / parameter equals
    E251,
    # Bug in pyflakes
    # syntax error in type comment 'FOO'
    F723,
    # Bug in pyflakes, already fixed in https://github.com/PyCQA/pyflakes/pull/455, but no release in sight after ages... :-P
    # undefined name 'FOO'
    F821,
