.*.swo
.*.swp
.bugs/.last
.bugs/.my_ids
.cache
.coverage
.coverage.*
.directory
.DS_Store
.idea/
.metadata
.mypy_cache
.mypy_cache/
.ropeproject
.syntastic
.testmondata
.venv-2.7
.venv-3.8
.venv.lock
.venv/
.vscode/
*.code-workspace
*.cookie
*.gcno
*.gcov
*.iml
*.py.*.py
*.pyc
*.timer
**/launch.json
*~
*kate-swp
/.tmp*
/*.wpr
/*.wpu
aclocal.m4
ar-lib
artefacts/
autom4te.cache/
ChangeLog
check_mk-*.tar.gz
check-mk-*.build
check-mk-*.dsc
check-mk-*.tar.gz
clang-analyzer/
cmc-*.tar.gz
cme-*.tar.gz
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/plugin-api/build/
doc/plugin-api/source/apidoc/
GPATH
GRTAGS
GTAGS
htmlcov/
install-sh
missing
mk-livestatus-*.tar.gz
node_modules/
RemoteSystemsTempFiles
stamp-h1
tags
tests/web/data/*
tests/var/*
web/htdocs/js/*_min.js.map
