*.gcno
*.pyc
*.py.*.py
*kate-swp
*~
.*.swo
.*.swp
.DS_Store
.bugs/.last
.bugs/.my_ids
.cache
.coverage
.directory
.metadata
.mypy_cache
.ropeproject
GPATH
GRTAGS
GTAGS
RemoteSystemsTempFiles
aclocal.m4
ar-lib
autom4te.cache/
ChangeLog
check_mk-*.tar.gz
check-mk-*.tar.gz
check-mk-*.build
check-mk-*.dsc
clang-analyzer/
cmc-*.tar.gz
cme-*.tar.gz
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
mk-livestatus-*.tar.gz
stamp-h1
tags
tests/web/data/*
.idea/
.venv
*.gcov
htmlcov/
artefacts/
node_modules/
web/htdocs/js/*_min.js.map
