# generated
package-lock.json
pnpm-lock.yaml
node_modules/

*.jsonl

# cmk-frontend
# 3rd party
packages/cmk-frontend/src/js/modules/colorpicker.js
packages/cmk-frontend/src/jquery
packages/cmk-frontend/src/openapi
packages/cmk-frontend/src/js/modules/figures/cmk_stats.ts

# cmk-frontend-vue
packages/cmk-frontend-vue/demo/public/mockServiceWorker.js
packages/cmk-frontend-vue/dist-dev/
packages/cmk-frontend-vue/*.md
