# Two slightly ugly problems:
#    * We need to keep this in sync with omd/packages/python-modules/Makefile
#    * The actual versions depend on the platform, we use the Ubuntu bionic ones below.

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
"beautifulsoup4" = "*"
pytest-stepwise = "*"
dill = "*"
"html5lib" = "*"
bandit = "*"
lockfile = "*"
lxml = "*"
pylint = "*"
pyenchant = "*"
yapf = "*"
docker = "*"
mockldap = "*"
isort = "*"

[packages]
setuptools_scm = "==3.1.0"
pysphere = "==0.1.7"
"pyasn1" = "==0.4.4"
"pyasn1-modules" = "==0.2.2"
pycryptodomex = "==3.6.6"
ordereddict = "==1.1"
ply = "==3.11"
pysmi = "==0.3.2"
pysnmp = "==4.4.4"
setuptools-git = "==1.2"
pymssql = "==2.1.3"
python-ldap = "==3.1.0"
simplejson = "==3.16.0"
mysqlclient = "==1.3.13"
psycopg2 = "==2.7"  # This is actually a lie: We ship 2.6.2, but installation fails for PostgreSQL > 9. Alas, 2.7 removed support for clients < 9.1. >:-(
dicttoxml = "==1.7.4"
pycparser = "==2.19"
enum34 = "==1.1.6"
cffi = "==1.11.5"
Pillow = "==5.3.0"
reportlab = "==3.5.9"
PyPDF2 = "==1.26.0"
npyscreen = "==4.10.5"
psutil = "==5.4.7"
six = "==1.11.0"
ipaddress = "==1.0.22"
netifaces = "==0.10.7"
dnspython = "==1.15.0"
# python-ad = "==0.9"  This seems to be dead and is not on PyPi!
idna = "==2.7"
asn1crypto = "==0.24.0"
# For 1.5 we ship cryptography 1.9 with Check_MK and ignore the requirement of pyghmi of 2.1 in regular packages
cryptography = "==2.3.1"
certifi = "==2018.10.15"
chardet = "==3.0.4"
urllib3 = "==1.24.1"
requests = { version = "==2.20.0", extras = ["security"] }
pyOpenSSL = "==18.0.0"
pykerberos = "==1.2.1"
requests-kerberos = "==0.12.0"
tinkerforge = "==2.1.19"
bcrypt = "==3.1.4"
pynacl = "==1.3.0"
paramiko = "==2.4.2"
pbr = "==5.1.0"
pyghmi = "==1.2.14"
typing = "==3.6.6"
scandir = "==1.9"
pathlib2 = "==2.3.2"
python-dateutil = "==2.7.5"
python-snap7 = "==0.10"
rrdtool = "==0.1.14"  # Actually we ship the binding which comes with rrdtool itself...
PyJWT = "==1.6.4"   # needed by azure stuff
SecretStorage = {version = "==2.3.1", markers = "sys_platform == 'linux2' and python_version < '3.5'"}  # needed by azure stuff
adal = "==1.2.0"  # needed by azure stuff
azure-nspkg = "==3.0.2"
azure-common = "==1.1.16"
azure-mgmt-nspkg = "==3.0.2"
isodate = "==0.6.0"  # needed by azure stuff
oauthlib = "==2.1.0"  # needed by azure stuff
requests-oauthlib = "==1.0.0"  # needed by azure stuff
msrest = "==0.6.1"  # needed by azure stuff
msrestazure = "==0.5.0"  # needed by azure stuff
azure-mgmt-monitor = "==0.5.2"
azure-mgmt-resource = "==2.0.0"
azure-mgmt-compute = "==4.3.1"
configparser = "==3.5.0"  # needed by azure stuff
entrypoints = "==0.2.3"  # needed by azure stuff
keyring = "==15.1.0"  # needed by azure stuff
Werkzeug = "==0.14.1" # Added for the GUI
passlib = "==1.7.1" # Added for the GUI
docutils = "==0.14" # needed for aws stuff
futures = "==3.2.0" # needed for aws stuff
jmespath = "==0.9.3" # needed for aws stuff
botocore = "==1.12.43" # needed for aws stuff
s3transfer = "==0.1.13" # needed for aws stuff
boto3 = "==1.9.42" # needed for aws stuff

[requires]
python_version = "2.7"
