[[source]]
url = "${PIPENV_PYPI_MIRROR}"
verify_ssl = true
name = "pypi"

[dev-packages]
3to2 = "*"  # used for converting agent plugins from py3 to 2
astroid = "*"  # used by testlib.pylint_checker_localization
autoflake = "*"  # used to remove unused import statements
azure-mgmt-resource = "*"  # used by the release process to publish the azure image to the marketplace
azure-mgmt-compute = "*"  # used by the release process to add a new image version
bandit = "*"  # used by test/Makefile's test-bandit target
"beautifulsoup4" = "*"  # used by the GUI crawler and various tests
boto3-stubs = {extras = ["logs"], version = "==1.34.15"}  # used for type checking, keep version in sync with boto3
botocore-stubs = "==1.34.15"  # used for type checking, keep version in sync with botocore
bson = "*"  # used by test_mk_mongodb unit test
checkmk-dev-tools = "~=0.1.60"  # provides tooling for build artifacts
compiledb = "*"  # used by the Livestatus/CMC Makefiles for building compile_command.json
devpi-client = "*" # Managing the devpi server
dill = "*"
docker = "*"  # used by test_docker test and mk_docker agent plugin
dockerpty = "*"  # used by dockerized tests for opening debug shells
fakeredis = {version = "*", extras = ["lua"]}  # used for testing code which uses Redis (lua is needed for faking features like "lock")
fastapi = "*"  # needed to run fake idp for cse tests
flake8 = "*"
furo = "*"  # sphinx theme
hypothesis = "*"    # used by unit tests
hypothesis-jsonschema = "*"  # used by unit tests
isort = "*"  # used as a plugin for editors
jsonschema = "*"
libcst = "*" # concrete syntax trees for plugin migration helpers
msrest = "*"
mypy = "*"  # used by test/static/Makefile's test-mypy target
mypy-protobuf = "*" # for mypy
networkx = "*" # needed for py-import-cycles
pexpect = "*" # used for update testing
pipfile = "*" # for generating import names during int tests
playwright = "*"  # used for in-browser testing
polyfactory = "*" # used for generating mock data for unit tests
pre-commit = "*"  # used to fix / find issues before committing changes
py-import-cycles = "*"  # used in tests/Makefile
pylint = "*"  # used by test/Makefile's test-pylint target
pylint-pydantic = "*"
pyls-isort = "*"  # isort plugin for python-lsp-server
pylsp-mypy = "*"  # mypy plugin for python-lsp-server
pymongo = "*"  # used by mk_mongodb agent plugin
pytest = "*"
pytest-cov = "*"  # used (indirectly) by test/Makefile's test-unit-coverage-html target, see comment there
pytest-html = "*"  # used to generate HTML reports for test suites
pytest-mock = "*"  # used by quite a few unit/integration tests via the mocker fixture
pytest-random-order = "*"  # used to test resiliency
pytest-repeat = "*"  # used to test resiliency
pytest-testmon = "*"  # used for pre-commit checking via .pre-commit-config.yaml
pytest-xdist = "*" # used to limit number of procs in e2e tests
pytest-check = "*" # used to queue failed assertions and continue test execution
python-lsp-black = "*"  # black plugin for python-lsp-server
python-lsp-server = "*"  # Note: There are extras, but the default seems sensible.
responses = "*"  # used for unit tests
ruff = "*"
schemathesis = "*"  # used for openapi tests
semver = "*"
sphinx = "*"  # used for the plugin API documentation
sphinx-autoapi = "*"  # used for automatically generating plugin API documentation
sphinx-autodoc-typehints = "*"  # used for the plugin API documentation
sphinx-rtd-theme = "*"  # used for the plugin API documentation
sphinxcontrib-plantuml = "*"  # used for the API and architecture
sphinxcontrib-spelling = "*"
telnetlib3 = "*"  # used by Windows Agent tests
time-machine = "*" # used by various unit tests. Substitute for freezegun
twine = "*" # used to upload packages to internal PyPi mirror
types-beautifulsoup4 = "*"  # used for type checking
types-docutils = "*"  # used for type checking
types-jsonschema = "*"  # used for type checking
types-lxml = "*"  # used for type checking
types-mypy-extensions = "*"  # used for type checking
types-oauthlib = "*"  # used for type checking
types-paho-mqtt = "*"  # used for type checking
types-paramiko = "*"  # used for type checking
types-pillow = "*"  # used for type checking
types-protobuf = "*"  # used for type checking
types-psutil = "*"  # used for type checking
types-pyasn1 = "*"  # used for type checking
types-pymssql = "*"  # used for type checking
types-pymysql = "*"  # used for type checking
types-pyopenssl = "*"  # used for type checking
types-pysaml2 = "*"  # used for type checking
types-python-dateutil = "*"  # used for type checking
types-pyyaml = "*"  # used for type checking
types-redis = "*"  # used for type checking
types-requests = "*"  # used for type checking
types-s3transfer = "*"  # used for type checking
types-setuptools = "*"  # used for type checking
types-simplejson = "*"  # used for type checking
types-six = "*"  # used for type checking
types-urllib3 = "*"  # used for type checking
uvicorn = "*"
webtest = "*"  # used by WSGI based tests

[packages]
setuptools-scm = "==4.1.2"  # needed by various setup.py
six = "==1.16.0"  # direct dependency + needed by python-dateutil, vcrpy, python-active-directory
python-dateutil = "~=2.9.0"  # direct dependency
pyyaml = "==6.0.1"  # needed by vcrpy
vcrpy = "==6.0.1"  # used by various unit tests to mock HTTP transactions in some special agents (only)
cryptography = "*"
bcrypt = "*"
paramiko = "*"
pyasn1 = "==0.4.8"  # needed by pysnmp
ply = "==3.11"  # needed by pysmi, python-active-directory
pysmi-lextudio = "==1.4.3"  # needed by pysnmp
pysnmp-lextudio = "==6.1.2"  # needed by Event Console
snmpsim-lextudio = "==1.1.0"  # needed by pysnmp integration tests
urllib3 = "*"  # needed by requests
pyopenssl = "*"
pbr = "==5.11.1"  # needed by jira
pyghmi = "==1.5.60"  # needed by base for IPMI
requests = "<2.32"  # pinned due to docker-py, see https://github.com/docker/docker-py/issues/3256
requests-kerberos = "==0.14.0"  # needed by check_bi_aggr
jinja2 = "*"  # needed by flask
pyrsistent = "==0.19.3"  # needed by jsonschema
werkzeug = "*"  # direct dependency and needed by flask
flask = "==3.0.3"  # direct dependency
openapi-spec-validator = "==0.7.1"  # direct dependency
psutil = "==5.9.8"  # needed for omdlib
oauthlib = "==3.2.2"
requests-oauthlib = "==1.3.1"
jira = "==3.8.0"  # needed by jira
msal = "==1.26.0"  # needed by agent_azure
pillow = "~=10.0"  # TODO(kb): unpin (temporary pinned)
python-ldap = "==3.4.3"  # needed by GUI (User sync), python-active-directory
dicttoxml = "==1.7.16"  # needed by GUI (API XML format)
cython = "==0.29.34"  # needed by numpy, change also in omd/packages/python3-modules/build-python3-modules.bzl
numpy = "==1.26.4"  # needed by GUI (metrics)
reportlab = "==4.1.0"  # needed by GUI (reporting)
pypdf = "==4.2.0"  # needed by GUI (reporting)
roman = "==4.0"  # needed by GUI (reporting)
google-auth = "*"  # needed by kubernetes
websocket-client = "==1.5.1"  # needed by kubernetes
kubernetes = "==21.7.0"  # needed by kubernetes
botocore = "==1.34.15"  # needed by boto3 (aws), keep version in sync with botocore-stubs
s3transfer = "==0.10.0"  # needed by boto3 (aws)
boto3 = "==1.34.15"  # needed by boto3 (aws), keep version in sync with boto3-stubs
python-snap7 = "==1.3"  # needed by Siemens PLC special agent
pymssql = "==2.2.11"  # needed by check_sql active check
pymysql = "~=1.1.1"  # needed by check_sql active check
psycopg2-binary = "==2.9.6"  # needed by check_sql active check
apispec = "==6.4.0"  # direct dependency
marshmallow = "==3.21.1"  # direct dependency
marshmallow-oneofschema = "==3.1.1"  # direct dependency
apispec-oneofschema = "==3.0.0"  # direct dependency
pydantic = "~=2.7"
pydantic_core = "~=2.18"  # used by pydantic and by us
annotated-types = "~=0.7"  # provides validators for pydantic2
paho-mqtt = "==1.6.1"  # needed for MQTT special agent
python-active-directory = "==2.0.1"
rrdtool = "==0.1.16"  # Actually we ship the binding which comes with rrdtool itself...
docstring-parser = "==0.16"  # direct dependency
pyprof2calltree = "==1.4.5"  # used for GUI/API profiling
pyparsing = "==3.1.2"  # direct dependency
redis = "==4.5.4"  # needed by GUI (caching)
fido2 = "*"  # used for GUI 2fa webauthn
tenacity = "==8.2.3"  # needed by opsgenie-sdk
opsgenie-sdk = "==2.1.5"  # needed by opsgenie_issues
protobuf = "*"  # For development, Runtime modules are shipped by omd/packages/protobuf
cmk-agent-based = {editable = true, path = "./packages/cmk-agent-based"}
cmk-agent-receiver = {editable = true, path = "./packages/cmk-agent-receiver"}
cmk-graphing = {editable = true, path = "./packages/cmk-graphing"}
cmk-messaging = {editable = true, path = "./packages/cmk-messaging"}
cmk-mkp-tool = {editable = true, path = "./packages/cmk-mkp-tool"}
cmk-rulesets = {editable = true, path = "./packages/cmk-rulesets"}
cmk-server-side-calls = {editable = true, path = "./packages/cmk-server-side-calls"}
cmk-werks = {editable = true, path = "./packages/cmk-werks"}
cmk-livestatus-client = {editable = true, path = "./packages/cmk-livestatus-client"}
cmk-trace = {editable = true, path = "./packages/cmk-trace"}
pysmb = "==1.2.9.1"  # used by SMB share special agent
google-cloud-monitoring = "*"  # used by the gcp special agent
google-cloud-asset = "*"  # used by the gcp special agent
exchangelib = "==5.4.0"  # used by active checks for mail
lxml = "==4.9.3"  # used via beautifulsoup4 as a parser and in the agent_netapp special agent
google-api-python-client = "*"  # use rest api to query big query for gcp cost monitoring
setproctitle = "==1.3.3"  # used by mkbench/dcd/liveproxyd
meraki = "==1.41.0"  # used by special agent Cisco Meraki
feedparser = "*"  # used by special agent Microsoft Azure Status
pysaml2 = "~=7.4"  # used by SSO via SAML2.0
azure-storage-blob = "~=12.20.0"  # used for backups to Azure Blob Storage
azure-identity = "~=1.17.0"  # used for backups to Azure Blob Storage
pyjwt = {version = "*", extras = ["crypto"]}  # used for SSO via OAUTH2
GitPython = "~=3.1"  # used for werk collecting
icalendar = "==5.0.7"  # used for importing .ical files
recurring_ical_events = "==2.0.2"  # used for parsing recurring events in icalendar objects
typing-extensions = "*"
netapp-ontap = "==9.14.1.0"  # used by netapp special agent
redfish = "~= 3.2.2"  # used for management board monitoring via Redfish, used by optional MKP
robotframework = "~=7.0"  # used for parsing robotmk agent data
opentelemetry-api = "==1.25.0" # used for distributed tracing of Checkmk
opentelemetry-sdk = "==1.25.0" # used for distributed tracing of Checkmk
opentelemetry-exporter-otlp = "==1.25.0" # used for distributed tracing of Checkmk
opentelemetry-instrumentation-wsgi = "==0.46b0" # used for distributed tracing of Checkmk
opentelemetry-instrumentation-requests = "==0.46b0" # used for distributed tracing of Checkmk
opentelemetry-instrumentation-redis = "==0.46b0" # used for distributed tracing of Checkmk
opentelemetry-semantic-conventions = "==0.46b0" # used for distributed tracing of Checkmk

[requires]
python_version = "3.12"
