-r packages/cmk-agent-based/requirements.txt
-r packages/cmk-agent-receiver/requirements.txt
-r packages/cmk-ccc/requirements.txt
-r packages/cmk-crypto/requirements.txt
-r packages/cmk-events/requirements.txt
-r packages/cmk-graphing/requirements.txt
-r packages/cmk-livestatus-client/requirements.txt
-r packages/cmk-messaging/requirements.txt
-r packages/cmk-mkp-tool/requirements.txt
-r packages/cmk-rulesets/requirements.txt
-r packages/cmk-server-side-calls/requirements.txt
-r packages/cmk-trace/requirements.txt
-r packages/cmk-werks/requirements.txt
