interactions:
- request:
    body: '{"werk": {"title": "User Understanding Test", "date": "2022-01-01T00:00:00Z",
      "level": "2", "versions": ["2.0.0"], "werk_class": "feature", "component": "core",
      "compatible": true, "werk_text": "This is a test werk for User Understanding
      Test.\nIt contains sample content for testing the meisterwerk functionality.\n"}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/generate/user_comprehension
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"66666241-4866-45d9-a8d2-d77c142eb0eb","response_datetime":"2025-09-18T13:42:57.107182Z","user_understanding":"The
        provided werk is a test entry designed to verify the functionality of the
        meisterwerk system and does not describe any actual changes or updates. It
        simply contains sample content intended for testing purposes. As a result,
        there is no direct impact on our monitoring setup, alerting processes, maintenance
        schedules, or reporting workflows. Consequently, no follow-up actions such
        as configuration adjustments, communication plans, training sessions, or validation
        tests are required based on this werk. If this were a real werk, we would
        expect clear details about changes to assess their operational impact, but
        since this is a test, it serves only to confirm that the changelog mechanism
        is working correctly."}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
version: 1
