interactions:
- request:
    body: '{"werk": {"title": "Test Werk for Evaluation", "date": "2022-01-01T00:00:00Z",
      "level": "2", "versions": ["2.0.0"], "werk_class": "feature", "component": "core",
      "compatible": true, "werk_text": "This is a test werk for Test Werk for Evaluation.\nIt
      contains sample content for testing the meisterwerk functionality.\n"}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"b886795e-5163-4a0d-acea-ed377b9f6b04","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":1,"user_impact_clarity_score":1,"paragraph_division_score":3,"non_compatible_werk_score":null,"english_style_score":1},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"Rewrite
        the first sentence to form a complete sentence, for example: ''This is a test
        werk used for evaluation.'' Ensure consistent capitalization of ''werk''.","user_impact_clarity_suggestions_to_improve_text":"Add
        a clear explanation of the change, how it affects users in practical terms,
        and whether any user action is required. Describe if the change improves performance,
        fixes a bug, or alters behavior that users should be aware of.","paragraph_division_suggestions_to_improve_text":"","non_compatible_werk_suggestions_to_improve_text":null,"english_style_suggestions_to_improve_text":"Start
        with the specific component or feature name, followed by a clear verb describing
        the change. Remove generic phrases like ''This is a test werk'' and ''sample
        content.'' State what was added, fixed, or changed and how it affects users.
        Use concise, active sentences focusing on user impact and technical details
        relevant to the release note."}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
version: 1
