interactions:
- request:
    body: '{"werk": {"title": "Append Test", "date": "2022-01-01T00:00:00Z", "level":
      "2", "versions": ["2.0.0"], "werk_class": "feature", "component": "core", "compatible":
      true, "werk_text": "This is a test werk for Append Test.\nIt contains sample
      content for testing the meisterwerk functionality.\n"}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"f5638609-1234-4467-8a4a-983459bf0b9e","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":3,"user_impact_clarity_score":1,"paragraph_division_score":2,"non_compatible_werk_score":null,"english_style_score":1},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"No
        grammar improvements necessary.","user_impact_clarity_suggestions_to_improve_text":"Replace
        placeholder text with a clear explanation of the change, detailing what users
        will experience differently, any required user actions, and the impact on
        daily operations. Focus on practical user impact and avoid vague or generic
        statements.","paragraph_division_suggestions_to_improve_text":"Insert a paragraph
        break between the first and second sentence to separate the identification
        of the werk from the description of its content.","non_compatible_werk_suggestions_to_improve_text":null,"english_style_suggestions_to_improve_text":"Start
        with the component or feature name, followed by a clear verb describing the
        change. Remove filler phrases and state the specific change or fix clearly
        and concisely in one or two short sentences. Use active voice and strong verbs,
        and end with the effect on users."}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"werk": {"title": "Append Test", "date": "2022-01-01T00:00:00Z", "level":
      "2", "versions": ["2.0.0"], "werk_class": "feature", "component": "core", "compatible":
      true, "werk_text": "This is a test werk for Append Test.\nIt contains sample
      content for testing the meisterwerk functionality.\n"}, "evaluation": {"aggregated_scores":
      {"grammar_score": 3, "user_impact_clarity_score": 1, "paragraph_division_score":
      2, "non_compatible_werk_score": nul[...]
