#!/bin/sh
# Copyright (C) 2023 Checkmk GmbH - License: GNU General Public License v2
# This file is part of Checkmk (https://checkmk.com). It is subject to the terms and
# conditions defined in the file COPYING, which is part of this source code package.

### Configuration example for the mk_informix plugin.
### If no configuration file is given, the plugin will try to detect the oninit path by looking at any running
### processes with "oninit" in the name

# If ONINIT_PATH is left empty, the plugin will try to autodetect the path:
# ONINIT_PATH=/opt/ibm/informix/bin/oninit
# To exclude specific sections from the agent output:
# EXCLUDES="tabextents logusage"
# To exclude all sections:
# EXCLUDES=ALL
