# +------------------------------------------------------------------+
# |             ____ _               _        __  __ _  __           |
# |            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
# |           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
# |           | |___| | | |  __/ (__|   <    | |  | | . \            |
# |            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
# |                                                                  |
# | Copyright Mathias Kettner 2014             mk@mathias-kettner.de |
# +------------------------------------------------------------------+
#
# This file is part of Check_MK.
# The official homepage is at http://mathias-kettner.de/check_mk.
#
# check_mk is free software;  you can redistribute it and/or modify it
# under the  terms of the  GNU General Public License  as published by
# the Free Software Foundation in version 2.  check_mk is  distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
# out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
# PARTICULAR PURPOSE. See the  GNU General Public License for more de-
# tails. You should have  received  a copy of the  GNU  General Public
# License along with GNU Make; see the file  COPYING.  If  not,  write
# to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
# Boston, MA 02110-1301 USA.

# Default settings or settings for only one
# instance:

# Settings for authentication
# protocol = http
# server   = "127.0.0.1"
# user     = "monitoring"
# password = None
# mode     = "digest"
# use "basic_preemptive" if server responds with 403 forbidden even
# though user/password are correct
# mode     = "basic_preemptive"
suburi   = "jolokia"
instance = None

# Configuration for multiple instances. Not-specified
# values will be taken from the upper settings
# instances = [
#   {
#       "port"     : 8080,
#       "instance" : "FOO",
#   },
#   {
#       "protocol" : "http",
#       "server"   : "10.1.88.5",
#       "port"     : 8081,
#       "instance" : "BAR",
#       "user"     : "harri",
#       "password" : "hirsch",
#   }
# ]

# Custom MBeans can be defined like this:
# (MBean, path/within/mbean, title, [], False, value_type)
#custom_vars = [
#('foo.bar:type=baz', 'FooBar/baz', 'Foo', [], False, 'string'),
#]
# Supported Value types: 'string', 'number' and 'rate'
