# +------------------------------------------------------------------+
# |             ____ _               _        __  __ _  __           |
# |            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
# |           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
# |           | |___| | | |  __/ (__|   <    | |  | | . \            |
# |            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
# |                                                                  |
# | Copyright Mathias Kettner 2020             mk@mathias-kettner.de |
# +------------------------------------------------------------------+
#
# This file is part of Check_MK.
# The official homepage is at http://mathias-kettner.de/check_mk.
#
# check_mk is free software;  you can redistribute it and/or modify it
# under the  terms of the  GNU General Public License  as published by
# the Free Software Foundation in version 2.  check_mk is  distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
# out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
# PARTICULAR PURPOSE. See the  GNU General Public License for more de-
# tails. You should have  received  a copy of the  GNU  General Public
# License along with GNU Make; see the file  COPYING.  If  not,  write
# to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
# Boston, MA 02110-1301 USA.

# Mtr Check_MK configuration

# NOTE: your MTR report shouldn't take longer than 15 minutes

# [DEFAULTS]
# type=icmp    # icmp, tcp or udp
# count=10     # number of pings per mtr report
# force_ipv4=0 # force ipv4, exclusive with force_ipv6
# force_ipv6=0 # force ipv6, exclusive with force_ipv4
# size=64      # packet size
# time=0       # minimum time between runs, 0 / default means run if mtr doesn't run anymore
# port=80      # UDP/TCP port to connect to
# dns=0        # Use DNS resolution to lookup addresses
# address=     # Bind to source address
# interval=    # time MTR waits between sending pings
# timeout=     # ping Timeout, see mtr man page

[www.google.com]
type = icmp
force_ipv4 = true
dns = 1

[ipv6.google.com]
type = icmp
force_ipv6 = true

[mathias-kettner.de]
type = tcp
force_ipv4 = true

