/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/

/* Styles used by the dashboard only */
body.dashboard {
  overflow: hidden;
}

div#dashboard {
  position: absolute;
  padding: 0;
  margin: 0;
}

body.dashlet{
  #data_container{
    padding: 0;
    border: none;
  }
}

div.dashlet {
  position: absolute;
  z-index: 1;
  display: none;
  padding: 0;
  margin: 0;

  /* content area of dashlet, if no iframes are used */
  div.dashlet_inner {
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;

    /* Dashlets with "background" set to True */
    .dashlet_inner.background {
      background-color: #cbd6da;
    }
  }

  /* TODO: Reproduce these html elements */
  div.really,
  div.success,
  div.error,
  div.message,
  div.warning {
    margin: 0;
    border-radius: 0;
    box-shadow: 0;
  }

  iframe {
    border-style: none;
  }

  > div.title {
    position: absolute;
    left: 0;
    width: 150px; /* will be changed by javascript later */
    height: 22px;
    padding: 0;
    padding-top: 0px;
    padding-left: 9px;
    margin: 0;
    overflow: hidden;
    font-size: $theme-font-size-small;
    font-weight: 500;
    letter-spacing: 2px;
    color: $theme-color-table-text;
    text-transform: uppercase;
    white-space: nowrap;
    background: $theme-color-white;
    border: 1px solid $theme-color-table-border;
    border-bottom: none solid;
    border-radius: 5px 5px 0 0;
    /* IE < 9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4c000000', endColorstr='#4c000000');

    span {
      padding-left: 8px;
    }
  }

  &.edit div.title span {
    padding-left: 27px;
  }

  div.title a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Styles for various builtin dashlets */
  canvas.pie {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 10;
    transform: scale(0.8, 0.8);
    transform-origin: center;
  }

  img.globe {
    position: absolute;
    top: 5px;
    left: 7px;
    z-index: 20;
    filter: grayscale(100%);
    transform: scale(0.8, 0.8);
    transform-origin: center;
  }

  table.hoststats {
    position: absolute;
    right: 10px;
    width: 135px;
    height: 142px;
    margin-top: 0;
    border-collapse: collapse;
    border-spacing: 0;
    top: -1px;

    &.narrow {
      /* TODO: Remove this style after decoupling from classic theme */
      margin-top: 0;

      th, td {
        font-size: 11px;
        font-weight: normal;
      }
    }

    th, td {
      padding: 0 4px;
      vertical-align: middle;
      border-color: #498aa6;
      border-style: solid none;
      border-width: 1px;

      &.color {
        width: 4px;
        padding: 0;
      }
    }

    th {
      text-align: left;
      background-color: transparent;
    }

    td {
      text-align: right;
      background-color: #95bbcd;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.dashlet > div.title span a,
div.dashlet > div.title span body.main .popup_menu span,
body.main .popup_menu div.dashlet > div.title span span {
  color: $theme-color-table-text;
}

div.dashlet > div.title span {
  padding-left: 0; /* left align with titles of contained views */
  position: relative;
  top: 4px;
}

/* Overview dashlet is not selectable TODO: Check if this style can be dropped */
table.dashlet_overview h2 {
  margin: 8px 0;
  font-size: 13px;
}

div.dashlet_inner div.stats table.hoststats a,
div.dashlet_inner div.stats table.hoststats body.main .popup_menu span,
body.main .popup_menu div.dashlet_inner div.stats table.hoststats span {
  color: $theme-color-text;
}

div.dashlet_inner div.stats {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $theme-color-white;

  table th, table td {
    background: $dashboard-stats-bg-color;
    border-top: 1px solid $theme-color-table-border;
    border-bottom: none;
  }
}

body.main.dashlet {
  padding: 8px;
  background: transparent;
  border-top: none;
  box-sizing: border-box;

  table.data.table {
    padding: 0 8px;

    tr.data {
      background-color: $dashboard-tr-bg-color;
      border-bottom: $dashboard-tr-border-bottom;
      transition: .15s ease-in-out;
      &:nth-child(even) {
        background:  $dashboard-tr-even-bg-color;
      }
      &:hover {
        background-color: $dashboard-tr-hover-bg-color;
        &:nth-child(even) {
          background-color: $dashboard-tr-even-hover-bg-color;
        }
      }
    }
  }
}

div[id^=dashlet] div.dashlet_inner > div {
  border: 1px solid $theme-color-table-border;
  border-top: none;
  box-sizing: border-box;
  transition: .15s ease-in-out;
}

iframe[id^=dashlet_iframe] {
  background: $theme-color-white;
  transition: .15s ease-in-out;
}

/*
 * Dashboard editing
 */
#controls_toggle {
  position: absolute;
  right: 0;
  bottom: -41px;
  z-index: 150;
  padding: 6px 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /* IE < 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7f000000', endColorstr='#7f000000');

  &:hover {
    bottom: -10px;
  }

  .iconbutton {
    width: 33px;
    height: 31px;
  }
}

#controls, ul.sub {
  position: absolute;
  z-index: 180;
  display: block;
  width: 200px;
  padding: 8px;
  margin: 0;
  color: $theme-color-lightgrey;
  list-style: none;
  background-color: $theme-color-sidebar-background;
  border: 1px solid $theme-color-table-border-dark;
  border-radius: $theme-border-radius;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  li, {
    padding: 4px 0;
    color: $theme-color-lightgrey;
  }
}

#controls {
  a {
    display: block;
    padding: 1px 15px 1px 2px;
    line-height: 14px;
    text-align: left;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* submenu */
  ul.sub {
    right: 212px;
    bottom: 5px;
  }

  > li > a > img, ul.menu > li > a > img {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: middle;
  }
}

#controls li a,
#controls li body.main .popup_menu span,
body.main .popup_menu #controls li span,
ul.sub li a,
ul.sub li body.main .popup_menu span,
body.main .popup_menu ul.sub li span {
  color: inherit;
}

/* dashlet controls */
div.dashlet.edit {
  .controls {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    cursor: auto;
    background-color: rgba(50, 80, 90, 0.6);
    /* IE < 9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fffffff', endColorstr='#7fffffff');

    &:hover {
      cursor: move;
    }
  }

  /* dashlet edit button */
  .edit {
    position: absolute;
    top: 4px;
    left: 19px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-image: url(images/dashlet_edit_lo.png);
    border-radius: 5px;
    /* IE < 9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#32000000', endColorstr='#32000000');

    &:hover {
      background-image: url(images/dashlet_edit_hi.png);
    }
  }

  /* dashlet delete button */
  .del {
    position: absolute;
    top: 4px;
    right: 19px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-image: url(images/dashlet_del_lo.png);
    border-radius: 5px;
    /* IE < 9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#32000000', endColorstr='#32000000');

    &:hover {
      background-image: url(images/dashlet_del_hi.png);
    }
  }

  /* position anchors */
  .anchor {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: auto;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-image: url(images/dashlet_anchor_lo.png);
    border-radius: 5px;
    /* IE < 9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#32000000', endColorstr='#32000000');

    &.off {
      cursor: pointer;
      background-image: url(images/dashlet_anchor_off.png);

      &:hover {
        background-image: url(images/dashlet_anchor_hi.png);
      }
    }

    &.anchor0 {
      top: 4px;
      left: 4px;
    }

    &.anchor1 {
      top: 4px;
      right: 4px;
    }

    &.anchor2 {
      right: 4px;
      bottom: 4px;
    }

    &.anchor3 {
      bottom: 4px;
      left: 4px;
    }
  }
}

div#dashboard.grid {
  background-image: url("images/dashboard_grid.png");
}

.sizer {
  position: absolute;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 2px;
  box-shadow: .5px .5px 2px #333;
}

.sizer0 {
  width: 50%;
  height: 10px;
}

.sizer1 {
  width: 10px;
  height: 50%;
}

.sizer.max {
  background-color: #f00;
}

.sizer.grow {
  background-color: #ff0;
}

.sizer.abs {
  background-color: #eee;
}

/* left side */
.sizer1.anchor0,
.sizer1.anchor3 {
  top: 25%;
  left: 5px;
}

/* right side */
.sizer1.anchor1,
.sizer1.anchor2 {
  top: 25%;
  right: 10px;
}

/* top side */
.sizer0.anchor0,
.sizer0.anchor1 {
  top: 5px;
  left: 25%;
}

/* bottom side */
.sizer0.anchor2,
.sizer0.anchor3 {
  bottom: 10px;
  left: 25%;
}

/* general arrow */
.sizer0:before,
.sizer1:before {
  position: absolute;
  content: " ";
}

/* arrow on left */
.sizer0.anchor1:before, .sizer0.anchor2:before {
  top: -7px;
  left: -11px;
  width: 13px;
  height: 21px;
  background-repeat: no-repeat;
}

.sizer0.anchor1.max:before, .sizer0.anchor2.max:before {
  background-image: url("images/dashlet_arrow_l_max.png");
}

.sizer0.anchor1.grow:before, .sizer0.anchor2.grow:before {
  background-image: url("images/dashlet_arrow_l_grow.png");
}

/* arrow on right */
.sizer0.anchor0:before, .sizer0.anchor3:before {
  top: -7px;
  left: 100%;
  width: 12px;
  height: 21px;
  background-repeat: no-repeat;
}

.sizer0.anchor0.max:before, .sizer0.anchor3.max:before {
  background-image: url("images/dashlet_arrow_r_max.png");
}

.sizer0.anchor0.grow:before, .sizer0.anchor3.grow:before {
  background-image: url("images/dashlet_arrow_r_grow.png");
}

/* arrow at top */
.sizer1.anchor2:before, .sizer1.anchor3:before {
  top: -10px;
  left: -7px;
  width: 23px;
  height: 14px;
  background-repeat: no-repeat;
}

.sizer1.anchor2.max:before, .sizer1.anchor3.max:before {
  background-image: url("images/dashlet_arrow_t_max.png");
}

.sizer1.anchor2.grow:before, .sizer1.anchor3.grow:before {
  background-image: url("images/dashlet_arrow_t_grow.png");
}

/* arrow at bottom */
.sizer1.anchor0:before, .sizer1.anchor1:before {
  bottom: -10px;
  left: -7px;
  width: 23px;
  height: 14px;
  background-repeat: no-repeat;
}

.sizer1.anchor0.max:before, .sizer1.anchor1.max:before {
  background-image: url("images/dashlet_arrow_b_max.png");
}

.sizer1.anchor0.grow:before, .sizer1.anchor1.grow:before {
  background-image: url("images/dashlet_arrow_b_grow.png");
}

.sizer_lbl {
  position: absolute;
  /* display: none; */
  padding: 2px;
  font-size: 6px;
  color: #000;
  cursor: auto;
}

.sizer_lbl0 {
  width: auto;
  height: 15px;
}

.sizer_lbl1 {
  width: 15px;
  height: auto;
  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* left side */
.sizer_lbl1.anchor0,
.sizer_lbl1.anchor3 {
  top: 47%;
  left: 1.5px;
}

/* right side */
.sizer_lbl1.anchor1,
.sizer_lbl1.anchor2 {
  top: 47%;
  right: 6.5px;
}

/* top side */
.sizer_lbl0.anchor0,
.sizer_lbl0.anchor1 {
  top: 5px;
  left: 47%;
}

/* bottom side */
.sizer_lbl0.anchor2,
.sizer_lbl0.anchor3 {
  bottom: 2.5px;
  left: 47%;
}

/* transparent resize areas for absolute sized */
.resize {
  position: absolute;
  z-index: 70;
}

.resize0 {
  width: 5px;
  height: 100%;
}

.resize1 {
  width: 100%;
  height: 5px;
}

.resize0_0 {
  left: 0;
  cursor: w-resize;
}

.resize0_1 {
  right: 0;
  cursor: e-resize;
}

.resize1_0 {
  top: 0;
  cursor: n-resize;
}

.resize1_1 {
  bottom: 0;
  cursor: s-resize;
}

.resize_corner {
  z-index: 80;
  width: 10px;
  height: 10px;
}

.resize_corner0 {
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.resize_corner1 {
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.resize_corner2 {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.resize_corner3 {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}

/* Adapted styling of views in dashlets */
body.main.dashlet {
  tr.data {
    > td {
      padding-top: 2px;
      padding-bottom: 2px;
      border-bottom: none;

      &.state {
        border-top: none;
      }
    }

    &:last-of-type > td:not(.state) {
      border-bottom: 1px solid $theme-color-table-border;
    }

    &:nth-child(2) > td.state {
      border-top-color: $theme-color-table-border !important;
    }
  }

  table.data {
    border-spacing: 0;
th:nth-child(1) {
     padding-bottom: 2px;
     padding-left: 1px;
   }
  }
}
