/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
tails.  You should have received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                      _                _                                  |
|                     | |    ___   __ _(_)_ __                             |
|                     | |   / _ \ / _` | | '_ \                            |
|                     | |__| (_) | (_| | | | | |                           |
|                     |_____\___/ \__, |_|_| |_|                           |
|                                 |___/                                    |
+--------------------------------------------------------------------------+
| Styling of the login page (when not HTTP Basic Auth is used)             |
'-------------------------------------------------------------------------*/

body.login {
  text-align: center;
  vertical-align: middle;

  div#login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 770px;
    height: 605px;
    margin: auto;
    background: transparent;

    #version::before {
      position: absolute;
      top: -8px;
      left: -156px;
      width: 200px;
      height: 30px;
      background-image: url("images/mk-logo.png");
      background-position: 16px center;
      background-repeat: no-repeat;
      background-size: auto 30px;
      content: " ";
    }
  }

  #login_window {
    position: relative;
    top: 187px;
    left: 10px;
    width: 370px;
    height: 230px;
    margin: -30px auto 10px;
    background: $theme-color-sidebar-background;
    border: 2px solid $theme-color-table-border-dark;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  #version {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 150px;
    font-size: 11px;
    letter-spacing: $theme-letter-spacing-table;
    color: $theme-color-lightgrey;
    text-align: right;
  }

  label {
    color: #fff;
  }

  #label_user, #label_pass {
    left: 40px;
    font-size: $theme-font-size-global;
    letter-spacing: $theme-letter-spacing-table;
  }

  #label_user, #input_user, #label_pass, #input_pass {
    position: absolute;
  }

  #label_user {
    top: 80px;
  }

  #input_user {
    top: 72px;
  }

  #label_pass {
    top: 120px;
  }
  #input_pass {
    top: 112px;
  }

  #input_user, #input_pass {
    left: 140px;
    width: 171px;
    height: 17px;
    background-repeat: no-repeat;
    border-radius: $theme-border-radius;
    outline: none;
    box-shadow: none;
  }

  #_login {
    position: absolute;
    right: 15px;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
    padding: 8px 16px;
    margin: 0;
    font-weight: $theme-font-weight-bold;
    border-color: #13d389;
  }

  #login_error {
    position: absolute;
    bottom: 4px;
    left: 92px;
    z-index: 100;
    width: 180px;
    height: 30px;
    padding: 0;
    margin: 0;
    color: $theme-color-white;
    background-color: $theme-color-state-2-background;
    background-image: none;
    background-repeat: no-repeat;
    border: 1px solid $theme-color-state-error-border;
    border-radius: $theme-border-radius;
  }

  #login_error div.error {
    padding: 8px 0 0;
    margin: 0;
    color: $theme-color-white;
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    box-shadow: 0 0 0;
  }

  #foot {
    position: relative;
    top: 187px;
    left: 10px;
    width: 350px;
    margin: 0 auto 10px;
    font-size: 11px;
    color: $theme-color-darkgrey;
    text-align: center;
  }

  div#login div#foot a, div#login div#foot body.main .popup_menu span,
  body.main .popup_menu div#login div#foot span {
    color: $theme-color-darkgrey;
  }
}
