* {
  font-family: $theme-font;
  letter-spacing: $theme-letter-spacing;
  text-shadow: none; }

html {
  font-size: $theme-font-size-global; }

.link, .title {
  display: inline-block;
  padding: 4px 2px;
  font-weight: $theme-font-weight-global;
  color: $theme-color-text;
  letter-spacing: $theme-letter-spacing-table;
  font-size: $theme-font-size-main;
  transition: color .15s ease-in-out; }

a.iconlink img, body.main .popup_menu span.iconlink img {
  display: block;
  float: left; }

div.graph {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: $theme-border-radius;
  border: 1px solid $theme-color-table-border;
  padding: 4px !important; }

div.content {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  top: 64px; }

.cp-preview {
  box-shadow: none;
  border-radius: $theme-border-radius;
  border: 1px solid $theme-color-darkgrey; }

.cp-input {
  color: $theme-color-text; }
  .cp-input input, .cp-input select, .cp-input textarea, .cp-input div.snapin select, div.snapin .cp-input select, .cp-input div.snapin textarea, div.snapin .cp-input textarea, .cp-input #mk_side_search_field {
    margin: 0;
    margin-bottom: 8px; }

table.vs_duallist a.control, table.vs_duallist body.main .popup_menu span.control, body.main .popup_menu table.vs_duallist span.control {
  border-style: solid;
  border-color: $theme-color-nuance-1;
  box-shadow: none;
  background-color: $theme-color-table-border; }

body.main img.treeangle {
  filter: invert(100%); }

body.main .popup_menu a,
body.main .popup_menu span {
  color: $theme-color-text;
}

.op {
  width: 60px !important; }

.bi_rule_tree img.treeangle, .invtree img.treeangle, .grouped_row_header img.treeangle.nform {
  filter: invert(0%) !important; }
  table.report_contents td.preview img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid $theme-color-nuance-3; }
    table td {
      vertical-align: middle; }

/* Graphs */
div.graph_with_timeranges {
  margin-bottom: 32px; }
  div.graph_with_timeranges div.graph {
    box-shadow: none !important;
    border: 1px solid $theme-color-table-border !important;
    background-color: transparent !important;
    background: $theme-color-nuance-4 !important; }
    div.graph_with_timeranges div.graph div.title {
      display: block; }
    div.graph_with_timeranges div.graph canvas {
      margin-bottom: 8px; }
    div.graph_with_timeranges div.graph.preview canvas {
      margin-bottom: 0px; }
    div.graph_with_timeranges div.graph.preview .title {
      color: $theme-color-text;
      text-shadow: none;
      font-weight: $theme-font-weight-global;
      top: 12px;
      box-sizing: border-box;
      padding: 8px 0px;
      width: calc(100% - 16px); }
    div.graph_with_timeranges div.graph table.legend {
      margin-top: 32px; }
      div.graph_with_timeranges div.graph table.legend th.scalar {
        text-align: right; }
      div.graph_with_timeranges div.graph table.legend td {
        background: transparent; }
  div.graph_with_timeranges table.timeranges > tbody > tr > td {
    border: 0px solid $theme-color-white;
    padding: 0px 8px 8px; }
    div.graph_with_timeranges table.timeranges > tbody > tr > td:first-child {
      border-right: 0px solid; }
    div.graph_with_timeranges table.timeranges > tbody > tr > td:last-child {
      border-left: 0px solid; }

td.agent_config table.rulesets td {
  vertical-align: top; }
  td.agent_config table.rulesets td table {
    border: 0px solid;
    box-shadow: none; }
    td.agent_config table.rulesets td table td {
      border: 0px solid !important;
      padding: 4px 8px 4px 0px !important;
      vertical-align: top; }
      td.agent_config table.rulesets td table td.title {
        background-color: $theme-color-white;
        color: $theme-color-black;
        font-weight: $theme-font-weight-bold;
        height: auto; }
      td.agent_config table.rulesets td table td table tbody tr td {
        padding: 0px; }

div.metricchoice select, div.metricchoice input, div.metricchoice select, div.metricchoice textarea, div.metricchoice #mk_side_search_field {
  margin: 4px 0px; }

td.title {
  display: table-cell; }

/* TODO: Reproduce this html element */
#hover_menu div.message {
  color: $theme-color-white;
  background-color: $theme-color-black; }

/* Spezielle Snapins */
table.cmc_stats {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $theme-color-table-border-dark !important;
  border-spacing: 4px;
  padding: 8px;
  background-color: $theme-color-table-background-dark !important; }
  table.cmc_stats td {
    letter-spacing: $theme-letter-spacing-table;
    font-weight: $theme-font-weight-global; }

#form_search input, #form_search select, #form_search textarea, #form_search #mk_side_search_field {
  width: auto; }

select.vlof_filter {
  width: auto; }

.toggle_switch {
  box-sizing: border-box;
  border: 1px solid $theme-color-table-border;
  background: $theme-color-white;
  box-shadow: none;
  height: 22px;
  padding: 2px;
  border-radius: 11px; }
  .toggle_switch a, .toggle_switch body.main .popup_menu span, body.main .popup_menu .toggle_switch span {
    border: none;
    box-shadow: none;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: $theme-letter-spacing-table;
    height: 16px;
    border-radius: 8px;
    line-height: 16px;
    font-weight: $theme-font-weight-bold; }

div.timerange {
  font-size: $theme-font-size-main;
  color: $theme-color-darkgrey; }

body.main.visible div.foldable .title {
  color: $theme-color-text; }

div.color {
  box-shadow: none;
  border-radius: $theme-border-radius; }

th.header_state {
  background: transparent !important;
  color: $theme-color-text !important; }
  th.header_state:hover {
    background: transparent !important; }

div.really, div.success, div.error, div.message, div.warning {
  box-shadow: none;
  border-radius: $theme-border-radius; }

div.error {
  background-color: $theme-color-state-2-background;
  color: $theme-color-lightgrey; }
  div.error tt {
    color: inherit; }

div.warning {
  background-color: $theme-color-main; }

div.success {
  background-color: $theme-color-state-success-background;
  border-color: $theme-color-state-success-border; }

div.help {
  background-image: none;
  padding: 8px 16px;
  box-shadow: none;
  margin: 8px 0px 8px;
  width: auto; }
  div.help:before {
    content: "i";
    font-weight: $theme-font-weight-bold;
    margin-right: 12px;
    font-family: serif;
    font-size: 16px;
    font-style: italic;
    display: inline-block;
    height: 100%; }

table.data.werks tr:nth-child(odd) td.werklevel2 {
  background-color: $theme-color-state-5-background; }

table.data.werks tr:nth-child(even) td.werklevel2 {
  background-color: $theme-color-state-5-background; }

table.data.werks td.werklevel3 {
  font-weight: bold; }

table.data.werks tr:nth-child(odd) td.werklevel3 {
  background-color: $theme-color-state-6-background; }

table.data.werks tr:nth-child(even) td.werklevel3 {
  background-color: $theme-color-state-6-background; }

table.data.werks tr:nth-child(odd) td.werkclassfeature {
  background-color: $theme-color-state-success-background; }

table.data.werks tr:nth-child(even) td.werkclassfeature {
  background-color: $theme-color-state-success-background; }

table.data.werks tr:nth-child(even) td.werkclassfix {
  background-color: $theme-color-main; }

table.data.werks tr:nth-child(odd) td.werkclassfix {
  background-color: $theme-color-main; }

table.data.werks tr:nth-child(odd) td.werkclasssecurity {
  background-color: $theme-color-state-2-background; }

table.data.werks tr:nth-child(even) td.werkclasssecurity {
  background-color: $theme-color-state-2-background; }

table.werks td a, table.werks td body.main .popup_menu span, body.main .popup_menu table.werks td span {
  color: $theme-color-black;
  text-decoration: underline; }

table.data.werks td.werkcompincomp_unack {
  font-weight: bold; }

table.data.werks tr:nth-child(odd) td.werkcompincomp_unack {
  background-color: $theme-color-state-7-background; }

table.data.werks tr:nth-child(even) td.werkcompincomp_unack {
  background-color: $theme-color-state-7-background; }

table.data.werks tr:nth-child(odd) td.werkcompincomp_ack {
  background-color: $theme-color-state-8-background; }

table.data.werks tr:nth-child(even) td.werkcompincomp_ack {
  background-color: $theme-color-state-8-background; }

table.data > tbody > tr > td.job_state.job_finished {
  background-color: $theme-color-state-success-background;
  box-shadow: none; }

table.data > tbody > tr > td.job_state.job_exception {
  background-color: $theme-color-state-3-background;
  box-shadow: none; }

table.data > tbody > tr > td.job_state.job_running {
  background-color: $theme-color-state-9-background;
  box-shadow: none; }

table.data > tbody > tr > td.job_state.job_initialized {
  color: $theme-color-black;
  background-color: #cccccc; }

.hot a, .hot body.main .popup_menu span, body.main .popup_menu .hot span {
  background-color: $theme-color-state-3-background !important;
  border-color: $theme-color-nuance-16 !important; }

div.info {
  color: $theme-color-text;
  font-size: $theme-font-size-main;
  font-weight: 500;
  letter-spacing: $theme-letter-spacing;
  margin: 16px 0px 8px; }

.age input, .age select, .age textarea, .age div.snapin select, div.snapin .age select, .age div.snapin textarea, div.snapin .age textarea, .age #mk_side_search_field {
  box-sizing: content-box !important; }

.filterform input, .filterform select, .filterform textarea, .filterform div.snapin select, div.snapin .filterform select, .filterform div.snapin textarea, div.snapin .filterform textarea, .filterform #mk_side_search_field {
  column-span: all !important; }

body.main a, body.main .popup_menu span, body.main .popup_menu a {
    color: $theme-color-text;
}
body.main .popup_menu {
    background-color: $theme-color-white;
    border: 1px solid $theme-color-table-border;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

div.log_output, .crash_report pre {
  background: $theme-color-sidebar-background;
  color: $theme-color-lightgrey;
  font-family: monospace;
  border: 1px solid $theme-color-table-border-dark;
  border-radius: $theme-border-radius;
  box-shadow: none;
  padding: 8px 16px;
  margin: 16px;
  font-weight: $theme-font-weight-global; }
  div.log_output pre {
    color: $theme-color-lightgrey;
    font-family: monospace;
    font-size: $theme-font-size-global; }

img.glass {
  display: none; }

#hover_menu .graph_container div.title {
  display: block; }
#hover_menu .graph_container div.time {
  letter-spacing: 0px; }

tr.hidden {
    display: none;
}

input.button.hot, input.button.hot:active {
  background-color: #11bd7b;
  border: 1px solid #11bd7b !important;
}

input.button.hot:hover {
  background-color: #13d389;
}
