#node_visualization {
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#node_visualization_root_div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: ghostwhite;
}

div.node_vis #viewport {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.node_vis #toolbar div.content {
    top: 25px;
}

div.node_vis #togglebuttons {
    position: absolute;
    top: 12px;
    left: 280px;
}

div.node_vis .togglebutton {
    padding: 8px;
    width: 34px;
    height: 34px;
}

div.node_vis div.box, div.node_vis img.box {
    border-radius: 4px;
    border: 1px solid #cccfdb;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #444;
}


div.node_vis img.layouting_icon {
    width: 30px;
    height: 30px;
}

div.node_vis img.bi_rule_icon{
    width: 30px;
    height: 30px;
}

/* toolbar plugin positioning */
/* search */
div.node_vis div.toolbar_search {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 250px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #444;
}

div.node_vis input.search_node {
    width: 100%;
}

/* infobox */
div.node_vis #infobox {
    position: absolute;
    overflow: hidden;
    top: 60px;
    left: 12px;
    width: 250px;
}

div.node_vis #infobox table {
    width: 100%;
}

/* datasources */
div.node_vis div.toolbar_datasources {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 500px;
    height: 500px;
}

/* layouting*/
div.node_vis #available_layouts {
    width: 180px;
}

div.node_vis div#layouting_toolbar {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 340px;
    overflow: hidden;
}

div.node_vis div#layout_management{
    margin: 3px;
    padding: 12px;
    padding-top: 0px;
}

div.node_vis div#overlay_management{
    margin: 3px;
    margin-top: 12px;
    padding: 12px;
    padding-top: 0px;
}

div.node_vis div#style_management{
    margin: 3px;
    margin-top: 12px;
    padding: 12px;
    padding-top: 0px;
    overflow: hidden;
}

div.node_vis #matcher_config {
    margin-top: 12px;
    margin-left: 6px;
}

div.node_vis input[type="checkbox"] {
    display: unset;
}

div.node_vis #current_style{
    font-size: 18px;
    text-align: center;
    width: 100%;
}

div.node_vis .delete_icon {
    height: 48px;
    width: 48px;
}


div.node_vis .node_element {
    cursor: pointer;
}

div.node_vis g.edit .node_element circle.style_root_node,
div.node_vis g.edit .node_element .free_floating_node {
    cursor: move;
}

div.node_vis .node_element circle.topology_root {
  stroke-width: 3;
  stroke: black;
}

div.node_vis .node_element circle {
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

}

div.node_vis .node_element circle.collapsed {
  stroke: grey;
  stroke-width: 15;
}

div.node_vis .node_element.focus circle{
  stroke: yellow;
  stroke-width: 6;
}

div.node_vis .state0 {
    fill: #0b3;
}

div.node_vis .state1 {
    fill: #f8f800;
}

div.node_vis .state2 {
    fill: #f00;
}

div.node_vis .state3 {
    fill: #f91;
}

// State pending
div.node_vis .state-1 {
    fill: #888;
}


line.dashed, path.dashed{
  stroke-dasharray: 20 4;
  stroke-dashoffset: 0;
  animation-name: dash;
  animation-duration: 25s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 500
    }
}

.zoom {
  cursor: move2;
  fill: none;
  pointer-events: all;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#togglebox_choices {
  position: absolute;
  left: 380px;
  top: 12px;
}

div.node_vis .togglebox {
  width: 150px;
  height: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.node_vis .togglebox.enabled{
  background: gold;
}


/* Context popup Popup */
div.node_vis li a {
   cursor: pointer;
}

div.node_vis li div:hover {
   text-decoration: underline;
}

/* Style indicators */
text.style_indicator {
    font-size: 20px;
    font-weight: bold;
}

.style_overlay {
  opacity: 0.3;
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linejoin: round;
}

div.node_vis .style_infotext {
    width: 159px;
}

div.node_vis input.range {
    width: 79px;
}


div.node_vis div.quickinfo {
    min-width: 600px;
}

div.node_vis input.reset_options {
    float: right;
}

div.node_vis #reset_pan_and_zoom{
    position: absolute;
    right: 356px;
    top: 12px;
}

div.node_vis #translation_infobox{
    position: absolute;
    width: 200px;
    right: 342px;
    top: 50px;
}
