/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/* Styles used in all Multisite pages, for example in the
   status GUI, in WATO pages and in "Add snapin". These
   styles are not used in the sidebar and in Mobile. */


.tagify, .tagify[readonly] {
  border: none;

  tag {
    margin: 0 0 0 5px;

    > div {
      color: #fff;
    }

    x {
      font-size: 11px;
    }

    &:hover:not([readonly]) div::before {
      opacity: 0.5;
      box-shadow: none;
    }

    > div::before {
      background: #00a8b5;
      box-shadow: none;
    }

    &.explicit > div::before {
      background: #774898;
    }

    &.ruleset > div::before {
      background: #de4383;
    }

    &.discovered > div::before {
      background: #f3ae4b;
    }
  }

  &:hover {
    border-color: none;
  }

  a tag {
    cursor: pointer;
  }
}
