/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/

/*-------------------------------------------------------------------------.
|                 ____  _     _      _                                     |
|                / ___|(_) __| | ___| |__   __ _ _ __                      |
|                \___ \| |/ _` |/ _ \ '_ \ / _` | '__|                     |
|                 ___) | | (_| |  __/ |_) | (_| | |                        |
|                |____/|_|\__,_|\___|_.__/ \__,_|_|                        |
|                                                                          |
+--------------------------------------------------------------------------+
| Styling for the sidebar and its snapins.                                 |
'-------------------------------------------------------------------------*/


body.side {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: $theme-font-weight-global;
  background: $body-side-bg-color;

  p {
    color: $theme-color-darkgrey; }

  .link {
    color: $theme-color-lightgrey;
  }
  
  .title {
    color: $side-title-color;
  }

  &.screenshotmode {
    background-image: url("");
  }
}

/* Top logo part */
#side_header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 64px;
  margin: 0;
  background: $theme-color-sidebar-background;
  border: none;
  border-bottom: 1px solid $theme-color-sidebar-border;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  > a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
    background-image: url("images/mk-logo.png");
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: auto 30px;
  }
}

body.main .popup_menu #side_header > span {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("images/mk-logo.png");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: auto 30px;
}

#side_bg {
  display: none;
}

#side_fold {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 10px;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-image: url("images/side_fold.png");
    background-position: 5% 65%;
    background-repeat: no-repeat;
  }
}

#side_version {
  position: absolute;
  top: 20px;
  right: 24px;
  z-index: 54;
  max-width: 150px;
  font-size: 11px;
  color: #fff;
  text-align: right;

  a {
    font-size: 8px;
    font-weight: $theme-font-weight-bold;
    line-height: 1;
    letter-spacing: $theme-letter-spacing-table;
    color: $theme-color-text-light;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    background: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span.unack_werks {
    position: absolute;
    top: 5px;
    right: -12px;
    z-index: 15;
    padding: 2px;
    color: #fff;
    cursor: pointer;
    background-color: #f00;
    border-radius: 10px;
  }
}

/* Scrolling part with snapins */
#side_content {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding-left: 0;
  overflow: hidden;
  color: #000;

  &.scroll {
    overflow-y: scroll;
  }
}

/* Only put in a top offset when on the sidebar - not for dashlets */
#side_header + #side_content {
  top: 66px;
}

/* The footer of the sidebar */
#side_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  margin: 0;
  background: $theme-color-sidebar-background;
  border: none;
  border-top: 1px solid $theme-color-sidebar-border;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;

  img.iconbutton {

    position: relative;
    top: 4px;
    left: 0;
    width: 27px;
    height: 27px;
    padding: 0;
    margin-right: 5px;
    font-size: 9px;
    background-color: $sidebar-iconbutton-bg-color;
    border: 1px solid $sidebar-iconbutton-border-color;
    border-radius: 5px;
    box-shadow: none;
  }

  div.copyright {
    position: relative;
    top: 13px;
    right: 0;
    bottom: 5px;
    float: right;
    font-size: $theme-font-size-small;
    font-weight: $theme-font-weight-bold;
    letter-spacing: $theme-letter-spacing-table;
    color: $theme-color-text-light;
    text-align: right;
    text-transform: uppercase;
  }
}

#side_footer div.copyright a,
/* TODO: Reproduce these two html elements */
#side_footer div.copyright body.main .popup_menu span,
body.main .popup_menu #side_footer div.copyright span {
  color: $theme-color-text-light;
  text-decoration: none;
}

span#msg_label {
  position: relative;
  top: -6px;
  left: -10px;
  z-index: 15;
  padding: 1px;
  font-size: $theme-font-size-global;
  color: #f00;
  background-color: #fff;
  border-radius: 5px;
}

/* General layout of snapins */
body.side div.snapin, div.add_snapin div.snapin  {
  width: 100%;
  padding: 0;
  margin: 8px 0;
  overflow: hidden;
  background: $theme-color-sidebar-background;
  border: $snapin-border;
  border-top: $snapin-border-top;
  border-bottom: $snapin-border-bottom;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  &:first-child {
    margin-top: 6px;
  }
}

div.snapin {
  /* Header of the snapin */
  div.head {
    height: auto;
    padding: 8px;
    line-height: 10px; /* affects height of snapin title bar */
    color: $theme-color-text-light;
    text-align: left;
    background: transparent;

    &.open {
      padding-bottom: 0;
    }

    b.heading {
      font-size: $theme-font-size-main;
      font-weight: 500;
      letter-spacing: $theme-letter-spacing-table;
      text-transform: uppercase;
    }

    &.closed div.minisnapin {
      background-image: url("images/icon_maxisnapin.png");
    }
  }

  div.closesnapin {
    position: absolute;
    right: 5px;
    width: 8px;
    height: 2px; /* vertical position of close button */
    padding: 0;
    margin-top: 2px;
    margin-right: 6px;
    line-height: 0;

    img {
      width: 8px;
      height: 8px;
    }
  }

  div.minisnapin {
    position: absolute;
    right: 15px;
    width: 8px;
    height: 8px;
    margin: 2px 6px 0 0; /* vertical position of minimize button */
    line-height: 0;
    cursor: pointer;
    background-image: url("images/icon_minisnapin.png");
  }

  div.content {
    top: 64px;
    width: 100%;
    padding: 8px; /* Invisible spacing around hole snapin content */
    color: #fff;
    background-color: $theme-color-sidebar-background;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 11px;
    color: $theme-color-text;
    background-color: $primary-bg-color;
    background-image: none;
    border: $primary-border;
    border-radius: $theme-border-radius;
    box-shadow: none;
  }

  /*
   * General styles for snapin contents
   */
  .content_center {
    margin-right: auto;
    margin-left:  auto;
  }

  td {
    color: #fff;
  }

  h3 {
    margin: 2px 0;
    font-size: 100%;
    color: #fff;
  }

  /* Normal link in snapins */
  a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    &.iconlink img {
      margin-right: 8px;
    }
  }

  ul {
    /* width: 220px; Bei mehrstufigen Einrueckungen stimmt der rechte Rand nicht */
    padding: 0;
    padding-left: 16px;
    margin: 0;
  }

  li {
    padding-left: 1px;
    color: #478;

    &.sidebar {
      margin-left: 0;
    }
  }

  /* TODO: Reproduce this html element */
  textarea {
    width: 100%;
  }

  /* TODO: Reproduce this html element */
  div.footnote {
    width: 100%;
    text-align: right;
  }

  /* Style for exceptions displayed in snapins */
  div.snapinexception {
    width: 220px;
    padding: 3px;
    background-color: #f88;
    border: 1px solid #f00;
    border-radius: 4px;

    h2 {
      margin-top: 0;
      font-size: 12px;
      color: #f00;
    }

    p {
      color: #800;
    }
  }

  /* The right-aligned link at the bottom of some snapins like the "views" snapin. */
  div.footnotelink {
    margin-top: 0px;
    text-align: right;

    a {
      border-radius: 5px;
    }

    a:hover {
      text-decoration: none;
    }
  }

  /* Small iconbutton (e.g. at virtual host tree) */
  img.iconbutton {
    width: 10px;
    height: 10px;
    margin: 0 2px 0 0;
    border: none;

    &:hover {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }

    &.bookmark {
      width: 16px;
      height: 16px;
      margin: 0 -1px;
    }
  }

  /* state bullets at problem host or all hosts snapin */
  div.statebullet {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    margin-left: 0;
    border: 1px solid #123a4a;
    box-shadow: 0 0 1px #123a4a;
  }
}

div.snapin div.content div.foldable a.iconlink,
/* TODO: Reproduce these two html elements */
div.snapin div.content div.foldable body.main .popup_menu span.iconlink,
body.main .popup_menu div.snapin div.content div.foldable span.iconlink {
  padding: 4px 0px;
}

div.snapin div.content div.foldable a.iconlink:last-of-type,
/* TODO: Reproduce these two html elements */
div.snapin div.content div.foldable body.main .popup_menu span.iconlink:last-of-type,
body.main .popup_menu div.snapin div.content div.foldable span.iconlink:last-of-type {
  padding-bottom: 12px;
}

div.snapin table.allhosts td a.link,
/* TODO: Reproduce these two html elements */
div.snapin table.allhosts td body.main .popup_menu span.link,
body.main .popup_menu div.snapin table.allhosts td span.link {
  padding: 7px 4px;
}

div.snapin div.footnotelink a.link,
/* TODO: Reproduce these two html elements */
div.snapin div.footnotelink body.main .popup_menu span.link,
body.main .popup_menu div.snapin div.footnotelink span.link {
  padding: 0 0;
  margin-right: 16px;
  margin-left: 0;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-table;
  color: $footnote-link-color;
  text-transform: uppercase;
  background: transparent;
  border: none;
  box-shadow: none;
}

div.snapin div.footnotelink a.link::before,
/* TODO: Reproduce these two html elements */
div.snapin div.footnotelink body.main .popup_menu span.link::before,
body.main .popup_menu div.snapin div.footnotelink span.link::before {
  margin-right: 8px;
  content: "···";
}

/* TODO: Reproduce this html element */
div#snapinDragIndicator {
  position: relative;
  top: 2px;
  width: 247px;
  height: 1.5px;
  margin: 0 0 0 11px;
  font-size: 1px;
  line-height: 1px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #fff;
}


/*-------------------------------------------------------------------------.
|          _       _     _                         _                       |
|         / \   __| | __| |  ___ _ __   __ _ _ __ (_)_ __  ___             |
|        / _ \ / _` |/ _` | / __| '_ \ / _` | '_ \| | '_ \/ __|            |
|       / ___ \ (_| | (_| | \__ \ | | | (_| | |_) | | | | \__ \            |
|      /_/   \_\__,_|\__,_| |___/_| |_|\__,_| .__/|_|_| |_|___/            |
|                                           |_|                            |
+--------------------------------------------------------------------------+
| Style for the page where you can add new snapins to the sidebar.         |
'-------------------------------------------------------------------------*/

div.add_snapin {
  div.snapinadder {
    &, &:hover {
      float: left;
      width: 270px;
      height: 220px;
      padding: 8px;
      margin: 0 16px 16px 0;
      background-color: $theme-color-sidebar-background;
      border: 1px solid $theme-color-table-border-dark;
      border-radius: 5px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
      transition: box-shadow .15s 0s ease-in-out;
    }

    *, &:hover * {
      color: $theme-color-lightgrey;
    }

    &:hover {
      position: relative;
    }

    div.description {
      padding: 16px;
      font-size: $theme-font-size-small;
      font-weight: $theme-font-weight-global;
      line-height: 1.333;
      letter-spacing: $theme-letter-spacing-table;
      color: $theme-color-nuance-8;
      text-rendering: optimizeLegibility;
    }

    div.snapin {
      height: 116px;
      padding-top: 0;
      background-color: $theme-color-sidebar-background;
      border: none;
      border-bottom: 1px solid $theme-color-table-border-dark;
      border-radius: 0;
    }

    .head {
      height: auto;
      padding: 8px;
      color: $theme-color-text-light;
      text-align: left;
      background: transparent;

      b.heading {
        font-size: $theme-font-size-main;
        font-weight: 500;
        letter-spacing: $theme-letter-spacing-table;
        text-transform: uppercase;
      }
    }

    .snapin b, .head b {
      font-weight: $theme-font-weight-bold;
    }

    .content {
        color: $theme-color-text;
    }
  }

  div.snapin_preview {
    position: relative;
    top: 0;
    left: 0;
    width: 270px;
    height: 120px;
    overflow: hidden;

    div.clickshield {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 270px;
      height: 120px;
    }
  }
}


/*-Popup Msg-----------------------------------------------------------.
|           ____                           __  __                      |
|          |  _ \ ___  _ __  _   _ _ __   |  \/  |___  __ _            |
|          | |_) / _ \| '_ \| | | | '_ \  | |\/| / __|/ _` |           |
|          |  __/ (_) | |_) | |_| | |_) | | |  | \__ \ (_| |           |
|          |_|   \___/| .__/ \__,_| .__/  |_|  |_|___/\__, |           |
|                     |_|         |_|                 |___/            |
+----------------------------------------------------------------------+
| Popup message rendering                                              |
'---------------------------------------------------------------------*/

div.popup_msg {
  position: absolute;
  bottom: 35px;
  left: 20px;
  width: 200px;
  padding: 3px;
  background-color: #244452;

  .close {
    display: block;
    float: right;
  }
}

span#msg_label {
  position: relative;
  z-index: 15;
  padding: 1px;
  color: #ff0000;
  background-color: #fff;
  border-radius: 5px;
}
