/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
tails.  You should have received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/

/*
 * Bookmarks snapin
 */
div.bookmark {
  width: 230px;
  max-width: 230px;
  overflow: hidden;
  color: $primary-sidebar-font-color;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * Custom links snapin
 */
#snapin_custom_links {
  div.sublist {
    padding-left: 10px;
  }

  img {
    margin-right: 5px;

    &.icon {
      width: 16px;
      height: 16px;
    }
  }
}

/*
 * Host matrix snapin
 */
table.hostmatrix {
  border-spacing: 0;

  tr {
    padding: 0;
    border-spacing: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
  }

  td {
    padding: 0;
    border: 1px solid #123a4a;
    border-spacing: 0;
  }
}

.hostmatrix td.state1 a,
/* TODO: Reproduce these two html elements */
.hostmatrix td.state1 body.main .popup_menu span,
body.main .popup_menu .hostmatrix td.state1 span {
  background-color: $theme-color-main;
}

.hostmatrix td.state0 a,
/* TODO: Reproduce these two html elements */
.hostmatrix td.state0 body.main .popup_menu span,
body.main .popup_menu .hostmatrix td.state0 span {
  background-color: $theme-color-nuance-12;
}

/*
 * Hosts snapin
 */
.snapin table.allhosts {
  width: 100%;

  td {
    width: 50%;
    padding: 0;
  }

  .statebullet {
    margin: 2px;
  }
}

/*
 * Master control snapin
 */
div.snapin table.master_control {
  width: 100%;
  margin: 0;
  border-spacing: 8px;

  td {
    div.toggle_switch {
      float: right;
      background-color: $primary-bg-color;

      a {
	font-weight: $theme-font-weight-bold;
      }
    }

    &.left {
      display: inline-block;
      font-size: $theme-font-size-main;
      font-weight: $theme-font-weight-global;
      letter-spacing: $theme-letter-spacing-table;
      color: $theme-color-nuance-9;
      text-align: left;

      a {
        font-size: 11px;
        font-weight: normal;
        text-align: left;
      }
    }

    /* TODO: Reproduce this html element */
    img.iconbutton {
      width: 60px;
      height: 16px;
    }
  }
}

/* Styles shared/inherited by different performance tables */
%performance-table-shared {
  padding: $performance-table-shared-padding;
  background-color: $theme-color-table-background-dark;
  border: 1px solid $theme-color-table-border-dark;
  border-spacing: 4px;
  box-sizing: border-box;

  td {
    font-weight: $theme-font-weight-global;
    letter-spacing: $theme-letter-spacing-table;
  }
}

/*
 * Event console performance snapin (mkeventd)
 */
table.mkeventd_performance {
  @extend %performance-table-shared;
  width: $theme-snapin-width - 2px;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &:nth-of-type(2) {
      padding: 0;
      padding-right: 1px;
      font-weight: bold;
      text-align: right;
      white-space: nowrap;
    }
  }
}

/* TODO: Reproduce this html element */
#snapin_mkeventd_performance select {
  margin-bottom: 2px;
}

/*
 * NagVis maps snapin
 */
div.state1 {
  &.statea, &.stated {
    border-color: #ff0;
  }
}

div.state2 {
  &.statea, &.stated {
    border-color: #f00;
  }
}

div.statea, div.stated {
  background-color: #0b3;
}

/*
 * Performance snapin
 */
table.performance {
  @extend %performance-table-shared;
  width: $theme-snapin-width - 2px;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &.right {
      padding: 0;
      padding-right: 1px;
      text-align: right;
      white-space: nowrap;
    }
  }
}

/* TODO: Reproduce this html element */
#snapin_performance select {
  margin-bottom: 2px;
}

/*
 * Server time snapin
 */
#snapin_time div.time {
  width: $theme-snapin-width - 2px;
  padding: 0;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: $theme-letter-spacing-table;
  color: $primary-sidebar-font-color;
  text-align: center;
  border-spacing: 4px;
}

/*
 * Site status snapin
 */
table.sitestate {
  width: $theme-snapin-width;

  td {
    padding: 1px 0;
    text-align: right;

    &.left {
      text-align: left;

      a {
        font-weight: normal;
        text-align: left;
      }
    }

    &.state {
      width: 60px;
      font-size: 9px;
    }
  }
}

/* TODO: Reproduce this html element */
div.snapin table.sitestate td img.iconbutton {
  width: 60px;
  height: 16px;
}

/*
 * Speedometer snapin
 */
div.speedometer {
  position: relative;
  top: 0;
  left: 0;
  height: 223px;
}

img#speedometerbg, canvas#speedometer {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * Tactical overview snapin
 */
div#snapin_tactical_overview {
  padding-bottom: 6.5px;
}

table.tacticaloverview {
  width: 100%;
  margin: 0;
  border-collapse: separate;
  border-spacing: 2px;

  th {
    padding: 0;
    padding-top: 4px;
    font-size: 11px;
    font-weight: normal;
    line-height: 9px;
    letter-spacing: 0;
    color: $tactical-overview-th-font-color;
    text-align: center;
    vertical-align: bottom;
  }

  td {
    height: 14px;
    padding: 2px;
    text-align: right;
    background: $tactical-overview-td-bg-color;
    border: 1px solid $theme-color-table-border-dark;
    border-radius: $theme-border-radius;

    &.states {
      background: $theme-color-nuance-6;
      box-shadow: none;

      a.link {
        color: $tactical-overview-prob-link-color;
      }
    }

    &.col3 {
      width: 33%;
    }

    &.col4 {
      width: 25%;
    }
  }

  a, span {
    display: block;
    margin-right: 2px;
  }
}

table.tacticaloverview td a,
table.tacticaloverview td a.link,
table.tacticaloverview td a:hover,
table.tacticaloverview td span,
/* TODO: Reproduce these two html elements */
table.tacticaloverview td body.main .popup_menu span,
body.main .popup_menu table.tacticaloverview td span {
  padding: 4px;
  font-size: $theme-font-size-main;
  font-weight: $theme-font-weight-bold;
  letter-spacing: 0;
  color: $theme-color-text;
}

table.tacticaloverview td a.link, table.tacticaloverview td a:hover {
  color: $theme-color-text;
}

div.tacticalalert {
  height: 25px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  background-color: $theme-color-state-2-background;
  border-radius: $theme-border-radius;
  box-shadow: none;
}

div.spacertop {
  padding-top: 5px;
}

#snapin_tactical_overview img {
  position: relative;
  top: -1px;
  width: 15px;
  height: auto;
}

/*
 * Virtual host tree snapin
 */
#snapin_tag_tree {
  position: relative;
  top: 0;
  left: 0;

  select {
    float: right;
    margin-top: -2px;
    margin-bottom: 2px;
    font-size: 11px;
    border: $primary-border;
  }

  /* TODO: Reproduce this html element */
  form img.iconbutton {
    display: inline-box;
    float: right;
    width: 16px;
    height: 16px;
  }

  div.tag_tree {
    clear: both;
    font-size: $theme-font-size-main;
  }

  div.statebullet {
    position: relative;
    top: 3px;
    left: 1px;
    display: inline-block;
    float: none;
    width: 8px;
    height: 8px;
    margin-right: 0;
    border-radius: 50%;
    box-shadow: 0 0 0.7px #284850;
  }

  ul > div.statebullet.leaf {
    margin-left: 16px;
  }

  b {
    font-weight: normal;
  }

  p {
    margin: 0;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*
 * Admin mini snapin (WATO)
 */
#snapin_admin_mini {
  padding-top: 6px;
  clear: right;

  img {
    position: relative;
    left: 3px;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 3.9px;
    margin-bottom: 4px;
  }

  div.footnotelink {
    float: right;
  }

  div.clear {
    clear: right;
  }
}

/*
 * WATO folder tree snapin
 */
#snapin_wato_foldertree {
  table {
    width: 100%;
    margin: 4px 0;
    border-spacing: 0;

    td {
      vertical-align: baseline;

      &.label {
        width: 1px;
      }
    }
  }

  select {
    padding: 6px 0 6px 8px;
    margin: 1px 0 2px;
    clear: both;
    font-size: $theme-font-size-main;
    color: $foldertree-snapin-font-color;
    background-color: $foldertree-snapin-bg-color;
    border-radius: $theme-border-radius;
    box-sizing: border-box;
  }
}

/* Styles shared/inherited by different search bars */
%search-shared {
  width: 100%;
  padding: 0;

  img {
    display: none; }

  input {
    float: left;
    margin:  0;
    font-size: 11px;
    background-repeat: no-repeat;
  }

  input, select, textarea, #mk_side_search_field {
    box-sizing: border-box;
  }
}

/*
 * Wiki snapin
 */
#snapin_container_wiki div.content {
  font-weight: bold;
  color: $primary-sidebar-font-color;

  p {
    font-weight: normal;
  }
}

/* TODO: Reproduce this html element */
#wiki_navigation {
  text-align: left;
}

#wiki_search {
  @extend %search-shared;

  input {
    width: 194px;
    height: 25px;
  }
}

#wiki_side_clear {
  clear: both;
}

/*
 * Quicksearch snapin
 */
#mk_side_search {
  @extend %search-shared;

  input {
    width: 100%;
    height: 100%;
  }

  div.topic {
    margin-top: 3px;
    margin-left: 2px;
    font-size: 125%;
  }
}

#mk_search_results {
  position: relative;
  float: left;
  width: 223px;
  font-size: 80%;
  color: $primary-font-color;
  background-color: $mk-search-results-bg-color;
  border: $mk-search-results-border;

  a {
    display: block;
    width: 217px;
    padding-left: 5px;
    color: $primary-font-color;
    text-align: left;
    text-decoration: none;

    &:hover, &.active {
      background-color: $mk-search-results-hover-bg-color;
    }
  }

  div.error, div.warning {
    padding: 2px;
    font-size: 12px;
  }
}

#mk_side_clear {
  clear: both;
}

/*
 * Micro Core Stats (CMC) snapin
 */
#snapin_cmc_stats {
    color: $primary-sidebar-font-color;

  select {
    margin-bottom: 2px;
  }
}

table.cmc_stats {
  width: $snapin-cmc-table-width;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &.right {
      padding: 0;
      padding-right: 1px;
      text-align: right;
      white-space: nowrap;
    }
  }
}

/*
 * Reports snapin
 */
#snapin_reports {
  i {
    color: #000;
  }

  input {
    padding: 3px 4px;
    font-size: 9px;
    text-align: center;
  }

  div.timerange {
    margin-bottom: 10px;
    color: $primary-sidebar-font-color;

    table {
      display: inline-block;

      td {
	font-size: 11px;

	&.tuple_td:nth-of-type(2) {
	  padding-left: 8px;
	}

	&.tuple_left {
	  padding-right: 4px;
	}
      }

      span.title {
        padding: 0;
      }
    }
  }

  select {
    float: left;
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

/*
 * Snapin dashlets in dashboard
 */
body.main {
  #side_content {
    top: 0;
    height: auto;
    padding-top: 4px;
    padding-left: 4px;
  }

  div.snapin:last-child {
    margin-bottom: 0;
  }

  div.snapin {
    padding: 0;
    margin: 0;
  }

  body.side {
    overflow-x: hidden;
    overflow-y: auto;

    // TODO: Rm this if redundant
    div.snapin {
      background-color: $theme-color-table-border-dark;
    }
  }
}
