// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$white:    rgb(255, 255, 255);
$black:    rgb(0, 0, 0);
$warning:  rgb(255, 254, 68); // alt (more of an orange): rgb(255, 160, 66)
$danger:   rgb(255, 50, 50);
$success:  rgb(19, 211, 137);
$info:     rgb(255, 235, 131); //maybe an alternative rgb(255, 254, 68)
$grey-1:   rgb(250, 250, 250);
$grey-2:   rgb(189, 189, 189);
$grey-3:   rgb(68, 68, 68);
$grey-4:   rgb(51, 51, 51);
$grey-5:   rgb(50, 50, 50);
$grey-6:   rgb(40, 40, 40);
$grey-7:   rgb(33, 33, 33);
$shadow:   rgba(33, 33, 33, .35);

// -----------------------------------------------------------------------------
// Global toggles
// -----------------------------------------------------------------------------
$enable-rounded:  true;

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$spacer:        1rem;
$line-height:   1.5;

$border-width:  1px;
$border-color:  $grey-3;

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$font-family-sans-serif:  "Lato", "Roboto", Helvetica, Arial, sans-serif;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size__base:          1rem; // Assumes the browser default, typically `16px`

$font-weight__light:       300;
$font-weight__normal:      400;
$font-weight__bold:        700;

$font-weight-base:        $font-weight__normal;

$headings__margin-bottom:  ($spacer * .5);

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------
$body__background-color: $grey-5;
$body__color: $grey-1;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
$button__color:                    $white;
$button__background-color:         $grey-6;
$button__hover__background-color:  mix($white, $grey-6, 30%);
$button__border-color:             $grey-7;

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
$input__color:             $white;
$input__background-color:  $grey-3;
$input__border-color:      $grey-3;

// General

$theme-color-black:                         #000; // black
$theme-color-white:                         #fff; // white
$theme-color-lightgrey:                     #f8f8f8; // light grey
$theme-color-darkgrey:                      #838383; // dark grey

$theme-color-main:                          #ffd703; // yellow

$theme-color-text:                          #1a243d; // dark
$theme-color-background:                    #f0f2f4; // light grey

$theme-color-text-light:                    #e6e6e6; // light grey

$theme-border-radius:                       4px;


// Buttons

$theme-button-background:                   #f7f7f7;
$theme-button-background-hover:             $theme-button-background;
$theme-button-border:                       #d9d9d9;
$theme-button-hover:                        #ffe350;
$theme-button-height:                       28px;


// States

$theme-color-state-1-background:	    $theme-color-main;
$theme-color-state-1-border:		    #e9c400; // yellow

$theme-color-state-2-background:            #e85555;
$theme-color-state-2-border:                #e53f3f;

$theme-color-state-3-background:            #fcb97b;
$theme-color-state-3-border:                #fbac62;

$theme-color-state-4-background:            #888;
$theme-color-state-4-border:                #7b7b7b;

$theme-color-state-5-background:            #48cbf0;

$theme-color-state-6-background:            #b9ecfa;

$theme-color-state-7-background:            #e9806e;

$theme-color-state-8-background:            #f1aea2;

$theme-color-state-9-background:            #bf5abf;

$theme-color-state-error-border:            #e22828; // red

$theme-color-state-success-background:      #aae199; // green
$theme-color-state-success-border:          #9adb85; // green

$theme-color-perfometer-title:              $theme-color-text;


// Tables

$theme-color-table-border:                  #cccfdb; // grey
$theme-color-table-background:              #fafafa; // light grey

$theme-color-table-border-dark:             #0d0f0f; // dark grey
$theme-color-table-background-dark:         #1c2528; // dark grey

$theme-color-table-border-dark-2:           #313638; // dark grey

$theme-font-table-header:                   18px;

$theme-color-table-text:                    #2a2a2a; // dark grey
$theme-color-table-header-text:             #2a2a2a80; // half transparent


// Sidebar

$theme-color-sidebar-background:            #25292a; // dark grey
$theme-color-sidebar-border:                #3d4346; // dark grey

$theme-snapin-width:                        230px;


// Nuances (Colors only used once)

$theme-color-nuance-1:                      #afb2c6; // blue grey
$theme-color-nuance-2:                      #afb; // light green
$theme-color-nuance-3:                      #8288a6; // dark grey
$theme-color-nuance-4:                      #f6f7f8; // light grey
$theme-color-nuance-5:                      #c5c5c5; // grey
$theme-color-nuance-6:                      #ffeb83; // yellow
$theme-color-nuance-7:                      #333; // dark grey
$theme-color-nuance-8:                      #d7d7d7; // grey
$theme-color-nuance-9:                      #cfcfcf; // grey
$theme-color-nuance-10:                     #191c1d; // grey
$theme-color-nuance-11:                     #222f33; // dark grey
$theme-color-nuance-12:                     #9ee273; // green
$theme-color-nuance-13:                     #f3f4f6; // light grey
$theme-color-nuance-14:                     rgba(37, 41, 42, .3); // transparent grey
$theme-color-nuance-15:                     #f7c5c5; // light red
$theme-color-nuance-16:                     #fb9f49; // orange
$theme-color-nuance-17:                     #a1e6f8; // light blue


// Fonts

$theme-font:                                "Lato", "Roboto", Helvetica, Arial, sans-serif;

$theme-font-size-global:                    12px;
$theme-font-size-main:                      11px;
$theme-font-size-small:                     10px;

$theme-font-weight-global:                  400;
$theme-font-weight-bold:                    700;

$theme-letter-spacing:                      .5px;
$theme-letter-spacing-table:                1px;


// Tags

$tag-margin:                                0 5px 2px 0;
$tag-padding:                               .1em .3em;
$tag-font-color:			    $white;
$tag-bg-color:				    #00a8b5;


// -----------------------------------------------------------------------------
// Temporary variables for implementing the dark theme
// These should be put into a more intuitive naming structure afterwards.
// -----------------------------------------------------------------------------

$primary-bg-color:			    $theme-color-white;
$secondary-bg-color:			    $theme-color-white;

$primary-font-color:			    $theme-color-black;
$secondary-font-color:			    $theme-color-table-text;

$primary-link-color:			    $theme-color-text;
$secondary-link-color:			    $theme-color-table-text;

$primary-border:			    null;
$primary-table-border:			    1px solid $theme-color-table-border;
$secondary-table-border:		    null;

$primary-th-bg-color:			    #f5f5f5;
$primary-td-bg-color:			    $theme-color-table-background;

$primary-box-shadow:			    0.5px 0.5px 1px #ccc;
$primary-border-radius:			    $theme-border-radius;

$dashboard-stats-bg-color:		    $theme-color-white;
$dashboard-tr-border-bottom:		    null;
$dashboard-tr-hover-bg-color:		    $theme-color-background;
$dashboard-tr-even-hover-bg-color:	    null;

$checkbox-border-color:			    #73767a;
$checkbox-shadow:			    #888;
$checkbox-checked-color:		    $primary-font-color;
$checkbox-checked-bg-color:		    #ddd;

$toggle-switch-on-bg-color:		    #54a626;
$toggle-switch-off-bg-color:		    #f60000;
$toggle-button-off-border:		    none;
$toggle-button-down-bg-color:		    $theme-color-text-light;
$toggle-button-down-border-color:	    $theme-button-border;
$toggle-button-down-hover-bg-color:	    $theme-button-border;
$toggle-button-down-hover-border-color:	    #ccc;

$success-bg-color:			    #9dbecd;

$filter-inversion-percentage:		    100%;

$color-div-border-color:		    $theme-color-black;

$success-alert-bg-color:		    $theme-color-state-success-background;
$success-alert-border-color:		    $theme-color-state-success-border;

$data-container-bg-color:		    null;
$data-container-border:			    null;

$oddeven-table-bg-color:		    transparent;
$data-td-bg-color:			    $theme-color-white;
$data-table-border-collapse:		    null;
$data-table-border-spacing:		    0 2px;
$data-table-border-topmost:		    $primary-table-border;
$data-table-border-top:			    null;
$data-table-border-bottom:		    $primary-table-border;
$data-table-state-border-top:		    null;
$data-table-state-border-bottom:	    null;

$input-button-bg-color:			    $success;
$input-button-hover-bg-color:		    #11bd7b;
$input-button-color:			    $theme-color-white;

$odd-tr-bg-color:			    null;
$even-tr-bg-color:			    null;

$tr-data-border-bottom:			    null;

$floatfilter-bg-color:			    rgba(255, 255, 255, 0.2);

$select2-border-color:			    $theme-button-border;
$select2-rendered-color:		    null;
$select2-selected-bg-color:		    null;
$select2-highlighted-bg-color:		    null;

$td-single-bg-color:			    $theme-color-white;
$wato-tr-bg-color:			    transparent;
$wato-a-hover-bg-color:			    $theme-color-table-background;

$td-unused-color:			    #256;

$color-div-box-shadow:			    0.5px 0.5px 1px #888;

$graph-legend-color:			    null;

$dark-font-color:			    null;

$body-dashlet-bg-color:			    transparent;
$dashlet-bg-color:			    null;

$tactical-overview-td-bg-color:		    $theme-color-background;
$tactical-overview-prob-link-color:	    null;

$sidebar-iconbutton-bg-color:		    $theme-color-sidebar-background;
$sidebar-iconbutton-border-color:	    $theme-color-table-border-dark-2;

$table-header-border-bottom:		    1px solid $theme-color-table-border;

$state-border-top-color:		    null;

$body-side-bg-color:			    $theme-color-table-border-dark;

$td-gap-bg-color:			    $theme-color-background;
$td-border-left-right:			    null;

$td-text-overflow:			    null;

$span-dots-color:			    $grey-3;

$tr-odd3-bg-color:			    null;
$tr-even3-bg-color:			    null;

$graph-bg-color:			    null;
$graph-legend-th-border-bottom:		    null;
$graph-time-color:			    null;

$dashlet-stats-border-top-color:	    $theme-color-table-border;
$dashlet-title-border-radius:		    5px 5px 0 0;

$snapin-border:				    none;
$snapin-border-top:			    1px solid $theme-color-table-border-dark-2;
$snapin-border-bottom:			    1px solid $theme-color-table-border-dark-2;

$wato-a-border:				    null;

$side-title-color:			    $theme-color-lightgrey;
$wato-subtitle-color:			    $theme-color-darkgrey;

$footnote-link-color:			    #13d389;

$table-data-single-padding:		    8px 16px;
$td-single-left-border-right:		    1px solid $theme-color-table-border;

$host-diag-success-bg-color:		    #efe;
$host-diag-failed-bg-color:		    #fee;

$wato-inherited-color:			    #444;

$hot-bg-color:				    rgb(255, 160, 66);
$hot-color:				    null;

$input-hover-bg-color:			    #edeceb;

$data-th-sort-hover-bg-color:		    inherit;

$wato-h3-margin-bottom:			    null;
$wato-data-th-bg-color:			    transparent;
$wato-data-table-border:		    null;
$wato-data-table-border-bottom:		    null;
$wato-data-table-box-shadow:		    null;

$wato-post-contextlinks-border-top:	    null;

$wato-info-margin:			    null;
$wato-info-padding:			    null;

$ac-test-details-td-padding:		    1px 5px;

$groupheader-first-padding-top:		    null;

$boxlayout-tr-bg-color:			    transparent;

$age-font-color:			    #666;

$mk-search-results-bg-color:		    #dfdfdf;
$mk-search-results-hover-bg-color:	    #bfbfbf;
$mk-search-results-border:		    1px solid $white;

$repprogress-msg-color:			    null;
$repprogress-progress-bg-color:		    $theme-color-state-6-background;
$repprogress-progress-border-color:	    $theme-color-nuance-17;

$side-header-height:			    64px;

$first-child-border-radius:		    4px 0 0 4px;
$optiondial-refresh-border-radius:	    0 4px 4px 0;
