/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/

/*-------------------------------------------------------------------------.
|  _____     _            ___      ___        _   _                        |
| |_   _|_ _| |__  ___   ( _ )    / _ \ _ __ | |_(_) ___  _ __  ___        |
|   | |/ _` | '_ \/ __|  / _ \/\ | | | | '_ \| __| |/ _ \| '_ \/ __|       |
|   | | (_| | |_) \__ \ | (_>  < | |_| | |_) | |_| | (_) | | | \__ \       |
|   |_|\__,_|_.__/|___/  \___/\/  \___/| .__/ \__|_|\___/|_| |_|___/       |
|                                      |_|                                 |
+--------------------------------------------------------------------------+
| The navi table contains the tab navigation above the content tables      |
| containing the buttons "filter", "commands", "display" and so on.        |
'-------------------------------------------------------------------------*/

table.filterform {
  padding: 0;
  border-collapse: collapse;
  border-style: none;

  td {
    padding: 0;
  }
}

div.floatfilter {
  float: left;
  width: 310px;
  height: 53px;
  padding: 4px;
  margin: 0 4px 3px 0;
  color: $primary-font-color;
  background-color: rgba(160, 181, 190, 0.6);
  border-color: #acc #22404d #22414d #8ab;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px #444;

  &.double {
    display: table-cell;
    height: 110px;

    .content {
      height: 82px;
    }
  }

  input[type=text] {
    width: 294px;

    &.neg {
      width: 229px;
    }
  }

  .legend {
    width: 300px;
    height: 17px;
    padding: 3px 5px 0;
    margin-bottom: 1px;
    font-size: 10px;
    color: #fff;
    background-color: $floatfilter-bg-color;
    border-radius: 5px 5px 0 0;
  }

  .content {
    display: table-cell;
    width: 311px;
    height: 30px;
    padding-top: 5px;
    padding-left: 4px;
    margin-top: 0;
    margin-left: 0;
    text-align: left;

    > select {
      width: 300px;

      &.neg,
      &#opthost_group,
      &#optservice_contact_group,
      &#opthost_contact_group,
      &#optservice_group {
        width: 237px;
      }
    }

    .multigroup {
      table {
        margin-top: -6px;
      }

      select {
        width: 156px;
        height: 66px;
      }
    }

    .filtertime select {
      width: 136px;
    }
  }

  &.service_custom_variable, &.host_custom_variable {
    input, select {
      display: inline-block;
      width: 45%;
    }

    select {
      margin-right: 10px;
    }
  }

  table.vs_duallist {
    width: 313px;
    border-spacing: 0px 3px !important;

    a.control {
      padding: 0px 6px;
    }

    /* TODO: Get rid of these important styles */
    select {
      height: 43px !important; /* Is hardcoded to 48px in generated HTML code.
                                  This is bad but we cannot break compatibility
                                  with the classic theme for the while. */
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.filterform > tbody > tr > td div.floatfilter {
  position: relative;
  width: 326px;
  height: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  background: $secondary-bg-color;
  border: 1px solid $theme-color-table-border;
  box-shadow: none;

  &.single {
    height: 53px;
  }

  &.double {
    height: 110px;
  }

  .legend {
    width: 100%;
    height: auto;
    padding: 5px 8px;
    color: $secondary-font-color;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  .content {
    display: block;
    width: 100%;
    padding: 3px 8px;
    box-sizing: border-box;

    select {
      box-sizing: border-box;
    }

    table {
      border-spacing: 8px 4px;

      /* TODO: Get rid of this important style */
      td input.text {
        width: 96px !important;
      }
    }

    .checkbox {
      display: block;
      float: left;
      margin-right: 8px;
      margin-bottom: 8px;
    }

    input, select, textarea, #mk_side_search_field {
      margin-bottom: 0;
    }

    input[type^=radio],
    select[type^=radio],
    textarea[type^=radio],
    [type^=radio]#mk_side_search_field {
      width: auto;
      margin-bottom: 0;
    }

    input[type=radio] {
      margin-left: 5px;
    }

    .valuespec_tuple {
      width: 100%;
      border-spacing: 2px 2px;
    }
  }

  &.host_tags .content table {
    border-spacing: 4px 0;
  }

  span.select2-selection {
    border-color: $select2-border-color;
  }

  &.svchardstate .content, &.svcstate .content {
    .checkbox {
      margin-right: 5px;
    }

    input[type="checkbox"] + label::before {
      margin: 0 4px 0 0;
    }
  }

  &.single span.select2 {
    position: relative;
    top: -2px;
  }

  /* TODO: Get rid of this important style */
  &.single > div.content > span.select2 {
    width: 310px !important;
  }

  &.single input.neg[type=text] {
    position: relative;
    top: -3px;
    width: 222px;
  }
}

/* Improving styling of floatfilters that are contained in a ListOf() */
table.valuespec_listof.filter {
  *.filter {
    width: 300px;
    border-spacing: 0;
  }

  td {
    &.vlof_content {
      width: 1px;
      border-style: none;
    }

    &.vlof_buttons {
      width: 1px;
      vertical-align: top;
      border-style: none;

      img {
        position: relative;
        top: 2px;
        left: -28px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

select.vlof_filter {
  width: 312px;
}

table.nform table.valuespec_listof {
  border-spacing: 0;

  > tbody > tr {
    vertical-align: middle;
  }

  .vlof_content {
    padding: 8px 0;
    vertical-align: top;
    border-bottom: 1px solid $theme-color-table-border;

    .valuespec_tuple {
      border-spacing: 8px;
    }

    .content nobr {
      display: inline-block;
      margin-top: 8px;
    }
  }

  .vlof_buttons {
    width: 1px;
    padding-top: 8px;
    padding-bottom: 32px;
    vertical-align: middle;
    border-bottom: 1px solid $theme-color-table-border;
  }

  &.filter {
    .vlof_content .floatfilter {
      width: 400px;
      height: auto;
      background-color: $theme-color-white;
      border: 1px solid $theme-color-table-border;
      box-shadow: none;

      .legend {
        padding: 16px 0 0 16px;
        font-size: $theme-font-size-global;
        letter-spacing: $theme-letter-spacing-table;
        color: $secondary-font-color;
        text-transform: uppercase;
      }

      .content {
        width: 100%;
        padding: 16px;

        table {
          border-spacing: 8px 4px;
        }
      }
    }

    .vlof_buttons.filter img {
      top: 8px;
      left: -40px;
    }
  }
}

table.filtertime td {
  vertical-align: middle;
}

div.optiondial {
  &, &.num_columns, &.refresh {
    top: 0;
    width: 80.5px;
    height: 26px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: $theme-color-text;
    background: $theme-color-white;
    border: 1px solid $theme-color-table-border;
    border-radius: $theme-border-radius;
    box-shadow: none;

    div {
      padding: 0;
      line-height: 27px;
    }
  }

  & {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    color: #222;
    text-shadow: 0 0.5px 0.5px #fff;
    cursor: pointer;
    box-shadow: 0 0 3px #123;
  }

  &.num_columns {
    margin-right: 0;
    border-right: none;
    border-radius: $theme-border-radius 0 0 4px;
  }

  &.refresh {
    margin-left: -6px;
    border-radius: 0 4px 4px 0;
  }

  div {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

div.view_form {
  margin-bottom: 10px;
}

/*-------------------------------------------------------------------------.
|                _                            _                            |
|               | |    __ _ _   _  ___  _   _| |_ ___                      |
|               | |   / _` | | | |/ _ \| | | | __/ __|                     |
|               | |__| (_| | |_| | (_) | |_| | |_\__ \                     |
|               |_____\__,_|\__, |\___/ \__,_|\__|___/                     |
|                           |___/                                          |
+--------------------------------------------------------------------------+
| Styles used by layouts of the views (plugins/views/layouts.py)           |
'-------------------------------------------------------------------------*/


table.data tr.data > td.gap,
table.data tr > td.last_col,
table.data tr > th.last_col {
  border-right: none;
}

td.gap, table.data .checkbox_hover.gap {
  width: 5px;
  /* #TODO: Check whether these background styles are needed */
  background-attachment: fixed;
  background-image: url("images/contentframe_background.jpg");
  background-repeat: repeat;
}

/* boxed layout */
table.boxlayout {
  border-spacing: 0;

  td.boxcolumn {
    padding-right: 20px;
  }

  tr > td {
    vertical-align: top;
  }

  &.graph table.data tr.data {
    background: $boxlayout-tr-bg-color;
  }
}

/* tiled layout */
table.tiled td {
  border-style: none;
}

.tile {
  float: left;
  width: 180px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: 1px 1px 3px #000;

  img.icon {
    width: 16px;
    height: 16px;
  }

  table {
    width: 100%;
    height: 70px;
  }

  td {
    font-size: 9px;
    border-style: none;

    &.tl, &.bl {
      text-align: left;
    }

    &.tr, &.br {
      text-align: right;
    }

    &.center {
      vertical-align: middle;
    }

    &.center, &.cont {
      text-align: center;
    }

    &.bl, &.br {
      vertical-align: bottom;
    }

    &.bl, &.br, &.tl, &.tr {
      height: 20px;
    }
  }
}

table.data.tiled td.tiles {
  padding: 0;

  div.tile {
    width: 240px;
    padding: 4px;
    background: $secondary-bg-color;
    border: 1px solid $theme-color-table-border;
    border-radius: $theme-border-radius;
    box-shadow: none;

    table {
      border-spacing: 4px 8px;

      td {
        padding: 8px;

        &.states {
          border-radius: $theme-border-radius;
        }
      }
    }

    .cont {
      box-sizing: border-box;
    }
  }
}

/*
 LAYOUT: dataset
 The dataset layout is used to display detailed information
 about a single host/service on a page. e.g. the "host details"
 page uses thislayout
*/
table.data.single {
  padding: 0;
  margin-top: 5px;
  border-collapse: collapse;
  border-spacing: 1px;
  empty-cells: show;

  tr[class*="odd"] {
    background-color: $odd-tr-bg-color;
  }

  tr.data {
    border-color: $table-data-single-border-color;

    > td {
      height: 16px;
      padding: 4px 5px 2px;
      padding-bottom: 4px;
      line-height: 14px;
      text-align: left;
      vertical-align: top;
      border-top-color: $table-data-single-border-color;
      border-bottom-color: $table-data-single-border-color;
    }

    td.left {
      width: 10%;
      padding-right: 20px;
      text-align: $td-single-left-text-align;
      white-space: nowrap;
      vertical-align: top;
    }
  }

  > tbody > tr > td,
  > tbody tr.odd0 > td,
  > tbody tr.even0 > td {
    padding: $table-data-single-padding;
    background-color: $td-single-bg-color;
    border-radius: 0;

    &.left {
      font-weight: $theme-font-weight-bold;
      color: $td-single-left-color;
      text-transform: $td-single-left-text-transform;
      background-color: $secondary-bg-color;
      border-right: $td-single-left-border-right;
      transition: .15s ease-in-out;
    }
  }

  td {
    &.gap {
      background-color: transparent;
      border-right-style: none;
      border-left-style: none;
    }

    &.perfometer div.glass {
      width: 100%;
    }
  }
}

table.data.matrix {
  width: auto;
  margin-bottom: 10px;

  tbody > tr.data {
    > td {
      padding: 8px;
      border: 1px solid $theme-color-table-border;
      border-left: 0 solid;

      &.left {
        font-weight: $theme-font-weight-bold;
        background-color: $theme-color-white;
        border-right: 1px solid $theme-color-table-border;
        border-left: 1px solid $theme-color-table-border;
        transition: .15s ease-in-out;
      }

      &.cell td.perfometer {
        div.title, div.content {
          padding: 0;
        }
      }
    }

    &:hover td.left {
      background-color: $theme-color-table-background;
    }

    &:first-child {
      background: transparent;

      td {
        background: transparent;
        border: none;

        &.matrixhead {
          font-size: $theme-font-size-global;
          letter-spacing: $theme-letter-spacing-table;
          text-transform: uppercase;
        }
      }
    }
  }

  tr.even0 {
    td.left.minority {
      background-color: #bdd;
    }

    td.matrixhead {
      background-color: #888;
    }
  }

  tr.odd0 {
    td.left.minority {
      background-color: #cee;
    }

    td.matrixhead {
      background-color: #999;
    }
  }

  tr.even0, tr.odd0 {
    tbody & td.matrixhead {
      font-weight: $theme-font-weight-bold;
      color: $theme-color-text;
    }
  }

  td.cell {
    padding: 0;

    table {
      width: 100%;
      padding: 0;
    }
  }
}

.even0 .minority {
  background-color: #cff;
}

.odd0 .minority {
  background-color: #dff;
}

/*-------------------------------------------------------------------------.
|              _____    _ _ _           _                                  |
|             | ____|__| (_) |_  __   _(_) _____      __                   |
|             |  _| / _` | | __| \ \ / / |/ _ \ \ /\ / /                   |
|             | |__| (_| | | |_   \ V /| |  __/\ V  V /                    |
|             |_____\__,_|_|\__|   \_/ |_|\___| \_/\_/                     |
|                                                                          |
+--------------------------------------------------------------------------+
| Styles used while editing a view in the view editor                      |
'-------------------------------------------------------------------------*/

div.clear {
  clear: left;
}

input#try {
  float: left;
}


/*-------------------------------------------------------------------------.
|       _     _     _            __         _                              |
|      | |   (_)___| |_    ___  / _| __   _(_) _____      _____            |
|      | |   | / __| __|  / _ \| |_  \ \ / / |/ _ \ \ /\ / / __|           |
|      | |___| \__ \ |_  | (_) |  _|  \ V /| |  __/\ V  V /\__ \           |
|      |_____|_|___/\__|  \___/|_|     \_/ |_|\___| \_/\_/ |___/           |
|                                                                          |
+--------------------------------------------------------------------------+
| The table with the list of all views                                     |
'-------------------------------------------------------------------------*/
/* TODO: Check whether this list of views is deprecated
 * page_edit_views() in cmk.gui.views is never called
 */

table.views {
  margin-bottom: 1ex;
  border-collapse: collapse;
  empty-cells: show;

  td, th{
    padding: 2px 1ex;
    color: #fff;
    border: 1px solid #444;
  }

  td {
    height: 25px;
    padding-top: 3px;

    &.legend {
      color: #fff;
      background-color: #8eaeb8;
    }

    &.content {
      color: #fff;
      background-color: #9ebec8;
    }

    &.edit {
      text-align: center;
      background-color: #6ab;
    }

    &.buttons {
      padding: 3px;
      vertical-align: middle;
      background-color: #8eaeb8;
    }
  }

  th {
    background-color: #709aa5;
  }
}

/* Availability */
table.data.availability {
  width: 100%;

  td.number {
    width: 60px;
  }

  td.unused {
    color: #888;
    text-shadow: 1px 1px 0.5px #fff;
  }

  tr.summary {
    background-color: #bbb;

    td {
      padding-top: 1px;
      padding-bottom: 1px;
      font-weight: bold;
      border-top: 1px solid $theme-color-table-border;
      border-bottom-style: none;
    }
  }

  td.number.stats, tr.odd0 td.number:not(.unused) {
    opacity: .7;
  }

  tr.odd0 td.number.stats {
    opacity: .5;
  }
}

table.data td.flapping, table.timeline td.flapping, div.avlegend.timeline div.state.flapping {
  background-color: #f0f;
}
table.data td.downtime, table.timeline td.downtime, div.avlegend.timeline div.state.downtime {
  background-color: #0af;
}
table.data td.hostdown, table.timeline td.hostdown, div.avlegend.timeline div.state.hostdown {
  color: #fff;
  background-color: #048;
}

table.data td.unmonitored,
table.timeline td.unmonitored,
div.avlegend.timeline div.state.unmonitored {
  color: #888;
  background-color: #cacaca;
}

table.timeline td.ooservice, div.avlegend.timeline div.state.ooservice {
  background-color: #cacaca;
  background-image: url("images/ooservice.png");
  background-repeat: repeat;
}

div.floatfilter.rangespec table.valuespec_tuple {
  width: 100%;

  span.title {
    position: relative;
    top: 7px;
  }
}

/* #TODO: Reproduce this html element */
div#avoptions_on {
  margin-right: 3px;
}

table.data tr.data > td.timeline {
  width: 500px;
  padding: 0;
}

table.timeline {
  height: 30px;
  border-collapse: collapse;
  border-spacing: 0;

  &.low {
    height: 5px;
    margin-top: -18px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  &.standalone {
    width: 800px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px #ccf;
  }

  &.inline {
    width: 500px;
    border-style: none;
    box-shadow: 0 0 1px #555 inset;
  }

  td {
    padding: 0;
    border-style: none;

    &.hilite {
      padding: 0;
      background-color: #0091b6;
      border-style: none;
      filter: brightness(80%);
    }

    &.chaos {
      background-color: #84f;
    }
  }
}

div.timelinerange {
  position: relative;
  float: none;
  width: 800px;

  div {
    float: left;
    width: 300px;

    /* We render the small vertical lines in a way that only
       the left border is visible but the thing is thick 5 pixels.
       That makes hovering over it more easy. */
    &.timelinechoord {
      position: absolute;
      top: 0;
      width: 5px;
      height: 30px;
      border-color: #666;
      border-style: none none none solid;
      border-width: 0 0 0 1px;
    }

    &.until {
      float: right;
      text-align: right;
    }
  }

  &.inline {
    width: 500px;
  }
}

table.timelineevents {
  width: 800px;
}

/* #TODO: Reproduce this html element */
table.data.oddeven.timelineevents > tbody > tr.hilite {
  color: #fff;
  background-color: #6ab;
}

.timelinerange .from, .timelinerange .until {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: $theme-font-size-small;
  letter-spacing: $theme-letter-spacing-table;
  color: $theme-color-darkgrey;
}

.timelinerange .timeline {
  box-shadow: none;

  &.standalone td {
    border: 1px solid $theme-color-table-border;
  }
}

/* #TODO: Reproduce this html element */
table.data.timewarp {
  width: 800px;
  margin-bottom: 20px;
}

div.avlegend {
  padding: 5px 15px;
  margin-top: 10px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;

  h3 {
    margin-top: 0;
    font-size: 13px;
    color: #000;
  }

  div {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    white-space: nowrap;

    &.state {
      padding: 2px 0;
      font-size: 12px;
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.levels div.level {
    margin-right: 15px;
    color: #000;
  }

  &.timeline div.state {
    width: 75px;

    &.ooservice {
      color: #000;
    }
  }
}


/*--Inventory--------------------------------------------------------------.
|            ___                      _                                    |
|           |_ _|_ ____   _____ _ __ | |_ ___  _ __ _   _                  |
|            | || '_ \ \ / / _ \ '_ \| __/ _ \| '__| | | |                 |
|            | || | | \ V /  __/ | | | || (_) | |  | |_| |                 |
|           |___|_| |_|\_/ \___|_| |_|\__\___/|_|   \__, |                 |
|                                                   |___/                  |
+--------------------------------------------------------------------------+
| Styles for displaying HW/SW-Inventory data                               |
'-------------------------------------------------------------------------*/

td.invtree {
  width: 100%;

  /* TODO: Reproduce this html element */
  b.treeangle.title {
    font-weight: normal;
    color: #000;
  }

  ul.treeangle {
    margin: 0;
    margin-bottom: 3px;
  }

  table {
    margin-top: 3px;
    border-collapse: collapse;
  }

  table td, table th {
    height: 14px;
    padding: 1px 5px;
    border: 1px solid #888;
  }

  table th {
    text-align: left;
  }

  table td {
    background-color: #fff;
  }
}

/* TODO: Reproduce this html element */
td.invtree span.invold, span.invold table.data {
  color: #ff0000;
}
/* TODO: Reproduce this html element */
td.invtree span.invnew, span.invnew table.data {
  color: #00bf00;
}

table.data.single {
  tr.data td.invtree table {
    margin: 8px 0 12px;
    border: 1px solid $theme-color-table-border;
    box-shadow: none;

    th, td {
      height: 14px;
      padding: 2px 4px;
      background-color: $primary-td-bg-color;
      border: 1px solid $theme-color-table-border;
    }

    th {
      color: $theme-color-text;
      background-color: $primary-th-bg-color;
    }
  }

  /* Make td class of invtree more specific, when shown in single dataset mode */
  /* td.data.single td.invtree td.number { */
  td.invtree td.number {
    text-align: right;
  }
}

/* Positioning of the link from an inventory dicttable to the matching multisite table */
div.invtablelink {
  position: absolute;
  top: -17px;
  right: 1px;
}

td.if_state {
  width: 50px;
  text-align: center;
  box-shadow: none;
}

table.data.single tr.data td.invtree table td.if_state,
table.data tr.data td.if_state {
  &.if_state_up {
    background-color: $theme-color-state-success-background;
  }

  &.if_state_down {
    background-color: $theme-color-state-2-background;
  }

  &.if_state_other {
    background-color: $theme-color-state-9-background;
  }

  &.if_available {
    color: $theme-color-black;
    background-color: $theme-color-state-success-background;
  }

  &.if_not_available {
    color: $theme-color-black;
    background-color: $theme-color-state-4-background;
  }
}

/* #TODO: Reproduce all .sla elements */
table.data.headerleft.sla {
  margin-bottom: 20px;

  th {
    width: 130px;
    padding: 4px 5px;
    text-align: left;

    &.sla_state {
      width: 30px;
    }

    &.sla_duration {
      text-align: left;
    }
  }

  td {
    padding: 0;

    &.sla_duration {
      padding-right: 4px;
      text-align: right;
    }

    &.sla_output {
      width: 70%;
      padding-left: 4px;
    }
  }

  th.sla_date,
  td.sla_date {
    width: 120px;
    padding-right: 4px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

table.timeline {
  &.standalone.sla {
    margin-bottom: 5px;

    td {
      padding: 0;
      border: none solid #444;
    }

    &.period {
      height: 10px;
      margin-bottom: 5px;
    }
  }

  td.state0.even {
    background-color: #0b3;
  }

  td.state0.odd {
    background-color: #092;
  }

  td.state2.even {
    background-color: #f00;
  }

  td.state2.odd {
    background-color: #900;
  }
}

div.sla_details {
  background-color: #73a1b4;
}

td.sla > div.foldable > b {
  color: #000;
}

h2.sla {
  margin-bottom: 3px;
}

h3.sla {
  margin-top: 3px;
}

table.data tr.sla_horizontal_line > td.sla_horizontal_line {
  height: 1px;

  &.black {
    height: 1px;
    border-bottom: 1px solid #000;
  }
}

table.timeline.sla td.sla_hilite,
table.data.oddeven > tbody > tr.sla_hilite {
  padding: 0;
  border-style: none;
  filter: brightness(70%);

  &.sla_error_hilite {
    padding: 0;
    border-style: none;
    filter: brightness(50%);
  }
}

div.timelinerange.sla {
  float: none;
  width: auto;
}

table.data.headerleft.sla {
  tbody tr {
    td {
      &, &.sla {
        padding: 4px 8px;
      }

      table.timeline.standalone,
      &.sla table.timeline.standalone {
        margin-bottom: 0;
        box-shadow: none;

        tbody tr td {
          border-radius: 0;
        }
      }

      &.sla_spec > table,
      &.sla_spec table.sla_spec {
        margin: 0;
        border: none;
        border-spacing: 0;
        box-shadow: none;

        tbody tr td {
          padding-left: 0;
          margin: 0;
          vertical-align: baseline;
          border: none;
          box-shadow: none;

          &.title {
            display: table-cell;
            width: 280px;
            font-weight: $theme-font-weight-bold;
            color: $theme-color-text;
            background: transparent;
          }

          table {
            margin: 0;
            border: none;
            border-spacing: 0;
            box-shadow: none;

            tbody tr td {
              padding: 0;
            }
          }
        }
      }
    }

    th {
      width: 240px;
    }
  }

  a,
  body.main .popup_menu span,
  body.main .popup_menu & span {
    color: $theme-color-text;
  }
}

div#avoptions td {
  &.dictleft {
    width: 99%;
  }

  &.dictright {
    padding-right: 4px;
  }
}

/* TODO: Reproduce these tables
 * TODO: Decide whether to put these into a separate _tables.scss or not
 */
td.sla_spec table table,
td.agent_config table.rulesets table,
table.data tr.ac_test_details table,
table.data tr.notification_context table {
  margin-top: 3px;
  border: 0.5px solid $theme-color-table-border;
  border-collapse: collapse;
  box-shadow: $primary-box-shadow;
}

table.data tr.ac_test_details td {
  padding: 8px;

  p, ul, table {
    margin: 8px 0;

    &:first-child:not(:last-child) {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

td.sla_spec table td,
td.agent_config table.rulesets table td,
td.agent_config table.rulesets table td.title,
table.data tr.ac_test_details table td,
table.data tr.notification_context table td,
table.data tr.notification_context table th,
td.rule_conditions table td {
  height: 14px;
  padding: 1px 5px;
  border: 1px solid $theme-color-table-border;
}

table.data tr.ac_test_details table td {
  padding: $ac-test-details-td-padding;
}

td.sla_spec table td.title,
td.agent_config table.rulesets table td.title,
table.data tr.notification_context table th {
  text-align: left;
}

td.sla_spec table td,
td.agent_config table.rulesets table td,
table.data tr.ac_test_details table td,
table.data tr.notification_context table td,
td.rule_conditions table td {
  background-color: $primary-bg-color;
}

td.sla_spec table td.title,
td.agent_config table.rulesets table td.title,
table.data tr.notification_context table th,
td.rule_conditions table td.title {
  background-color: $theme-color-table-background;
}

table.agents tbody > tr.data > td {
  line-height: 20px;
  vertical-align: top;

  &.agent_config {
    line-height: normal;
    vertical-align: middle;
  }
}
