/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                      _                _                                  |
|                     | |    ___   __ _(_)_ __                             |
|                     | |   / _ \ / _` | | '_ \                            |
|                     | |__| (_) | (_| | | | | |                           |
|                     |_____\___/ \__, |_|_| |_|                           |
|                                 |___/                                    |
+--------------------------------------------------------------------------+
| Styling of the login page (when not HTTP Basic Auth is used)             |
'-------------------------------------------------------------------------*/

body.login {
  text-align: center;
  vertical-align: middle;
  background-color: #285069;
  background-image: none;
}

body.login.screenshotmode div#login {
  background-image: url("");
}

body.login {
  div#login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 770px;
    height: 605px;
    margin: auto;

    #version::before {
      position: absolute;
      top: 16px;
      left: -138px;
      width: 200px;
      height: 42px;
      background-image: url("images/mk-logo.png");
      background-position: 16px center;
      background-repeat: no-repeat;
      background-size: auto 42px;
      content: " ";
    }
  }

  #login_window {
    position: relative;
    top: 187px;
    left: 10px;
    width: 355px;
    height: 225px;
    margin: -30px auto 10px;
    background-color: rgb(73, 138, 166);
    border: 1px solid rgb(73, 138, 166);
    border-radius: 15px;
    box-shadow: 0 0 1px #fff inset;
  }

  label {
    color: #fff;
  }

  #version {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 150px;
    font-size: 11px;
    color: #fff;
    text-align: right;
  }

  #label_user, #label_pass {
    left: 55px;
  }

  #input_user, #input_pass {
    left: 120px;
  }

  #label_user {
    position: absolute;
    top: 95px;
  }

  #input_user {
    position: absolute;
    top: 90px;
  }

  #label_pass {
    position: absolute;
    top: 135px;
  }

  #input_pass {
    position: absolute;
    top: 130px;
  }

  #input_user, #input_pass {
    width: 150px;
    height: 17px;
    padding: 3px 5px;
    background-image: url("images/login_input_normal.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
  }

  .inputerror #input_user, .inputerror #input_pass {
    background-image: url("images/login_input_error.png");
    background-repeat: no-repeat;
  }

  #_login {
    position: absolute;
    right: 140px;
    bottom: 30px;
  }

  #login_error {
    position: absolute;
    bottom: 15px;
    left: 105px;
    z-index: 100;
    width: 180px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-image: url("images/login_error_message.png");
    background-repeat: no-repeat;
    border: none;
  }

  #login_error div.error {
    padding: 8px 0 0;
    margin: 0;
    color: #000;
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    box-shadow: 0 0 0;
  }

  #foot {
    position: relative;
    top: 187px;
    left: 10px;
    width: 350px;
    margin: 0 auto 10px;
    font-size: 11px;
    color: #fff;
    text-align: center;
  }

  #foot a, #foot a:hover {
    color: #fff;
  }
}
