/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
ails.  You should have  received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.

*/

/*-------------------------------------------------------------------------.
|                 ____  _     _      _                                     |
|                / ___|(_) __| | ___| |__   __ _ _ __                      |
|                \___ \| |/ _` |/ _ \ '_ \ / _` | '__|                     |
|                 ___) | | (_| |  __/ |_) | (_| | |                        |
|                |____/|_|\__,_|\___|_.__/ \__,_|_|                        |
|                                                                          |
+--------------------------------------------------------------------------+
| Styling for the sidebar and its snapins.                                 |
'-------------------------------------------------------------------------*/

body.side {
    background-image: url("images/sidebar_background.jpg");
    padding: 0;
    width: 280px;
    height: 100%;
    overflow:hidden;
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    margin: 0px;
}

body.side.screenshotmode {
    background-image: url("");
}

/* Top logo part */
#side_header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 274px;
    height: 49px;
    z-index: 10;

    border: 1px solid #264755;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.50);
    background: #498aa6;
}

#side_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 271px;
    height: 46px;
    z-index: 10;
    background-image: url(images/sidebar_top.png);
    background-size: contain;
}

#side_header > a {
    display: block;
    width: 255px;
    height: 55px;
    text-decoration: none;
    margin-left: 10px; /* space for sidebar folding */
}

#side_fold {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 100%;
    z-index: 15;
    cursor: pointer;
}

#side_fold:hover {
    background-repeat: no-repeat;
    background-position: 5% 65%;
    background-image: url("images/side_fold.png");
}

#side_version {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 54;
    color: #fff;
    text-align: right;
    font-size: 8pt;
    max-width: 150px;
}

#side_version a  {
    text-decoration: none;
}

#side_version a:hover  {
    text-decoration: underline;
}

#side_version span.unack_werks {
    z-index: 15;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    right: -12px;
    top: 5px;
}

/* Scrolling part with snapins */
#side_content {
    z-index: 5;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: #000000;
    position: absolute;
    top: 50px;
}

#side_content.scroll {
    overflow-y: scroll;
}

/* The footer of the sidebar */
#side_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 38px;
    width: 274px;
    z-index: 10;
    margin: 0;

    border-color: #86b1c4 #264755;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.50);
    background: #498aa6;
}

#side_footer img.iconbutton {
    position: relative;
    top: 4px;
    left: 9px;
    margin-right: 5px;
    width: 27px;
    height: 27px;
    padding: 0;

    background-color: #498aa6;
    border-width: 1px;
    border-style: solid;
    border-color: #22404d;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 1px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
    font-size: 7pt;
    border-radius: 5px;
}

#side_footer div.copyright {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align: right;
}

#side_footer a {
    color: #eee;
}

#side_footer a:hover {
    color: #fff;
}

/* General layout of snapins */
div.snapin {
    padding: 0;
    overflow: hidden;
    border-color: #8ab1c0 #294753 #294753 #8ab1c0;
    border-width: 1px;
    border-style: solid;
    width: 248px;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.50);
    background: #508aa1;
}

div.snapin:last-child {
    margin-bottom: 10px;
}

/* Header of the snapin */
div.snapin div.head {
    background-color: #6da1b8;
    text-align: center;
    color: #fff;
    height: 20px;
    line-height: 20px;
}

div.snapin div.head b {
    font-weight: normal;
}

/* close button on header */
div.snapin div.closesnapin {
    float: right;
    margin-right: 6px;
    margin-top: 6px;
    line-height: 0px;
    height: 8px;
    width: 8px;
    padding: 0;
}

div.snapin div.closesnapin img {
    width: 8px;
    height: 8px;
}

div.snapin div.minisnapin {
    float: left;
    margin-left: 6px;
    margin-top: 6px;
    line-height: 0px;
    height: 8px;
    width: 8px;
    cursor: pointer;
    background-image: url("images/icon_minisnapin.png");
}

div.snapin div.head.closed div.minisnapin {
    background-image: url("images/icon_maxisnapin.png");
}

div.snapin div.content {
    padding: 10px;
    width: 228px;
    color: #fff;
}

div.snapin select {
    background-color: #6da1b8;
    color: #fff;
    border-color: #123a4a;
    font-size: 8pt;
}

/*
 * General styles for snapin contents
 */

div.snapin .content_center {
    margin-left:  auto;
    margin-right: auto;
}

div.snapin td {
    color: #fff;
}

div.snapin h3 {
    margin: 2px 0px;
    color: #fff;
    font-size: 100%;
}

div.snapin li {
    padding-left: 1px;
    color: #274750;
    color: #478;
}

/* Normal link in snapins */
div.snapin a {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}

div.snapin a:hover {
    text-decoration: underline;
    color: #fff;
}

div.snapin ul {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    /* width: 220px; Bei mehrstufigen Einrueckungen stimmt der rechte Rand nicht */
}

div.snapin li.sidebar {
    margin-left: 0;
    margin-left: 0;
}

div.snapin a.iconlink img {
    margin-right: 8px;
}

div.snapin div.footnote {
    width: 100%;
    text-align: right;
}

/* Style for exceptions displayed in snapins */
div.snapin div.snapinexception {
    background-color: #f88;
    border-radius: 4px;
    padding: 3px;
    border: 1px solid #f00;
    width: 220px;
}

div.snapin div.snapinexception h2 {
    font-size: 9pt;
    color: #f00;
    margin-top: 0px;
}

div.snapin div.snapinexception p {
    color: #800;
}

/* The right-aligned link at the bottom of some snapins like the "views" snapin. */
div.snapin div.footnotelink {
    margin-top: 5px;
    text-align: right;
}

div.snapin div.footnotelink a {
    background-color: #497e95;
    border-width: 1px;
    border-style: solid;
    border-color: #86a9b8 #22404d #22414d #86a9b8;
    box-shadow: 0 0 1.5px #000;
    font-size: 7pt;
    border-radius: 5px;
    padding: 2px 6px;
    margin-left: 5px;
}

div.snapin div.footnotelink a:hover {
    background-color: #6da1b8;
    text-decoration: none;
}
div.snapin div.footnotelink a:active {
    border-color:  #22414d #86a9b8 #86a9b8 #22404d;
    background-color: #3b6678;
    box-shadow: inset 0 0 0.5px #444444;
}

/* Small iconbutton (e.g. at bookmarks) */
div.snapin img.iconbutton {
    margin: 0px 2px 0px 0px;
    border: none;
    width: 10px;
    height: 10px;
}

div.snapin img.iconbutton:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

div.snapin img.iconbutton.bookmark {
    width:  16px;
    height: 16px;
    margin: 0px -1px;
}

/* state bullets at problem host or all hosts snapin */
div.snapin div.statebullet {
    margin-left: 0;
    margin-right: 6px;
    width: 10px;
    height: 10px;
    border: 1px solid #123a4a;
    float: left;
    box-shadow: 0px 0px 1px #123a4a;
}

div#snapinDragIndicator {
  height:            1.5px;
  line-height:       1px;
  font-size:         1px;
  width:             247px;
  background-color:  #fff;
  margin:            0px 0px 0px 11px;
  border-radius:     3px;
  box-shadow:        0px 0px 3px #fff;
  position:          relative;
  top:               2px;
}


/*-------------------------------------------------------------------------.
|          _       _     _                         _                       |
|         / \   __| | __| |  ___ _ __   __ _ _ __ (_)_ __  ___             |
|        / _ \ / _` |/ _` | / __| '_ \ / _` | '_ \| | '_ \/ __|            |
|       / ___ \ (_| | (_| | \__ \ | | | (_| | |_) | | | | \__ \            |
|      /_/   \_\__,_|\__,_| |___/_| |_|\__,_| .__/|_|_| |_|___/            |
|                                           |_|                            |
+--------------------------------------------------------------------------+
| Style for the page where you can add new snapins to the sidebar.         |
'-------------------------------------------------------------------------*/


div.add_snapin div.snapinadder {
    padding: 8px 2px 14px 2px;
    background-color: #478;
    border-radius: 5px;
    border-bottom: 1px solid #9ab;
    border-right: 1px solid #89a;
    height: 220px;
    width: 270px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    box-shadow: 1px 1px 5px #000;
    border-style: solid;
    border-width: 1px;
    border-color: #9bc #245 #245 #9bc;
}
div.add_snapin div.snapinadder:hover {
    background-color: #69a;
    box-shadow: 0px 0px 10px #fff;
    border-color: #fff; /* #9bc #9bc #fff; */
    position: relative;
}

div.add_snapin div.snapinadder div.description {
    color: #fff;
    padding: 10px;
}
div.add_snapin div.snapin_preview div.clickshield {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 270px;
    height: 120px;
}

div.add_snapin div.snapin_preview {
    width: 270px;
    height: 120px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}

/*-Popup Msg-----------------------------------------------------------.
|           ____                           __  __                      |
|          |  _ \ ___  _ __  _   _ _ __   |  \/  |___  __ _            |
|          | |_) / _ \| '_ \| | | | '_ \  | |\/| / __|/ _` |           |
|          |  __/ (_) | |_) | |_| | |_) | | |  | \__ \ (_| |           |
|          |_|   \___/| .__/ \__,_| .__/  |_|  |_|___/\__, |           |
|                     |_|         |_|                 |___/            |
+----------------------------------------------------------------------+
| Popup message rendering                                              |
'---------------------------------------------------------------------*/

div.popup_msg {
    position:absolute;
    bottom: 35px;
    left: 20px;
    width: 200px;
    padding: 3px;

    background-color: #244452;
}

div.popup_msg .close {
    display: block;
    float: right;
}

span#msg_label {
    z-index: 15;

    background-color: #fff;
    color: #ff0000;
    padding: 1px;
    position: relative;
    border-radius: 5px;
}
