/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
tails.  You should have received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/

/*
 * Bookmarks snapin
 */
div.bookmark {
  width: 230px;
  max-width: 230px;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * Custom links snapin
 */
#snapin_custom_links {
  div.sublist {
    padding-left: 10px;
  }

  img {
    margin-right: 5px;

    &.icon {
      width: 16px;
      height: 16px;
    }
  }
}

/*
 * Host matrix snapin
 */
table.hostmatrix {
  border-spacing: 0;

  tr {
    padding: 0;
    border-spacing: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
  }

  td {
    padding: 0;
    border: 1px solid #123a4a;
    border-spacing: 0;
  }
}

/*
 * Hosts snapin
 */
.snapin table.allhosts {
  width: 100%;

  td {
    width: 50%;
    padding: 0;
  }
}

/*
 * Master control snapin
 */
div.snapin table.master_control {
  width: 100%;
  margin: 0;
  border-spacing: 0;

  td {
    div.toggle_switch {
      float: right;
    }

    &.left {
      text-align: left;

      a {
        font-size: 11px;
        font-weight: normal;
        text-align: left;
      }
    }

    /* TODO: Reproduce this html element */
    img.iconbutton {
      width: 60px;
      height: 16px;
    }
  }
}

/*
 * Event console performance snapin (mkeventd)
 */
table.mkeventd_performance {
  width: 228px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(0, 0,   0, 0.3);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &:nth-of-type(2) {
      padding: 0;
      padding-right: 1px;
      font-weight: bold;
      text-align: right;
      white-space: nowrap;
    }
  }
}

#snapin_mkeventd_performance select {
  margin-bottom: 2px;
}

/*
 * NagVis maps snapin
 */
div.state1 {
  &.statea, &.stated {
    border-color: #ff0;
  }
}

div.state2 {
  &.statea, &.stated {
    border-color: #f00;
  }
}

div.statea, div.stated {
  background-color: #0b3;
}

/*
 * Performance snapin
 */
#snapin_performance select {
  margin-bottom: 2px;
}

table.performance {
  width: 228px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &.right {
      padding: 0;
      padding-right: 1px;
      text-align: right;
      white-space: nowrap;
    }
  }
}

/*
 * Server time snapin
 */
#snapin_time div.time {
  width: 228px;
  font-size: 24px;
  font-weight: bold;
  color: #aff;
  text-align: center;
  background-color: #588;
  /* The border needs to be substracted from the width */
  border: 1px solid #8cc;
  -moz-border-radius: 10px;
}

/*
 * Site status snapin
 */
table.sitestate {
  width: 230px;

  td {
    padding: 1px 0;
    text-align: right;

    &.left {
      text-align: left;

      a {
        font-weight: normal;
        text-align: left;
      }
    }

    &.state {
      width: 60px;
      font-size: 9px;
    }
  }
}

/* TODO: Reproduce this html element */
div.snapin table.sitestate td img.iconbutton {
  width: 60px;
  height: 16px;
}

/*
 * Speedometer snapin
 */
div.speedometer {
  position: relative;
  top: 0;
  left: 0;
  height: 223px;
}

img#speedometerbg, canvas#speedometer {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * Tactical overview snapin
 */
table.tacticaloverview {
  width: 230px;
  margin-top: -7px;
  border-collapse: separate;

  th {
    padding: 0;
    padding-top: 2px;
    font-size: 11px;
    font-weight: normal;
    line-height: 9px;
    color: #123a4a;
    text-align: left;
    vertical-align: bottom;
  }

  td {
    height: 14px;
    padding: 0;
    text-align: right;
    background-color: #6da1b8;

    &.prob {
      box-shadow: 0 0 4px #ffd000;
    }

    &.col3 {
      width: 33%;
    }

    &.col4 {
      width: 25%;
    }
  }

  a {
    display: block;
    margin-right: 2px;
  }
}

div.tacticalalert {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  background-color: #f50;
  box-shadow: 0 0 4px #ffd000;
}

div.spacertop {
  padding-top: 5px;
}

#snapin_tactical_overview img {
  position: relative;
  top: -1px;
  width: 15px;
  height: auto;
}

/*
 * Virtual host tree snapin
 */
#snapin_tag_tree {
  position: relative;
  top: 0;
  left: 0;

  select {
    float: right;
    margin-top: -2px;
    margin-bottom: 2px;
    font-size: 11px;
  }

  /* TODO: Reproduce this html element */
  form img.iconbutton {
    display: inline-box;
    float: right;
    width: 16px;
    height: 16px;
  }

  div.tag_tree {
    clear: both;
  }

  div.statebullet {
    position: relative;
    top: 3px;
    left: 1px;
    display: inline-block;
    float: none;
    width: 8px;
    height: 8px;
    margin-right: 0;
    box-shadow: 0 0 0.7px #284850;
  }

  ul > div.statebullet.leaf {
    margin-left: 16px;
  }

  b {
    font-weight: normal;
  }

  p {
    margin: 0;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*
 * Admin mini snapin (WATO)
 */
#snapin_admin_mini {
  padding-top: 6px;
  clear: right;

  img {
    position: relative;
    left: 3px;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 3.9px;
    margin-bottom: 4px;
  }

  div.footnotelink {
    float: right;
  }

  div.clear {
    clear: right;
  }
}

/*
 * WATO folder tree snapin
 */
#snapin_wato_foldertree table {
  width: 100%;
  border-spacing: 0;

  td {
    vertical-align: baseline;

    &.label {
      width: 1px;
    }
  }
}

/*
 * Wiki snapin
 */
#snapin_container_wiki div.content {
    font-weight: bold;
    color: white;

    p {
        font-weight: normal;
    }
}

#wiki_navigation {
    text-align: left;
}

#wiki_search {
    width: 232px;
    padding: 0;

    img.iconbutton {
        width: 33px;
        height: 26px;
        margin-top: -25px;
        left: 196px;
        float: left;
        position: relative;
        z-index:100;
    }

    input {
        margin:  0;
        padding: 0px 5px;
        font-size: 8pt;
        width: 194px;
        height: 25px;
        background-image: url(images/quicksearch_field_bg.png);
        background-repeat: no-repeat;
        -moz-border-radius: 0px;
        border-style: none;
        float: left;
    }
}

#wiki_side_clear {
    clear: both;
}

/*
 * Quicksearch snapin
 */
#mk_side_search {
    width: 232px;
    padding: 0;

    img.iconbutton {
        width: 33px;
        height: 26px;
        margin-top: -25px;
        left: 196px;
        float: left;
        position: relative;
        z-index:100;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */

        &:hover {
            filter: grayscale(20%);
            -webkit-filter: grayscale(20%);
            -moz-filter: grayscale(20%);
            -ms-filter: grayscale(20%);
            -o-filter: grayscale(20%);
        }
    }

    input {
        margin:  0;
        padding: 0px 5px;
        font-size: 8pt;
        width: 194px;
        height: 25px;
        background-image: url(images/quicksearch_field_bg.png);
        background-repeat: no-repeat;
        -moz-border-radius: 0px;
        border-style: none;
        float: left;
    }

    div.topic {
        font-size: 125%;
        margin-top:  3px;
        margin-left:  2px;
    }
}

#mk_side_clear {
    clear: both;
}

#mk_search_results {
    position: relative;
    float:left;
    border: 1px solid white;
    background-color: #DFDFDF;
    color: #000;
    font-size: 80%;
    width: 223px;

    a {
        display: block;
        color: #000;
        text-decoration: none;
        text-align: left;
        padding-left: 5px;
        width: 217px;

        &:hover, &.active {
            background-color: #BFBFBF;
        }
    }

    div.error {
        padding: 2px;
        font-size: 9pt;
    }

    div.warning {
        padding: 2px;
        font-size: 9pt;
    }
}

/*
 * Micro Core Stats (CMC) snapin
 */
#snapin_cmc_stats {
    color: white;

  select {
    margin-bottom: 2px;
  }
}

table.cmc_stats {
  width: 228px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 2px;

  td {
    padding: 0 2px;
    font-size: 11px;

    &.right {
      padding: 0;
      padding-right: 1px;
      text-align: right;
      white-space: nowrap;
    }
  }
}

/*
 * Reports snapin
 */
#snapin_reports {
  i {
    color: #000;
  }

  input {
    padding: 3px;
    font-size: 9px;
    text-align: center;
  }

  div.timerange {
    margin-bottom: 10px;
    color: #fff;

    table {
      display: inline-block;

      td {
	font-size: 11px;

	&.tuple_td:nth-of-type(2) {
	  padding-left: 8px;
	}

	&.tuple_left {
	  padding-right: 4px;
	}
      }

      span.title {
        padding: 0;
      }
    }
  }

  select {
    float: left;
    width: 230px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

/*
 * Snapin dashlets in dashboard
 */
body.main {
  #side_content {
    top: 0;
    height: auto;
    padding-top: 4px;
    padding-left: 4px;
  }

  div.snapin:last-child {
    margin-bottom: 0;
  }

  div.snapin div.content {
    background-color: #508aa1;
    background-image: none;
  }

  div.snapin {
    padding: 0;
    margin: 0;
  }

  body.side {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
