*.log
.*.swp
.config
.modulebuildrc
.werks/.last
.werks/.my_ids
.werks/werks
ChangeLog
build-stamp
debian/changelog
destdir
dpkg.topdir
omd-*-*.rpm
omd-*.deb
omd-*.tar.gz
omd.spec
patch-stamp
rpm.buildroot
rpm.topdir
build/
bill-of-materials.json
