*.log
.*.swp
.config
.modulebuildrc
.werks/.last
.werks/.my_ids
.werks/werks
ChangeLog
Python-[23].[0-9].[0-9]*/
boost_[0-9]_[0-9][0-9]_[0-9]/
build-stamp
debian/changelog
destdir
dpkg.topdir
freetds-[0-9].[0-9][0-9].[0-9][0-9]/
mk-livestatus-1.7.0i1/
omd-*-*.rpm
omd-*.deb
omd-*.tar.gz
omd.spec
openhardwaremonitor-[0-9].[0-9].[0-9]/
patch-stamp
python*-modules-1.[67].0i1.cme/
re2-20[12][0-9]-[01][0-9]-[0-3][0-9]/
rpm.buildroot
rpm.topdir
rrdtool-1.7.1/
build/
