omd-*.tar.gz
omd-*.deb
destdir
rpm.topdir
dpkg.topdir
omd.spec
.*.swp
rpm.buildroot
omd-*-*.rpm
build-stamp
patch-stamp
.config
*.log
debian/changelog
.werks/.last
.werks/.my_ids
.werks/werks
ChangeLog
