[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
colorama = "*"    # Windows has to have some color output
pyyaml = "*"      # to support the agent config (6.0.2 ships cp313-win_amd64 wheels)
certifi = "*" # jolokia
chardet = "*"     # jolokia
idna = "*"          # jolokia
requests = {extras = ["socks"], version = "*"}   # jolokia, cmk_update_agent
urllib3 = "*"     # jolokia
cryptography = "*"    # cmk_update_agent
pywin32 = "*"       # logwatch

[requires]
python_version = "3.14"
