# systemd service definition file
[Unit]
Description=Check_MK

[Service]
# "-" path prefix makes systemd record the exit code,
# but the unit is not set to failed.
ExecStart=-/usr/bin/check_mk_agent
Type=forking

User=root
Group=root

StandardInput=socket
