# created by ansible script
all_hosts += [ "{{cmk_site}}", ]

host_tags.update({'{{cmk_site}}': {
    'piggyback': 'auto-piggyback',
    'networking': 'lan',
    'agent': 'cmk-agent',
    'criticality': 'prod',
    'snmp_ds': 'no-snmp',
    'ip-v4': 'ip-v4',
    'site': '{{cmk_site}}',
    'tcp': 'tcp',
    'address_family': 'ip-v4-only',
}})

host_attributes.update({'{{cmk_site}}': {'ipaddress': '127.0.0.1'}})
ipaddresses['{{cmk_site}}'] = '127.0.0.1'