This is a hack. Since omd needs version numbering in the package name,
debian/changelog will be created from scratch every time. If you are
interested in what's happened have a look at gitweb at
http://git.mathias-kettner.de/
