html { 
}

body { 
  padding: 1em;
  background-color: #eee;
}

div.title { 
  font-size: 200%;
  font-weight: bold;
  border: 1px solid #ff0;
  width: 660px;
  background-color: #ff8;
  text-align: center;
  padding: 20px;
  color: #f80;
  margin-bottom: 1ex;
  font-style: italic;
}

div.subtitle { 
  text-align: right;
  font-style: italic;
  width: 700px;
  margin-bottom: 2em;
}


div.logo { 
  text-align: right;
  width: 700px;
}

div.logo img { 
  border: none;
}

h1 { 
  color: #000;
  text-align: left;
  font-size: 180%;
}

h2 { 
  color: #008;
  text-decoration: underline;
}


h2, h3 { 
    font-style: italic;
}

p { 
  text-align: justify;
  width: 700px;
}

ul { 
  padding-left: 50px;
  margin-left: 0px;
}

ul li { 
  margin-left: 0px;
  margin-bottom: 0.8ex;
  width: 650px;
}

ul pre { 
  width: 630px;
}

tt { 
  color: #840;
  font-weight: bold;
  font-family: lucida console, courier new, courier, monospace;
}

pre { 
  background-color: #ccf;
  padding: 10px;
  border: 1px solid #888;
  width: 680px;
}

pre em { 
  background-color: #ff4;
  font-weight: bold;
  font-style: normal;
  color: black;
}

div.footnote { 
  position:absolute;
  left: 750px;
  width: 15em;
  color: #008;
  background-color: #fff;
  border: 1px dotted #888;
  padding: 0.5ex;
  text-align: left;
  font-size: 90%;
}

em { 
  color: #c00;
}

b.ok { 
  color: green;
}
b.warn { 
  color: #f80;
}
