Source: check-mk
Section: net
Priority: optional
Maintainer: Mathias Kettner <mk@mathias-kettner.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://mathias-kettner.de/check_mk

Package: check-mk
Architecture: all
Depends: python
Recommends: nagios3
Description: Remote monitorin addon for Nagios
 check_mk is a general purpose Nagios-plugin for retrieving data. It
 adopts a new approach for collecting data from operating systems and
 network components. It obsoletes NRPE, check_by_ssh, NSClient, and
 check_snmp and it has many benefits, the most important of which are
 significant reduction of CPU usage on the Nagios host and automatic
 inventory of items to be checked on hosts. The larger your Nagios
 installation is, the more helpful these improvements.

