#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	DESTDIR=$(CURDIR)/debian/check-mk \
	  nagconfdir=/etc/nagios3/conf.d \
	  docdir=/usr/share/doc/check-mk \
	  checkmandir=/usr/share/doc/check-mk/checkman \
	  htdocsdir=/usr/share/nagios3/htdocs \
	  pnptemplates=/usr/share/nagios3/htdocs/pnp/templates \
	  nagpipe=/var/lib/nagios3/rw/nagios.cmd \
	  nagiosurl=/nagios3 \
	  cgiurl=/cgi-bin/nagios3 \
	  check_icmp_path=/usr/lib/nagios/plugins/check_icmp \
	  www_group=www-data \
	  nagios_binary=/usr/sbin/nagios3 \
	  nagios_startscript=/etc/init.d/nagios3 \
	  nagios_config_file=/etc/nagios3/nagios.cfg \
	  ./setup.sh
	ln -sfn check-mk $(CURDIR)/debian/check-mk/usr/share/doc/check_mk
	rm -f $(CURDIR)/debian/check-mk/etc/check_mk/*.{mk,cfg}-*


binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
#	dh_link
#	dh_strip
#	dh_compress
#	dh_fixperms
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
