<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1607" />
    <add key="mainForm.Location.Y" value="760" />
    <add key="mainForm.Width" value="802" />
    <add key="mainForm.Height" value="1123" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAGP+enDjyqhrHgwMDa55IT1MSgwgcOD/FyERRjATKP5o2REWGBsA43nZjDAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAGP+enDjyqhrHgwM05zyQnqYlBhA4MD/L0IijGAmUPzRsiMsMDYAabJ29zAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAGP+enDjyqhrHgwB1a55IT1MSgwgcOD/FyERRjATKP5o2REWGBsAzFlLqzAAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAGP+enDjyqhrHgwJr+zzQnqYlBhA4MD/L0IijGAmUPzRsiMsMDYAx3W6UTAAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPty9uDGlVHXPBgYHByjQnuYlBhA4MD/L0IijGAmg4/jrvQUJgYo0LRPgLMBYIJ2TTwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPtgELlpZdQ1j12SRo5Ki7MZlRhA4MB/q9WmTCBWlvFnhwzFJDBbJOizw9UFEHaO3WcHAPG1gFA8AAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPtgELlpZdQ1j8/XlzgqLc5mVGIAgQP/rVabMoFY38QPOmYoJoHZ3gIHHa8ugLBNRQ86AgA58sSlPAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPtgELlpZdQ1D5NbjU5Ki7MZlRhA4MB/q9WmTCCWmPQMpwzFJDCbR3SG09UFEPYriRlOAP7i+IU8AAAA" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEADs698DGlVHXPPT/XrKX/vqXUYkBBA78T1q8mBHEenJiiqOacwoTiN01V89hb3ICmM3AMM0eAJ4MmVw8AAAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEADs698DGlVHXPE6tWGov/fUvoxIDCBz4n7R4MSOI5WM2yVHNOYUJxL7TyeGwNzkBzK686GEPAArxS1E8AAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADs698DGlVHXPNijpjhIf/3LqMQAAgf+Jy1ezAhifXu9wFHNOYUJxFb71uSwNzkBzFY4Pc0eAM78do48AAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADs698DGlVHXPPZ9Oebw9dxfRiUGEDjwv+PkYkYQa+3+u45qzilMIPa7lqkOe5MTwOzDBuIOAPOglnk8AAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADs698DGlVHXPEKKKx2+nvvLqMQAAgf+d5xczAhiOSuxOKk5pzCB2OrfLjnsTU4AsxU9wxwAxRbUTzwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFOpOLBxZdQ1DwG9tY7TvvxlVGIAgQP/Zy5ezAhiaRW8chTNTGECsW96ajnuTU4As9se2joAANBCD7c8AAAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADs698DGlVHXPDZdvOjw9dxfRiUGEDjwv+PkYkYQ6w3/EUc15xQmELt85hKHvckJYHbDn9/2ANphsUQ8AAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>