interactions:
- request:
    body: '{"werk": {"title": "some_cloud_title", "date": "2025-09-22T12:06:54Z",
      "level": "1", "versions": ["0.1.0"], "werk_class": "feature", "component": "ccc",
      "compatible": true, "werk_text": "\n"}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"09a4e30e-69f2-47d4-ad68-db142cb1a3be","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":3,"user_impact_clarity_score":1,"paragraph_division_score":1,"non_compatible_werk_score":null,"english_style_score":1},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"No
        improvements necessary.","user_impact_clarity_suggestions_to_improve_text":"Add
        a clear description of the change, including what users will experience differently,
        whether any action is needed from them, and how this change affects their
        daily use of Checkmk.","paragraph_division_suggestions_to_improve_text":"Divide
        the text into multiple paragraphs to separate distinct concepts. For example:
        1. Describe the initial problem with storing values that do not match the
        \"value_raw\" field. 2. Explain the validation and migration process and how
        it could lead to issues. 3. Provide the example with the diskstat_inventory
        rule. 4. Detail the fix implemented to ensure correct rule data persistence.
        5. List the conditions under which existing invalid data will be fixed. This
        structure improves readability and makes the changelog easier to scan.","non_compatible_werk_suggestions_to_improve_text":null,"english_style_suggestions_to_improve_text":"Provide
        the werk text to enable evaluation and improvement suggestions."}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"werk": {"title": "some_cloud_title", "date": "2025-09-22T12:06:54Z",
      "level": "1", "versions": ["0.1.0"], "werk_class": "feature", "component": "ccc",
      "compatible": true, "werk_text": "\n"}, "evaluation": {"aggregated_scores":
      {"grammar_score": 3, "user_impact_clarity_score": 1, "paragraph_division_score":
      1, "non_compatible_werk_score": null, "english_style_score": 1}, "aggregated_suggestions":
      {"grammar_suggestions_to_improve_text": "No improvements necessary.", "user_impact_clarity_suggestions_to_improve_text":
      "Add a clear description of the change, including what users will experience
      differently, whether any action is needed from them, and how this change affects
      their daily use of Checkmk.", "paragraph_division_suggestions_to_improve_text":
      "Divide the text into multiple paragraphs to separate distinct concepts. For
      example: 1. Describe the initial problem with storing values that do not match
      the \"value_raw\" field. 2. Explain the validation and migration process and
      how it could lead to issues. 3. Provide the example with the diskstat_inventory
      rule. 4. Detail the fix implemented to ensure correct rule data persistence.
      5. List the conditions under which existing invalid data will be fixed. This
      structure improves readability and makes the changelog easier to scan.", "non_compatible_werk_suggestions_to_improve_text":
      null, "english_style_suggestions_to_improve_text": "Provide the werk text to
      enable evaluation and improvement suggestions."}}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/generate/rewrite
  response:
    body:
      string: '{"user_id":"werk-tool-v1.0.0","request_id":"43d67aee-3e05-4a8d-8b43-f144a3d47799","response_datetime":"2025-09-18T13:42:57.106799Z","rewritten_text":"Previously,
        Checkmk stored rule values that did not match the expected \"value_raw\" field
        format without validation. During the upgrade process, a validation and migration
        step was introduced to ensure that all rule values conform to the correct
        format. However, this migration could cause issues if existing rule data was
        invalid or inconsistent.\n\nFor example, the diskstat_inventory rule was affected
        by this problem, where some stored values did[...]
