interactions:
- request:
    body: '{"werk": {"title": "some_title", "date": "2025-09-22T12:06:40Z", "level":
      "1", "versions": ["0.1.0"], "werk_class": "feature", "component": "ccc", "compatible":
      true, "werk_text": "\n"}}'
    headers:
      content-type:
      - application/json
      user-id:
      - cli_user
    method: POST
    uri: http://meisterwerk.lan.checkmk.net/werks/evaluate/werk
  response:
    body:
      string: '{"user_id":"python-httpx/0.28.1","request_id":"f3bd2648-acba-4d6b-b6f2-771c057eca56","response_datetime":"2025-09-18T13:42:57.106284Z","evaluation":{"aggregated_scores":{"grammar_score":1,"user_impact_clarity_score":1,"paragraph_division_score":1,"non_compatible_werk_score":null,"english_style_score":1},"aggregated_suggestions":{"grammar_suggestions_to_improve_text":"Correct
        any grammar, spelling, and punctuation errors to ensure clarity and professionalism.","user_impact_clarity_suggestions_to_improve_text":"Clarify
        how this library change affects users by explaining if it fixes bugs, improves
        performance, changes behavior, or requires user actions such as configuration
        updates or restarts.","paragraph_division_suggestions_to_improve_text":"Divide
        the text into multiple paragraphs as follows: 1. Describe the initial problem
        with storing values that do not match the \"value_raw\" field. 2. Explain
        the validation and migration process and how it could lead to issues. 3. Provide
        the example with the diskstat_inventory rule. 4. Detail the fix implemented
        to ensure correct rule data persistence. 5. List the user actions required
        to fix existing invalid data. Use short transition phrases such as \"For example,\"
        \"As of this fix,\" and \"If you used the REST API\" to guide the reader through
        the concepts.","non_compatible_werk_suggestions_to_improve_text":null,"english_style_suggestions_to_improve_text":"Improve
        the English style by using clear, concise sentences and active voice to enhance
        readability and user comprehension."}}}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"werk": {"title": "some_title", "date": "2025-09-22T12:06:40Z", "level":
      "1", "versions": ["0.1.0"], "werk_class": "feature", "component": "ccc", "compatible":
      true, "werk_text": "\n"}, "evaluation": {"aggregated_scores": {"grammar_score":
      1, "user_impact_clarity_score": 1, "paragraph_division_score": 1, "non_compatible_werk_score":
      null, "english_style_score": 1}, "aggregated_suggestions": {"grammar_suggestions_to_improve_text":
      "Correct any [...]
