# ----------------------------------------------------------
#   ___  __  __ ____  
#  / _ \|  \/  |  _ \ 
# | | | | |\/| | | | |
# | |_| | |  | | |_| |
#  \___/|_|  |_|____/ 
#                     
# The following settings are managed by OMD. Do not change anything
# here. Things will get broken. Do not ask for support. Do not
# post on any mailinglist. You have been warned.

lock_file=###ROOT###/tmp/lock/nagios.lock
temp_file=###ROOT###/tmp/nagios/tmp.file
temp_path=###ROOT###/tmp/nagios/tmp
log_archive_path=###ROOT###/var/nagios/archive
check_result_path=###ROOT###/tmp/nagios/checkresults
state_retention_file=###ROOT###/var/nagios/retention.dat
debug_file=###ROOT###/var/nagios/debug.log
command_file=###ROOT###/tmp/run/nagios.cmd
log_file=###ROOT###/var/nagios/nagios.log
object_cache_file=###ROOT###/var/nagios/objects.cache
precached_object_file=###ROOT###/var/nagios/objects.precache
resource_file=###ROOT###/etc/nagios/resource.cfg
status_file=###ROOT###/tmp/nagios/status.dat
p1_file=###ROOT###/lib/nagios/p1.pl
cfg_dir=###ROOT###/etc/nagios/conf.d
nagios_user=###SITE###
nagios_group=###SITE###
