<!DOCTYPE html>
<html style="background-color: #EAEAEA;">
    <head>
        <title>HTML Email template</title>
    </head>
    <body>
        {% import 'macros.html' as macros %}
        {% set service_notification = data.WHAT == 'SERVICE' %}
        {% if service_notification %}
            {% set href = data.LINKEDSERVICEDESC.split('"')[1] %}
        {% else %}
            {% set href = data.LINKEDHOSTNAME.split('"')[1] %}
        {% endif %}
        <table
            id="mail_container"
            style="
                background-color: #ffffff;
                margin: 0 auto;
                width: 600px;
                padding: 20px;
                border: 1px solid #ccc;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            "
        >
            <tr>
                <td>
                    <div id="content_container">
                        <img
                            src="cid:checkmk_logo.png"
                            id="logo"
                            style="width: 110px; height: 30px;"
                        />

                        <hr style="width: 536px; border: 1px solid #e5e5e5;margin-left: 0;" />

                        {% if insert %}
                            <div
                                id="extra_section"
                                style="
                                    border: 1px solid #e5e5e5;
                                    width: 536px;
                                    border-radius: 4px 0 0 0;
                                    margin-top: 16px;
                                "
                            >
                                <div style="padding: 20px;">
                                    {{ insert|safe }}
                                </div>
                            </div>
                        {% endif %}

                        {% include 'summary.html' %}

                        <div
                            id="sections_container"
                            style="width: 536px; margin: 20px auto"
                        >
                            {% include 'event_overview.html' %}

                            {% if data.PARAMETER_ELEMENTSS and 'graph' in data.PARAMETER_ELEMENTSS.split() %}
                                {% include 'graph.html' %}
                            {% endif %}

                            {% if data.PARAMETER_ELEMENTSS %}
                                {% include 'additional.html' %}
                            {% endif %}

                            {% if data.PARAMETER_CONTACT_GROUPS %}
                                {% include 'contact_groups.html' %}
                            {% endif %}

                            {% if service_notification  and data.PARAMETER_SERVICE_LABEL%}
                                {% include 'service_labels.html' %}
                            {% endif %}

                            {% if data.PARAMETER_HOST_LABELS %}
                                {% include 'host_labels.html' %}
                            {% endif %}

                            {% if data.PARAMETER_HOST_TAGS %}
                                {% include 'host_tags.html' %}
                            {% endif %}

                            {% if href %}
                                {{ macros.view_issue_button(href) }}
                            {% endif %}

                        </div>
                    </div>
                </td>
            </tr>
        </table>
         <table class="footer" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td style="width: 536px;text-align: center;">
              <p style="color: #23496D">Checkmk GmbH, Kellerstraße 27, München, Bayern 81667, Germany, +49 89 998209700</p>
            </td>
          </tr>
        </table>
    </body>
</html>
