<!DOCTYPE html>
<div
    id="event_overview"
    style="width: 536px; margin-bottom: 20px"
>
    <p
        class="heading"
        style="
            font-size: 18px;
            font-weight: 600;
            margin: 0px;
        "
    >
        <img
            src="cid:overview.png"
            style="width: 18px; height: 19px"
        />
        Event overview
    </p>

    <table style="border-spacing: 0">
        <tr>
            <td
                {{
                macros.td_first_child(width="105px"
                )
                }}
            >
                Event date:
            </td>
            <td {{ macros.td_last_child() }}>
                {{ data.LONGDATETIME }}
            </td>
        </tr>
        <tr>
            <td
                {{
                macros.td_first_child(width="105px"
                )
                }}
            >
                Address:
            </td>
            <td {{ macros.td_last_child() }}>
                {{ data.HOSTADDRESS }}
            </td>
        </tr>
        <tr>
            <td
                {{
                macros.td_first_child(width="105px"
                )
                }}
            >
                Site:
            </td>
            <td {{ macros.td_last_child() }}>
                {{ data.OMD_SITE }}
            </td>
        </tr>
        <tr>
            <td
                {{
                macros.td_first_child(width="105px"
                )
                }}
            >
                Summary:
            </td>

            <td {{ macros.td_last_child() }}>
                {% if service_notification %}
                    {{ macros.replace_statemarker(data.SERVICEOUTPUT_HTML) }}
                {% else %}
                    {{ macros.replace_statemarker(data.HOSTOUTPUT_HTML) }}
                {%endif %}
            </td>
        </tr>
        {% if service_notification %}
            <tr>
                <td
                    {{
                    macros.td_first_child(width="105px"
                    )
                    }}
                >
                    Service details:
                </td>
            </tr>
            </table>
            <div
                class="service_details"
                style="background-color: #f6f6f6"
            >
                <p style="margin: 0px; padding: 10px 0 10px 10px">
                    {% if data.LONGSERVICEOUTPUT_HTML %}
                    {{ macros.replace_statemarker(data.LONGSERVICEOUTPUT_HTML) }}
                    {% else %} No details available {%
                    endif %}
                </p>
            </div>
        {% else %}
            </table>
    {% endif %}
</div>
