{% macro td_first_child(width, padding="0") %} style=" padding: {{ padding }};
font-size: 14px; color: #2c3844; font-weight: 600; width: {{ width }}; height:
33px;" {%endmacro %} {% macro td_last_child() %} style=" padding: 8px;
font-size: 14px; color: #2c3844; font-weight: 500;" {% endmacro %} {% macro
replace_statemarker(data) %} {% set default_style = 'margin-left: 2px;padding:
1px 3px;border-radius: 4px;font-size: 7pt;border: 1px solid #666;position:
relative;top: -1px;' %} {{ data | replace('(.)','<b
    style="'+default_style+'background-color: #ffff00; color: #000000"
    >OK</b
>') | replace('(!)', '<b
    style="'+default_style+'background-color: #ffff00; color: #000000"
    >WARN</b
>') | replace('(!!)', '<b
    style="'+default_style+'background-color: #ff0000; color: #ffffff"
    >CRIT</b
>') | replace('(?)', '<b
    style="'+default_style+'background-color: #ff8800; color: #ffffff"
    >UNKN</b
>') | safe }} {% endmacro %}

<!-- Service description -->
{% macro service_desc(service_description) %} {% import 'utils/styles.html' as
style_macros %}
<tr style="border-bottom: 1px solid #e5e5e5">
    <td {{ style_macros.td_first_child(width="80px" ,padding="8px" ) }}>
        Service:
    </td>
    <td {{ style_macros.td_last_child() }}>
        <a href="#" style="color: black">{{ service_description}}</a>
    </td>
</tr>
{% endmacro %}
