<!DOCTYPE html>
<div class="sl_container" style="width: 279px; margin-bottom: 20px">
    <p class="heading" style="font-size: 18px; font-weight: 600; margin: 0px">
        <img src="cid:label.png" style="width: 18px; height: 19px" />
        Service labels
    </p>
    {% set ns = namespace(has_labels = false) %} {% for key, value in data.items() %} {% if
    key.startswith('SERVICELABEL_')%} {% set ns.has_labels = true %}
    <div
        class="label"
        style="
            min-width: 50px;
            height: 24px;
            border-radius: 8px;
            background-color: #dcdcdc;
            display: inline-block;
            color: #2c3843;
            align-content: center;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            padding: 0 10px 0px 10px;
            margin: 10px 10px 0 0;
            line-height: 25px;
        "
    >
        {{ key[13:] }}:{{ value }}
    </div>
    {% endif %} {% endfor %} {% if not ns.has_labels %}
    <p style="margin-top: 10px;font-size: 14px;">No Service labels</p>
    {% endif %}
</div>
