# +------------------------------------------------------------------+
# |             ____ _               _        __  __ _  __           |
# |            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
# |           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
# |           | |___| | | |  __/ (__|   <    | |  | | . \            |
# |            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
# |                                                                  |
# | Copyright Mathias Kettner 2013             mk@mathias-kettner.de |
# +------------------------------------------------------------------+
#
# This file is part of Check_MK.
# The official homepage is at http://mathias-kettner.de/check_mk.
#
# check_mk is free software;  you can redistribute it and/or modify it
# under the  terms of the  GNU General Public License  as published by
# the Free Software Foundation in version 2.  check_mk is  distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
# out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
# PARTICULAR PURPOSE. See the  GNU General Public License for more de-
# ails.  You should have  received  a copy of the  GNU  General Public
# License along with GNU Make; see the file  COPYING.  If  not,  write
# to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
# Boston, MA 02110-1301 USA.

# sap.cfg - This file configures the agent plugin mk_sap. You can use
# this to configure connection settings monitoring data

# Settings to be used to connect to the SAP R/3 host.
cfg.update({
    'ashost':   'localhost',
    'sysnr':    '00',
    'client':   '100',
    'user':     'cmk-user',
    'passwd':   'secret-of-cmk-user',
    'trace':    '3',
    'loglevel': 'warn',
    'lang':     'EN',
})

# A list of strings, while the string must match the full path to one or
# several monitor objects. We use unix shell patterns during matching, so
# you can use several chars as placeholders:
#
# *      matches everything
# ?      matches any single character
# [seq]  matches any character in seq
# [!seq] matches any character not in seq
#
# The * matches the whole following string and does not end on next "/".
#
# Here some examples of monitor paths:
monitor_paths += [
    #'SAP BI Monitors/BI Monitor',
    #'SAP BI Monitors/BI Monitor/*/Oracle/Performance',
    #'SAP CCMS Monitor Templates/Operating System/OperatingSystem/CPU/*',
    #'SAP CCMS Monitor Templates/Operating System/OperatingSystem/CPU/CPU_Utilization',
    #'*',
]
