CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_ARCH_X86=y
CT_ARCH_64=y
CT_TARGET_VENDOR="checkmk"
CT_KERNEL_LINUX=y
CT_LINUX_V_4_18=y
# CT_KERNEL_LINUX_INSTALL_CHECK is not set
CT_BINUTILS_V_2_45=y
CT_GLIBC_V_2_28=y
CT_GCC_V_14=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_CROSS_STATIC=y
