[project]
name = "cmk-mkp-tool"
# Keep in sync with `cmk.mkp_tool.__version__.__version__`
version = "3.0.0"
dynamic = ["dependencies"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt"] }

[tool.setuptools.package-data]
"cmk.mkp_tool" = ["py.typed"]

[tool.bandit]
