title: Rittal CMC-II Units: Configuration
agents: snmp
catalog: hw/environment/rittal
license: GPL
distribution: check_mk
description:
 This check monitors the configuration of Rittal CMC-II devices
 and has always the state OK. Information for the web access,
 setup of the alarm beeper, alarm acknowledgement settings,
 alarm relay logic in case of alarm, and the temperature unit
 are shown.

item:
 None

inventory:
 One check per host will be created.
