title: SSH Daemon Configuration: Parameters
agents: linux
catalog: app/sshd
license: GPLv2
distribution: check_mk
description:
 This check monitors security relevant parameters of the SSH
 daemon configuration file /etc/ssh/sshd_config.

 Expected values for the relevant parameters can be configured
 using the associated WATO rule.

 For this check the agent plugin mk_sshd_config needs to be
 installed.

discovery:
 One service is created for each system is created
 if the agent output has a section {<<<sshd_config>>>}.
