#
# PNP4Nagios 
#

define host {
   name                 host-pnp
   process_perf_data    1
   action_url           /###SITE###/pnp4nagios/index.php/graph?host=$HOSTNAME$&srv=_HOST_' class='tips' rel='/###SITE###/pnp4nagios/index.php/popup?host=$HOSTNAME$&srv=_HOST_
   register             0
}

define service {
   name                 srv-pnp
   process_perf_data    1
   action_url           /###SITE###/pnp4nagios/index.php/graph?host=$HOSTNAME$&srv=$SERVICEDESC$' class='tips' rel='/###SITE###/pnp4nagios/index.php/popup?host=$HOSTNAME$&srv=$SERVICEDESC$
   register             0
}

define command{
       command_name    omd-process-service-perfdata-file
       command_line    /bin/mv ###ROOT###/var/pnp4nagios/service-perfdata ###ROOT###/var/pnp4nagios/spool/service-perfdata.$TIMET$
}

define command{
       command_name    omd-process-host-perfdata-file
       command_line    /bin/mv ###ROOT###/var/pnp4nagios/host-perfdata ###ROOT###/var/pnp4nagios/spool/host-perfdata.$TIMET$
}

