/*
+------------------------------------------------------------------+
|             ____ _               _        __  __ _  __           |
|            / ___| |__   ___  ___| | __   |  \/  | |/ /           |
|           | |   | '_ \ / _ \/ __| |/ /   | |\/| | ' /            |
|           | |___| | | |  __/ (__|   <    | |  | | . \            |
|            \____|_| |_|\___|\___|_|\_\___|_|  |_|_|\_\           |
|                                                                  |
| Copyright Mathias Kettner 2012             mk@mathias-kettner.de |
+------------------------------------------------------------------+

This file is part of Check_MK.
The official homepage is at http://mathias-kettner.de/check_mk.

check_mk is free software;  you can redistribute it and/or modify it
under the  terms of the  GNU General Public License  as published by
the Free Software Foundation in version 2.  check_mk is  distributed
in the hope that it will be useful, but WITHOUT ANY WARRANTY;  with-
out even the implied warranty of  MERCHANTABILITY  or  FITNESS FOR A
PARTICULAR PURPOSE. See the  GNU General Public License for more de-
tails.  You should have received  a copy of the  GNU  General Public
License along with GNU Make; see the file  COPYING.  If  not,  write
to the Free Software Foundation, Inc., 51 Franklin St,  Fifth Floor,
Boston, MA 02110-1301 USA.
*/


// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$white:		rgb(255, 255, 255);
$black:		rgb(0, 0, 0);
$warning:	rgb(255, 254, 68); // alt (more of an orange): rgb(255, 160, 66)
$danger:	rgb(255, 50, 50);
$success:	rgb(19, 211, 137);
$info:		rgb(255, 235, 131); //maybe an alternative rgb(255, 254, 68)
$grey-1:	rgb(250, 250, 250);
$grey-2:	rgb(189, 189, 189);
$grey-3:	rgb(68, 68, 68);
$grey-4:	rgb(51, 51, 51);
$grey-5:	rgb(50, 50, 50);
$grey-6:	rgb(40, 40, 40);
$grey-7:	rgb(33, 33, 33);
$shadow:	rgba(33, 33, 33, .35);
$darkgrey:      rgb(131, 131, 131); // dark grey
$yellow:        rgb(255, 215, 3); // yellow

$lightgrey:     rgb(220, 220, 220); // light grey

$color-text:                          $lightgrey;
$color-background:                    $grey-5; // light grey

$color-text-light:                    $lightgrey; // light grey


// -----------------------------------------------------------------------------
// Global toggles
// -----------------------------------------------------------------------------
$enable-rounded:  true;


// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$font-family-sans-serif:  "Lato", "Roboto", Helvetica, Arial, sans-serif;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-default:	  $font-family-sans-serif;

$font-size__base:	  1rem; // Assumes the browser default, typically `16px`
$font-size-global:	  12px;
$font-size-default:       11px;
$font-size-small:         10px;

$font-weight-default:	  400;
$font-weight-bold:	  700;

$letter-spacing-default:  .5px;
$letter-spacing-table:    1px;

$primary-font-color:			    $color-text;
$secondary-font-color:			    $color-text;
$primary-hover-font-color:		    $grey-1;
$primary-sidebar-font-color:		    $color-text;


// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------
$bg-color-default:	  $grey-3;
$bg-color-secondary:	  $grey-6;
$bg-color-tertiary:	  $grey-7;


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
$button-background-hover:             lighten($grey-7, 10%);
$button-border:                       rgb(217, 217, 217);
$button-height:                       28px;


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------
$theme-border-radius:                       4px;


// -----------------------------------------------------------------------------
// States
// -----------------------------------------------------------------------------
$color-state-1-background:	    $warning;
$color-state-1-border:		    $warning;

$color-state-2-background:            $danger;
$color-state-2-border:                mix($black, $danger, 30%);

$color-state-3-background:            rgb(255, 179, 0);
$color-state-3-border:                rgb(255, 179, 0);

$color-state-4-background:            rgb(136, 136, 136);
$color-state-4-border:                rgb(123, 123, 123);

$color-state-5-background:            rgb(72, 203, 240);

$color-state-6-background:            rgb(185, 236, 250);

$color-state-7-background:            rgb(233, 128, 110);

$color-state-8-background:            rgb(241, 174, 162);

$color-state-9-background:            rgb(191, 90, 191);

$color-state-error-border:            rgb(226, 40, 40); // red

$color-state-success-background:      $success; // green
$color-state-success-border:          mix($black, $success, 30%); // green

$color-perfometer-title:              $grey-7;


// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------
$color-table-border:                  $grey-7; // grey
$color-table-background:              $grey-6; // light grey

$color-table-border-dark:             $grey-7; // dark grey
$color-table-background-dark:         $grey-7; // dark grey

$color-table-border-dark-2:           rgb(49, 54, 56); // dark grey

$theme-font-table-header:                   16px;


// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
$color-sidebar-background:            $grey-7; // dark grey
$color-sidebar-border:                $grey-5;

$theme-snapin-width:                        262px;


// -----------------------------------------------------------------------------
// Nuances (Colors only used once)
// -----------------------------------------------------------------------------
$color-nuance-1:                      rgb(175, 178, 198); // blue grey
$color-nuance-2:                      rgb(170, 255, 187); // light green
$color-nuance-3:                      rgb(130, 136, 166); // dark grey
$color-nuance-4:                      rgb(246, 247, 248); // light grey
$color-nuance-5:                      rgb(197, 197, 197); // grey
$color-nuance-6:                      rgb(255, 235, 131); // == $info; yellow
$color-nuance-7:                      rgb(51, 51, 51); // dark grey
$color-nuance-8:                      rgb(215, 215, 215); // grey
$color-nuance-9:                      rgb(207, 207, 207); // grey
$color-nuance-10:                     rgb(25, 28, 29); // grey
$color-nuance-11:                     rgb(34, 47, 51); // dark grey
$color-nuance-12:                     rgb(158, 226, 115); // green
$color-nuance-13:                     rgb(243, 244, 246); // light grey
$color-nuance-14:                     rgba(37, 41, 42, .3); // transparent grey
$color-nuance-15:                     rgb(130, 50, 50); // dark red
$color-nuance-16:                     rgb(251, 159, 73); // orange
$color-nuance-17:                     rgb(161, 230, 248); // light blue


// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------
$tag-margin:                                0 5px 2px 0;
$tag-padding:                               .1em .3em;
$tag-font-color:			    rgb(240, 240, 240);
$tag-opacity:				    .6;
$tag-discovered-opacity:		    .7;
$tag-hover-opacity:			    .8;

$tag-input-bg-color:			    rgb(85, 85, 85);
$tag-dropdown-active-color:		    $tag-font-color;
$tag-dropdown-active-bg-color:		    $grey-3;


// -----------------------------------------------------------------------------
// Temporary variables for implementing the dark theme
// These should be put into a more intuitive naming structure afterwards.
// -----------------------------------------------------------------------------

$primary-link-color:	  		    $grey-2;
$secondary-link-color:			    $grey-2;

$primary-border:			    1px solid $grey-7;
$primary-table-border:			    $primary-border;
$secondary-table-border:		    1.8px solid $grey-7;

$primary-th-bg-color:			    $grey-7;
$primary-td-bg-color:			    $grey-6;

$primary-box-shadow:			    none;
$primary-border-radius:			    4px;

$dashboard-stats-bg-color:		    transparent;
$dashboard-tr-border-bottom:		    2px solid $grey-7;

$checkbox-border-color:			    $grey-3;
$checkbox-shadow:			    $grey-3;
$checkbox-checked-color:		    $primary-font-color;
$checkbox-checked-bg-color:		    $grey-3;

$toggle-switch-on-bg-color:		    rgb(20, 118, 20);
$toggle-switch-on-border:		    1px solid rgb(40, 60, 40);
$toggle-switch-off-bg-color:		    rgb(164, 0, 0);
$toggle-switch-off-border:		    1px solid rgb(70, 40, 40);
$toggle-switch-font-color:		    $color-text;
$toggle-switch-height:			    15px;
$toggle-switch-font-weight:		    400;

$toggle-button-off-border:		    1px solid $grey-7;
$toggle-button-down-bg-color:		    $grey-3;
$toggle-button-down-border-color:	    null;
$toggle-button-down-hover-bg-color:	    lighten($grey-3, 10%);
$toggle-button-down-hover-border-color:	    null;
$toggle-button-search-img-filter:	    invert(20%);

$success-bg-color:			    $bg-color-default;

$treeangle-img-filter:			    invert(20%);
$treeangle-img-filter-sidebar:		    $treeangle-img-filter;

$color-div-border-color:		    $grey-7;

$success-alert-bg-color:		    $grey-3;
$success-alert-border-color:		    $grey-3;

$data-container-bg-color:		    $grey-6;
$data-container-border:			    1px solid $grey-7;

$oddeven-table-bg-color:		    null;
$data-td-bg-color:			    null;
$data-table-border-collapse:		    collapse;
$data-table-border-spacing:		    0;
$data-table-border-topmost:		    null;
$data-table-border-top:			    $primary-table-border;
$data-table-border-bottom:		    $secondary-table-border;
$data-table-state-border-top:		    none !important;
$data-table-state-border-bottom:	    $secondary-table-border !important;

$input-button-bg-color:			    $grey-3;
$input-button-hover-bg-color:		    lighten($grey-3, 10%);
$input-button-color:			    $color-text;

$odd-tr-bg-color:			    $grey-7;
$even-tr-bg-color:			    $grey-5;

$tr-data-border-bottom:			    1.8px solid $grey-7;

$floatfilter-bg-color:			    null;

$select2-border-color:			    $grey-7;
$select2-rendered-color:		    $color-text;
$select2-selected-bg-color:		    $grey-5;
$select2-highlighted-bg-color:		    rgb(93, 93, 93);

$td-single-bg-color:			    null;
$wato-tr-bg-color:			    null;
$wato-a-hover-bg-color:			    mix($white, $grey-6, 10%);

$td-unused-color:			    $grey-2;

$color-div-box-shadow:			    null;

$graph-legend-color:			    $color-text !important;

$dark-font-color:			    $grey-7 !important;

$body-dashlet-bg-color:			    $grey-6;
$dashlet-bg-color:			    $grey-6;

$tactical-overview-th-font-color:	    $color-text;
$tactical-overview-td-bg-color:		    $grey-3;

$sidebar-iconbutton-bg-color:		    $grey-5;
$sidebar-iconbutton-border-color:	    transparent;

$table-header-border-bottom:		    1px solid $grey-5;

$state-border-top-color:		    $grey-6;

$body-side-bg-color:			    $grey-5;

$td-gap-bg-color:			    $grey-6;
$td-border-left-right:			    none;

$td-text-overflow:			    ellipsis;

$span-dots-color:			    $grey-1;

$tr-odd3-bg-color:			    $grey-5;
$tr-even3-bg-color:			    $grey-6;

$graph-bg-color:			    $grey-6 !important;
$graph-legend-th-border-bottom:		    1px solid $grey-1;
$graph-time-color:			    $color-text;

$dashlet-stats-border-top-color:	    $grey-6;
$dashlet-title-border-radius:		    0;

$snapin-border:				    1px solid $grey-7;
$snapin-border-top:			    null;
$snapin-border-bottom:			    null;

$wato-a-border:				    1px solid rgb(33, 33, 33);

$wato-subtitle-color:			    $grey-2;

$footnote-link-color:			    $color-text;

$table-data-single-padding:		    2px 0;
$td-single-left-border-right:		    null;
$td-single-left-padding:		    2px 36px 2px 16px;

$host-diag-success-bg-color:		    rgb(50, 80, 50);
$host-diag-failed-bg-color:		    $color-nuance-15;


$wato-inherited-color:			    $grey-2;

$hot-bg-color:				    rgb(255, 160, 66);
$hot-font-color:			    $grey-7;

$input-hover-bg-color:			    null;

$data-th-sort-hover-bg-color:		    null;

$wato-h3-margin-bottom:			    4px;
$wato-data-th-bg-color:			    $grey-6;
$wato-data-table-border:		    10px solid $grey-6;
$wato-data-table-border-bottom:		    none;
$wato-data-table-box-shadow:		    0 0 0 1px rgb(33, 33, 33);

$wato-post-contextlinks-border-top:	    19px solid $grey-6;

$wato-info-margin:			    0;
$wato-info-padding:			    10px 0 10px 10px;

$ac-test-details-td-padding:		    4px 5px;

$groupheader-first-padding-top:		    0;

$boxlayout-tr-bg-color:			    null;

$age-font-color:			    rgb(150, 150, 150);

$mk-search-results-bg-color:		    $grey-3;
$mk-search-results-hover-bg-color:	    rgb(93, 93, 93);
$mk-search-results-border:		    $primary-border;

$repprogress-msg-color:			    rgb(100, 100, 100);
$repprogress-progress-bg-color:		    rgb(105, 156, 170);	// darkened state6 bg color
$repprogress-progress-border-color:	    rgb(111, 180, 198); // darkened nuance17

$first-child-border-radius:		    $primary-border-radius;
$last-child-border-radius:		    $primary-border-radius;

$nform-table-hr-color:			    rgba(255, 255, 255, .1);

$iconbutton-filter:			    invert(40%);

$multiple-select-bg-color:		    $grey-5;
$popup-menu-select-bg-color:		    $grey-5;

$input-focus-box-shadow-color:		    $grey-2;

$dragging-bg-color:			    $grey-5;

$invtree-th-bg-color:			    $grey-3;
$invtree-td-bg-color:			    rgb(100, 100, 100);

$availability-table-border-color:	    $grey-7;
$availability-summary-bg-color:		    null;
$lightened-state0-bg-color:		    lighten($color-state-success-background, 10%);
$lightened-state1-bg-color:		    lighten($color-state-1-background, 10%);
$lightened-state2-bg-color:		    lighten($color-state-2-background, 10%);
$lightened-state3-bg-color:		    lighten($color-state-3-background, 10%);
$unmonitored-font-color:		    $grey-7;
$unmonitored-bg-color:			    rgb(134, 134, 134);
$lightened-unmonitored-bg-color:	    lighten($unmonitored-bg-color, 10%);
$hostdown-bg-color:			    rgb(0, 102, 170);
$lightened-hostdown-bg-color:		    lighten($hostdown-bg-color, 10%);

$nform-vlof-border-color:		    rgb(60, 60, 60);

// Added by Baris - Review with Kenneth
$availability-data-table-border:	    $wato-data-table-border;
$availability-data-th-bg-color:		    $wato-data-th-bg-color;
$availability-data-table-box-shadow:	    $wato-data-table-box-shadow;

$data-table-td-count-state-border-color:    $grey-7 !important;

$timelineevents-data-table-border:	    $wato-data-table-border;
$timelineevents-data-th-bg-color:	    $wato-data-th-bg-color;
$timelineevents-data-table-box-shadow:	    $wato-data-table-box-shadow;

$table-cell-last-child-border-radius:	    0;

$duallist-control-a-hover-bg-color:	    $wato-a-hover-bg-color;

$side-content-top:                          null;
$snapin-margin:				    4px 0;
$sidebar-ends-margin:			    3px;

$main-body-padding:			    65px 12px 60px;

$snapin-cmc-table-width:                    100%;
$snapin-list-color:			    $white;

$performance-table-shared-padding:          8px 0;


// -----------------------------------------------------------------------------
// Node visualization
// -----------------------------------------------------------------------------
$node-vis-darkgrey:			    rgb(169, 169, 169);
$node-vis-togglebox-enabled:		    rgb(94, 93, 93);
$node-vis-search-box-border:		    none;
$node-vis-search-box-bg-color:		    transparent;
$node-vis-search-field-border-color:	    $grey-3;
$node-vis-box-shadow:			    none;
$node-vis-box-border:			    1px solid $grey-3;
$node-vis-toggle-hover-bg-color:	    rgb(94, 93, 93); // grey
$node-vis-toggle-down-bg-color:		    null;
$node-vis-toggle-down-border-color:	    null;
$node-vis-menu-bg-color:		    $grey-5;
$node-vis-history-bg-color:		    $grey-1;
$node-vis-history-border-color:		    $grey-1;
$node-vis-history-filter:		    invert(70%);
$node-vis-growth-img-filter:		    invert(100%);
$node-vis-growth-root-color:		    $node-vis-darkgrey; // blue
$topology-filter-bg-color:		    $grey-5;
$topology-filter-border-color:		    $grey-7;

$host-folder-font-color:		    $color-text;

$snapin-link-hover-color:		    $grey-1;

$if-state-up-font-color:		    $grey-7;

$foldertree-snapin-bg-color:		    $grey-3;
$foldertree-snapin-font-color:		    $primary-sidebar-font-color;

$table-headerleft-border-bottom:	    1px solid $grey-5;

$agent-config-inner-title-bg-color:	    $grey-5;
$agent-config-td-color:			    $color-text;

$service-container-groupheader-bg-color:    $grey-6;

$pnp4nagios-img-filter:			    invert(84%);

$matches-search-bg-color:		    darken($success, 5%);
$matches-search-font-color:		    $grey-7;

$help-bg-color:				    rgba(255, 235, 131, .85);
$help-link-color:			    $grey-7;

$minority-font-color:			    $grey-7;

$button-spacer-color:			    rgb(90, 90, 90);

$td-h3-margin-top:			    4px;

$timeline-hilite-border:		    2px solid rgb(220, 220, 220) !important;
$timetable-hilite-filter:		    null;
$timetable-hilite-even-bg-color:	    lighten($grey-5, 15%);
$timetable-hilite-odd-bg-color:		    lighten($grey-7, 15%);

$pnp-graph-img-border-color:		    rgb(240, 240, 240);
$graph-hover-popup-font-color:		    $color-text;
$graph-hover-popup-bg-color:		    $grey-6;
$graph-hover-popup-border:		    1px solid $grey-3;
$graph-hover-popup-box-shadow:		    none;

$globalvars-modified-border-color:	    $grey-3;
$globalvars-modified-box-shadow:	    null;
$globalvars-modified-globally-box-shadow:   null;

$dashlet-inner-bg-color:		    $grey-6;

$states-font-color:			    $grey-7;
$statep-font-color:			    $grey-1;
$state3-font-color:			    $grey-7;
