

  ____ _               _              _
 / ___| |__   ___  ___| | ___ __ ___ | | __
| |   | '_ \ / _ \/ __| |/ / '_ ` _ \| |/ /
| |___| | | |  __/ (__|   <| | | | | |   <
 \____|_| |_|\___|\___|_|\_\_| |_| |_|_|\_\

               Cloud Monitoring

To create a new site run

   sudo omd create <name of site>
   sudo omd start <name of site>

The omd command will show you the password for the default admin account.
