annotated_types
apispec
apispec-oneofschema
cryptography
docstring-parser
exchangelib
fastapi
feedparser
fido2
flask
GitPython
icalendar
jinja2
jira
lxml
marshmallow
marshmallow-oneofschema
meraki
msal
numpy
oauthlib
openapi-spec-validator
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
opentelemetry-semantic-conventions
oracledb
paho-mqtt
paramiko
pillow
protobuf
psutil
psycopg2-binary
pyasn1
pydantic
pydantic_core
pyjwt[crypto]
pymssql
pymysql
pyopenssl
pyparsing
pypdf
pyprof2calltree
pysaml2
pysmb
pysmi
python-active-directory
python-dateutil
python-ldap
python-snap7
pyyaml
recurring_ical_events
redis
reportlab
requests
requests-oauthlib
roman
setproctitle
setuptools
setuptools-scm
starlette
tzlocal
urllib3
uvicorn
watchdog
werkzeug
